In [2]:
import pandas as pd
df=pd.read_csv("chapter3.csv")

In [3]:
avg_price=df.groupby("Area")["Price"].mean()
print(avg_price)

Area
AMPANG                  826767.578947
BANDAR TASIK SELATAN    277032.569231
BANGSAR SOUTH           516024.956522
BUKIT BINTANG           741131.018634
BUKITJALIL              504960.473230
CHERAS                  381885.212569
DESA PETALING           305774.909091
KEPONG                  323982.778511
KUCHAI LAMA             552164.099042
PANDAN INDAH            283987.243028
SENTUL                  409653.713671
SETIAWANGSA             531736.325843
SRI DAMANSARA           367096.681081
TAMAN MELAWATI          556412.883838
Name: Price, dtype: float64

In [4]:
avg_price.sort_values(ascending=False)

Area
AMPANG                  826767.578947
BUKIT BINTANG           741131.018634
TAMAN MELAWATI          556412.883838
KUCHAI LAMA             552164.099042
SETIAWANGSA             531736.325843
BANGSAR SOUTH           516024.956522
BUKITJALIL              504960.473230
SENTUL                  409653.713671
CHERAS                  381885.212569
SRI DAMANSARA           367096.681081
KEPONG                  323982.778511
DESA PETALING           305774.909091
PANDAN INDAH            283987.243028
BANDAR TASIK SELATAN    277032.569231
Name: Price, dtype: float64

In [5]:
df.groupby("Area")["Price"].count().sort_values(ascending=False)

Area
CHERAS                  2705
KEPONG                  1061
SENTUL                   929
BUKITJALIL               579
TAMAN MELAWATI           396
KUCHAI LAMA              313
SETIAWANGSA              267
AMPANG                   266
DESA PETALING            253
PANDAN INDAH             251
BANGSAR SOUTH            230
BANDAR TASIK SELATAN     195
SRI DAMANSARA            185
BUKIT BINTANG            161
Name: Price, dtype: int64

In [6]:
df.groupby("Area").agg({"Price":"mean", "Bedrooms":"mean"})

                              Price  Bedrooms
Area
AMPANG                826767.578947  2.804511
BANDAR TASIK SELATAN  277032.569231  2.953846
BANGSAR SOUTH         516024.956522  2.852174
BUKIT BINTANG         741131.018634  1.937888
BUKITJALIL            504960.473230  3.003454
CHERAS                381885.212569  3.014787
DESA PETALING         305774.909091  2.920949
KEPONG                323982.778511  3.028275
KUCHAI LAMA           552164.099042  3.169329
PANDAN INDAH          283987.243028  2.816733
SENTUL                409653.713671  2.912809
SETIAWANGSA           531736.325843  3.067416
SRI DAMANSARA         367096.681081  2.870270
TAMAN MELAWATI        556412.883838  2.891414

In [7]:
df.loc[df.groupby("Area")["Price"].idxmax()]

,Unnamed: 0,Title,Price,Area,Category,Size,Bedrooms,Bathrooms
74,74,"Rimbun Luxury Triplex Penthouse, Ampang Hilir,...",25000000,AMPANG,Apartments,17000 sq.ft.,8,10
282,282,"[BUMI LOT] Anyaman Residence, Bandar Tasik Sel...",650000,BANDAR TASIK SELATAN,Apartments,1300 sq.ft.,4,2
471,471,Eco-Modernity Dual-Key Condo Bangsar South,2680000,BANGSAR SOUTH,Apartments,3132 sq.ft.,6,6
837,837,Fully Furnished Corner Pavillion Residence 2 p...,6200000,BUKIT BINTANG,Apartments,2405 sq.ft.,4,4
1094,1094,Vista Komanwel C1,6200000,BUKITJALIL,Apartments,1400 sq.ft.,4,2
3416,3416,Taman Yulek cheras,3800000,CHERAS,Apartments,1500 sq.ft.,10,2
4337,4337,Nidoz Residence 5r2b1c P/F Desa Petaling Tbs S...,1100000,DESA PETALING,Apartments,1219 sq.ft.,5,2
5011,5011,"Three33 residence , kepong baru, kuala lumpur",5900000,KEPONG,Apartments,880 sq.ft.,3,2
5585,5585,"Le Yuan Residence, Happy Garden Kuchai Lama Ku...",9000000,KUCHAI LAMA,Apartments,1710 sq.ft.,4,4
5901,5901,"D'PINES Ampang Condominium,Near LRT Pandan Ind...",645000,PANDAN INDAH,Apartments,1602 sq.ft.,3,2
6573,6573,FreeHold Sentul Point 2Room2Bath Rm347k Free S...,3470000,SENTUL,Apartments,743 sq.ft.,2,2
6978,6978,[ FREEHOLD + GROUND FLOOR ] Seri Maya Condomin...,1600000,SETIAWANGSA,Apartments,3551 sq.ft.,5,5
7237,7237,D'sara Foresta Penthouse (Rare / Limited / Bra...,1688888,SRI DAMANSARA,Apartments,3150 sq.ft.,7,5
7510,7510,The veo condominium kl east taman melawati,1700000,TAMAN MELAWATI,Apartments,2271 sq.ft.,4,3

In [8]:
df.loc[df.groupby("Area")["Price"].idxmin()]

,Unnamed: 0,Title,Price,Area,Category,Size,Bedrooms,Bathrooms
250,250,Rumah Kedai Pandan Utama 2 Ampang,116640,AMPANG,Apartments,740 sq.ft.,3,2
340,340,Apartment Pangsapuri Seri Malaysia Kuala Lumpur,129600,BANDAR TASIK SELATAN,Apartments,657 sq.ft.,3,2
640,640,"Flat Pantai Dalam, Bangsar South, Taman Pantai...",160000,BANGSAR SOUTH,Apartments,650 sq.ft.,2,1
775,775,Level 4 Pangsapuri Pudu Impian Pudu Ulu KL,199000,BUKIT BINTANG,Apartments,650 sq.ft.,3,2
980,980,"(CashBack40k) Pangsapuri Enggang Apartment, Ba...",160000,BUKITJALIL,Apartments,680 sq.ft.,3,2
1823,1823,Pangsapuri Wira 820sqf Tmn Tun Perak Cheras HO...,22000,CHERAS,Apartments,820 sq.ft.,3,2
4377,4377,"Pangsapuri Desa Sri Puteri, Desa Petaling",105000,DESA PETALING,Apartments,581 sq.ft.,2,1
4474,4474,"A 4 Storey Shop Apartment, Taman Intan Baiduri...",94770,KEPONG,Apartments,674 sq.ft.,2,1
5513,5513,"Below Market Kuchai Jaya Flat 560sf 3R1B, Kuch...",78000,KUCHAI LAMA,Apartments,560 sq.ft.,3,1
5798,5798,"Lembah maju pandan indah, jalan pandan aman pa...",105000,PANDAN INDAH,Apartments,572 sq.ft.,2,1
6016,6016,Flat Sri Pangkor Sentul Pasar Kuala Lumpur For...,135000,SENTUL,Apartments,650 sq.ft.,2,1
7118,7118,"Kelumpuk Cemperling A, Dekat AEON AU2 Setiawan...",165000,SETIAWANGSA,Apartments,560 sq.ft.,2,1
7372,7372,Sri cemara apartment sri damansara kepong,100000,SRI DAMANSARA,Apartments,600 sq.ft.,3,1
7443,7443,"STRATA READY | Flat Melati F8, Taman Melati, S...",175000,TAMAN MELAWATI,Apartments,581 sq.ft.,2,1

In [9]:
df.groupby("Area")["Price"].rank(ascending=False)

0        52.0
1       160.0
2       160.0
3        88.0
4        76.0
        ...
7786    311.5
7787    125.5
7788    363.0
7789    116.0
7790    321.5
Name: Price, Length: 7791, dtype: float64

In [10]:
df.groupby("Area").apply(lambda x: x.nlargest(3, "Price"))

C:\Users\TTA\AppData\Local\Temp\ipykernel_11844\1477135592.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby("Area").apply(lambda x: x.nlargest(3, "Price"))

                           Unnamed: 0  \
Area
AMPANG               74            74
                     72            72
                     76            76
BANDAR TASIK SELATAN 282          282
                     308          308
                     325          325
BANGSAR SOUTH        471          471
                     513          513
                     561          561
BUKIT BINTANG        837          837
                     843          843
                     760          760
BUKITJALIL           1094        1094
                     1202        1202
                     1009        1009
CHERAS               3416        3416
                     1510        1510
                     3361        3361
DESA PETALING        4337        4337
                     4229        4229
                     4348        4348
KEPONG               5011        5011
                     4692        4692
                     5260        5260
KUCHAI LAMA          5585        5585
                     5738        5738
                     5660        5660
PANDAN INDAH         5901        5901
                     5872        5872
                     5845        5845
SENTUL               6573        6573
                     6219        6219
                     6574        6574
SETIAWANGSA          6978        6978
                     7149        7149
                     7096        7096
SRI DAMANSARA        7237        7237
                     7377        7377
                     7394        7394
TAMAN MELAWATI       7510        7510
                     7756        7756
                     7706        7706

                                                                       Title  \
Area
AMPANG               74    Rimbun Luxury Triplex Penthouse, Ampang Hilir,...
                     72    Madge Mansions Condominium Taman U-Thant KL wi...
                     76    [SPACIOUS UNIT] Rimbun Embassy Row, Ampang Hil...
BANDAR TASIK SELATAN 282   [BUMI LOT] Anyaman Residence, Bandar Tasik Sel...
                     308                      Anyaman Residence direct owner
                     325   CONDOMINIUM ANYAMAN RESIDENCE at BANDAR TASIK ...
BANGSAR SOUTH        471          Eco-Modernity Dual-Key Condo Bangsar South
                     513   [ HOT MARKET ] The Park Residences, Bangsar So...
                     561     Below Value at Bangsar South The Park Residence
BUKIT BINTANG        837   Fully Furnished Corner Pavillion Residence 2 p...
                     843                                          Condo KLCC
                     760   BELOW MARKET Pavilion suite kl fully furnish l...
BUKITJALIL           1094                                  Vista Komanwel C1
                     1202  The Treez Residen Bukit Jalil 3 Storey Pethhou...
                     1009  Super nice view Penthouse duplex Twin Arkz Buk...
CHERAS               3416                                 Taman Yulek cheras
                     1510            The Mews Condo KLCC, City Centre 1271sf
                     3361                             Alam damai corner lot
DESA PETALING        4337  Nidoz Residence 5r2b1c P/F Desa Petaling Tbs S...
                     4229    New Condo Nidoz Residence KLCC View Big Balcony
                     4348  Nidoz Residences Desa Petaling,Fully Furnished...
KEPONG               5011      Three33 residence , kepong baru, kuala lumpur
                     4692        Dua Menjalara 3483 sqf Penthouse Fully Reno
                     5260  BELOW MARKET price Dua menjalara condo desa pa...
KUCHAI LAMA          5585  Le Yuan Residence, Happy Garden Kuchai Lama Ku...
                     5738              Seringin Residences Condo Kuchai Lama
                     5660                   Seringin residential kuchai lama
PANDAN INDAH         5901  D'PINES Ampang Condominium,Near LRT Pandan Ind...
                     5872  Green Residence 4room 1611sqf freehold aeon ma...
                     5845  GreenResidence 610K 4room 4carpark c emeraldhi...
SENTUL               6573  FreeHold Sentul Point 2Room2Bath Rm347k Free S...
                     6219  [RENOVATED | CANTIK] Sentul Utama Condominium,...
                     6574  The Capers, Fennel 5R5B2CP near LRT Sentul [FO...
SETIAWANGSA          6978  [ FREEHOLD + GROUND FLOOR ] Seri Maya Condomin...
                     7149  (SPACIOUS DUPLEX), Seri Maya Condominium, Seti...
                     7096  Cheap & Negotiable Duplex Penthouse 2709sf One...
SRI DAMANSARA        7237  D'sara Foresta Penthouse (Rare / Limited / Bra...
                     7377            Azelia Condominium Bandar Sri Damansara
                     7394              Azelia Residence Condominium, 1905 sf
TAMAN MELAWATI       7510         The veo condominium kl east taman melawati
                     7756  20trees First Floor Facing Club House For Selling
                     7706                The Veo, Taman Melawati Duplex Unit

                              Price                  Area    Category  \
Area
AMPANG               74    25000000                AMPANG  Apartments
                     72    10500000                AMPANG  Apartments
                     76     7500000                AMPANG  Apartments
BANDAR TASIK SELATAN 282     650000  BANDAR TASIK SELATAN  Apartments
                     308     650000  BANDAR TASIK SELATAN  Apartments
                     325     650000  BANDAR TASIK SELATAN  Apartments
BANGSAR SOUTH        471    2680000         BANGSAR SOUTH  Apartments
                     513    1350000         BANGSAR SOUTH  Apartments
                     561    1350000         BANGSAR SOUTH  Apartments
BUKIT BINTANG        837    6200000         BUKIT BINTANG  Apartments
                     843    3980000         BUKIT BINTANG  Apartments
                     760    3880000         BUKIT BINTANG  Apartments
BUKITJALIL           1094   6200000            BUKITJALIL  Apartments
                     1202   3690000            BUKITJALIL  Apartments
                     1009   2000000            BUKITJALIL  Apartments
CHERAS               3416   3800000                CHERAS  Apartments
                     1510   2100000                CHERAS  Apartments
                     3361   1600000                CHERAS  Apartments
DESA PETALING        4337   1100000         DESA PETALING  Apartments
                     4229    850000         DESA PETALING  Apartments
                     4348    750000         DESA PETALING  Apartments
KEPONG               5011   5900000                KEPONG  Apartments
                     4692   1800000                KEPONG  Apartments
                     5260   1650000                KEPONG  Apartments
KUCHAI LAMA          5585   9000000           KUCHAI LAMA  Apartments
                     5738   1680000           KUCHAI LAMA  Apartments
                     5660   1600000           KUCHAI LAMA  Apartments
PANDAN INDAH         5901    645000          PANDAN INDAH  Apartments
                     5872    620000          PANDAN INDAH  Apartments
                     5845    610000          PANDAN INDAH  Apartments
SENTUL               6573   3470000                SENTUL  Apartments
                     6219   3200000                SENTUL  Apartments
                     6574   1300000                SENTUL  Apartments
SETIAWANGSA          6978   1600000           SETIAWANGSA  Apartments
                     7149   1600000           SETIAWANGSA  Apartments
                     7096   1599000           SETIAWANGSA  Apartments
SRI DAMANSARA        7237   1688888         SRI DAMANSARA  Apartments
                     7377   1388000         SRI DAMANSARA  Apartments
                     7394   1250000         SRI DAMANSARA  Apartments
TAMAN MELAWATI       7510   1700000        TAMAN MELAWATI  Apartments
                     7756   1605000        TAMAN MELAWATI  Apartments
                     7706   1588888        TAMAN MELAWATI  Apartments

                                     Size  Bedrooms  Bathrooms
Area
AMPANG               74      17000 sq.ft.         8         10
                     72       7825 sq.ft.         5          5
                     76       4412 sq.ft.         5          6
BANDAR TASIK SELATAN 282      1300 sq.ft.         4          2
                     308      1300 sq.ft.         4          2
                     325      1300 sq.ft.         4          2
BANGSAR SOUTH        471      3132 sq.ft.         6          6
                     513      2068 sq.ft.         4          4
                     561      2068 sq.ft.         4          4
BUKIT BINTANG        837      2405 sq.ft.         4          4
                     843      3300 sq.ft.         4          4
                     760      1254 sq.ft.         2          2
BUKITJALIL           1094     1400 sq.ft.         4          2
                     1202     4500 sq.ft.         5          5
                     1009     2365 sq.ft.         4          4
CHERAS               3416     1500 sq.ft.        10          2
                     1510     1271 sq.ft.         2          2
                     3361     3800 sq.ft.         5          4
DESA PETALING        4337     1219 sq.ft.         5          2
                     4229     1329 sq.ft.         4          2
                     4348     1219 sq.ft.         4          2
KEPONG               5011      880 sq.ft.         3          2
                     4692     3483 sq.ft.         4          5
                     5260     3122 sq.ft.         3          4
KUCHAI LAMA          5585     1710 sq.ft.         4          4
                     5738     2638 sq.ft.         4          4
                     5660     2638 sq.ft.         4          4
PANDAN INDAH         5901     1602 sq.ft.         3          2
                     5872     1611 sq.ft.         4          5
                     5845     1611 sq.ft.         4          5
SENTUL               6573      743 sq.ft.         2          2
                     6219      877 sq.ft.         3          2
                     6574     2049 sq.ft.         5          5
SETIAWANGSA          6978     3551 sq.ft.         5          5
                     7149     3551 sq.ft.         4          5
                     7096  1599000 sq.ft.         6          6
SRI DAMANSARA        7237     3150 sq.ft.         7          5
                     7377     2110 sq.ft.         4          4
                     7394     1905 sq.ft.         4          4
TAMAN MELAWATI       7510     2271 sq.ft.         4          3
                     7756     3556 sq.ft.         6          5
                     7706     2900 sq.ft.         3          3

In [11]:
df[["Price", "Bedrooms", "Bathrooms"]].corr()

              Price  Bedrooms  Bathrooms
Price      1.000000  0.257580   0.448054
Bedrooms   0.257580  1.000000   0.625183
Bathrooms  0.448054  0.625183   1.000000

In [12]:
df.nlargest(10, "Price")

,Unnamed: 0,Title,Price,Area,Category,Size,Bedrooms,Bathrooms
74,74,"Rimbun Luxury Triplex Penthouse, Ampang Hilir,...",25000000,AMPANG,Apartments,17000 sq.ft.,8,10
72,72,Madge Mansions Condominium Taman U-Thant KL wi...,10500000,AMPANG,Apartments,7825 sq.ft.,5,5
5585,5585,"Le Yuan Residence, Happy Garden Kuchai Lama Ku...",9000000,KUCHAI LAMA,Apartments,1710 sq.ft.,4,4
76,76,"[SPACIOUS UNIT] Rimbun Embassy Row, Ampang Hil...",7500000,AMPANG,Apartments,4412 sq.ft.,5,6
73,73,"[FULLY FURNISHED] Rimbun Embassy Row, Ampang H...",6500000,AMPANG,Apartments,3551 sq.ft.,4,5
837,837,Fully Furnished Corner Pavillion Residence 2 p...,6200000,BUKIT BINTANG,Apartments,2405 sq.ft.,4,4
1094,1094,Vista Komanwel C1,6200000,BUKITJALIL,Apartments,1400 sq.ft.,4,2
142,142,[EXCLUSIVE] Dedaun Luxury Duplex Penthouse Tam...,5900000,AMPANG,Apartments,7128 sq.ft.,5,6
5011,5011,"Three33 residence , kepong baru, kuala lumpur",5900000,KEPONG,Apartments,880 sq.ft.,3,2
71,71,"[SPACIOUS LUXURY CONDO] Rimbun Embassy Row, Am...",5603240,AMPANG,Apartments,4412 sq.ft.,5,6

In [13]:
df.nsmallest(10, "Price")

,Unnamed: 0,Title,Price,Area,Category,Size,Bedrooms,Bathrooms
1823,1823,Pangsapuri Wira 820sqf Tmn Tun Perak Cheras HO...,22000,CHERAS,Apartments,820 sq.ft.,3,2
5513,5513,"Below Market Kuchai Jaya Flat 560sf 3R1B, Kuch...",78000,KUCHAI LAMA,Apartments,560 sq.ft.,3,1
4088,4088,Apartment Kelisa Ria Kajang,85000,CHERAS,Apartments,650 sq.ft.,3,2
5728,5728,Tmn kuchai jaya flat kuchai lama NSK,88000,KUCHAI LAMA,Apartments,505 sq.ft.,2,1
5463,5463,Kuchai Jaya Flat for Sale,90000,KUCHAI LAMA,Apartments,485 sq.ft.,2,1
4474,4474,"A 4 Storey Shop Apartment, Taman Intan Baiduri...",94770,KEPONG,Apartments,674 sq.ft.,2,1
2633,2633,[BELOW MARKET] Taman Connaught Flat Cheras Kua...,98000,CHERAS,Apartments,484 sq.ft.,2,1
4418,4418,"Kepong Wangsa Permai , Impiana Shop Apartment ...",98000,KEPONG,Apartments,680 sq.ft.,3,2
1613,1613,Flat Taman Desa Cheras 56100 Kuala Lumpur,100000,CHERAS,Apartments,665 sq.ft.,3,2
7372,7372,Sri cemara apartment sri damansara kepong,100000,SRI DAMANSARA,Apartments,600 sq.ft.,3,1

In [15]:
df["Price_Category"] = pd.cut(
    df["Price"],
    bins=3,
    labels=["Low", "Medium", "High"]
)
print(df["Price_Category"])

0       Low
1       Low
2       Low
3       Low
4       Low
       ...
7786    Low
7787    Low
7788    Low
7789    Low
7790    Low
Name: Price_Category, Length: 7791, dtype: category
Categories (3, object): ['Low' < 'Medium' < 'High']

In [17]:
Q1 = df["Price"].quantile(0.25)
Q3 = df["Price"].quantile(0.75)
IQR = Q3 - Q1

outliers = df[(df["Price"] < Q1 - 1.5*IQR) | 
              (df["Price"] > Q3 + 1.5*IQR)]
print(len(outliers))

417

In [18]:
df.to_csv("chapter4.csv", index=False)