In [1]:
import pandas as pd
df=pd.read_csv("D:/Real Estate Reality AI project/datasets/housedataset.csv")

In [2]:
print(df.head())

                                               Title       Price    Area  \
0  M City Serviced Residence Jalan Ampang 886sf, ...  RM 690 000  AMPANG
1  Cheapest fully furnished suria jelatek residen...  RM 420 000  AMPANG
2  3bed 2bath Suria Jelatek Condo 5 min to LRT an...  RM 420 000  AMPANG
3  [30% Below,1037sf] Direct Subsale not Auction!...  RM 568 444  AMPANG
4  HOT area | Tiara Ampang | Near Ampang Point | ...  RM 618 000  AMPANG

     Category         Size    Bedrooms    Bathrooms
0  Apartments   886 sq.ft.  2 Bedrooms  2 Bathrooms
1  Apartments   858 sq.ft.  3 Bedrooms  2 Bathrooms
2  Apartments   860 sq.ft.  3 Bedrooms  2 Bathrooms
3  Apartments  1037 sq.ft.  3 Bedrooms  2 Bathrooms
4  Apartments  1650 sq.ft.  4 Bedrooms  2 Bathrooms

In [3]:
print("Rows x Columns", df.shape)

Rows x Columns (7791, 7)

In [4]:
print(df.describe())

                                                    Title       Price    Area  \
count                                                7791        7791    7791
unique                                               7504         849      14
top     Vista Amani Condo, Bandar Sri Permaisuri, Cher...  RM 300 000  CHERAS
freq                                                    5         257    2705

          Category        Size    Bedrooms    Bathrooms
count         7791        7791        7791         7791
unique           1         914          10            8
top     Apartments  650 sq.ft.  3 Bedrooms  2 Bathrooms
freq          7791         524        5765         6169

In [5]:
print(df["Price"].head())

0    RM 690 000
1    RM 420 000
2    RM 420 000
3    RM 568 444
4    RM 618 000
Name: Price, dtype: object

In [6]:
print(df.sort_values("Price", ascending=False).head())

                                                  Title       Price  \
846   Bintang goldhill tun razak bukit bintang near ...  RM 999 000
6178  The Capers near LRT Sentul East Free Hold Cond...  RM 999 000
480   Below Market Value Secoya Residence Bangsar So...  RM 998 000
1250  Nicely Unit ID Design Fully Furnish The Park S...  RM 995 000
481   Below Market Price Secoya Residence Bangsar So...  RM 995 000

               Area    Category         Size    Bedrooms    Bathrooms
846   BUKIT BINTANG  Apartments  1492 sq.ft.  3 Bedrooms  2 Bathrooms
6178         SENTUL  Apartments  1550 sq.ft.  3 Bedrooms  3 Bathrooms
480   BANGSAR SOUTH  Apartments  1600 sq.ft.  4 Bedrooms  4 Bathrooms
1250     BUKITJALIL  Apartments  1109 sq.ft.  3 Bedrooms  2 Bathrooms
481   BANGSAR SOUTH  Apartments  1550 sq.ft.  4 Bedrooms  4 Bathrooms

In [7]:
print(df.isnull().sum())

Title        0
Price        0
Area         0
Category     0
Size         0
Bedrooms     0
Bathrooms    0
dtype: int64

In [8]:
df["Price"] = df["Price"].str.replace("RM", "")
print(df["Price"])

0        690 000
1        420 000
2        420 000
3        568 444
4        618 000
          ...
7786     390 000
7787     585 000
7788     310 000
7789     595 000
7790     360 000
Name: Price, Length: 7791, dtype: object

In [9]:
df["Price"].str.strip()

0       690 000
1       420 000
2       420 000
3       568 444
4       618 000
         ...
7786    390 000
7787    585 000
7788    310 000
7789    595 000
7790    360 000
Name: Price, Length: 7791, dtype: object

In [10]:
df["Price"].dtype

dtype('O')

In [11]:
df["Price"].str.replace(" ", "", regex=False)

0       690000
1       420000
2       420000
3       568444
4       618000
         ...
7786    390000
7787    585000
7788    310000
7789    595000
7790    360000
Name: Price, Length: 7791, dtype: object

In [12]:
df["Price"].str.replace(" ", "", regex=False)

0       690000
1       420000
2       420000
3       568444
4       618000
         ...
7786    390000
7787    585000
7788    310000
7789    595000
7790    360000
Name: Price, Length: 7791, dtype: object

In [14]:
df["Price"].head()

0     690 000
1     420 000
2     420 000
3     568 444
4     618 000
Name: Price, dtype: object

In [15]:
df["Price"].str.strip()

0       690 000
1       420 000
2       420 000
3       568 444
4       618 000
         ...
7786    390 000
7787    585 000
7788    310 000
7789    595 000
7790    360 000
Name: Price, Length: 7791, dtype: object

In [17]:
df["Price"].str.replace(" ", "")

0       690000
1       420000
2       420000
3       568444
4       618000
         ...
7786    390000
7787    585000
7788    310000
7789    595000
7790    360000
Name: Price, Length: 7791, dtype: object

In [20]:
df["Price"].astype(float)

0       690000.0
1       420000.0
2       420000.0
3       568444.0
4       618000.0
          ...
7786    390000.0
7787    585000.0
7788    310000.0
7789    595000.0
7790    360000.0
Name: Price, Length: 7791, dtype: float64

In [22]:
df.to_csv("chapter1.csv", index=False)