In [4]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [12]:
import pandas as pd

# File path (use r before string to avoid path errors)
file_path = r"C:\Users\HARSHITHA\Downloads\price_paid_records.csv.zip"

# Load CSV from ZIP
df = pd.read_csv(file_path, compression='zip')

# Display first 5 rows
df.head()

,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
0,{81B82214-7FBC-4129-9F6B-4956B4A663AD},25000,1995-08-18 00:00,T,N,F,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A
1,{8046EC72-1466-42D6-A753-4956BF7CD8A2},42500,1995-08-09 00:00,S,N,F,GRAYS,THURROCK,THURROCK,A,A
2,{278D581A-5BF3-4FCE-AF62-4956D87691E6},45000,1995-06-30 00:00,T,N,F,HIGHBRIDGE,SEDGEMOOR,SOMERSET,A,A
3,{1D861C06-A416-4865-973C-4956DB12CD12},43150,1995-11-24 00:00,T,N,F,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE,A,A
4,{DD8645FD-A815-43A6-A7BA-4956E58F1874},18899,1995-06-23 00:00,S,N,F,WAKEFIELD,LEEDS,WEST YORKSHIRE,A,A

In [15]:
df.shape

(22489348, 11)

In [22]:
df["Price"].head()

0    25000
1    42500
2    45000
3    43150
4    18899
Name: Price, dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22489348 entries, 0 to 22489347
Data columns (total 11 columns):
 #   Column                             Dtype
---  ------                             -----
 0   Transaction unique identifier      object
 1   Price                              int64
 2   Date of Transfer                   object
 3   Property Type                      object
 4   Old/New                            object
 5   Duration                           object
 6   Town/City                          object
 7   District                           object
 8   County                             object
 9   PPDCategory Type                   object
 10  Record Status - monthly file only  object
dtypes: int64(1), object(10)
memory usage: 1.8+ GB

In [16]:
df.columns

Index(['Transaction unique identifier', 'Price', 'Date of Transfer',
       'Property Type', 'Old/New', 'Duration', 'Town/City', 'District',
       'County', 'PPDCategory Type', 'Record Status - monthly file only'],
      dtype='object')

In [17]:
df.dtypes

Transaction unique identifier        object
Price                                 int64
Date of Transfer                     object
Property Type                        object
Old/New                              object
Duration                             object
Town/City                            object
District                             object
County                               object
PPDCategory Type                     object
Record Status - monthly file only    object
dtype: object

In [18]:
df.describe()

              Price
count  2.248935e+07
mean   1.782442e+05
std    3.903677e+05
min    1.000000e+00
25%    7.500000e+04
50%    1.300000e+05
75%    2.100000e+05
max    9.890000e+07

In [19]:
df.isnull().sum()

Transaction unique identifier        0
Price                                0
Date of Transfer                     0
Property Type                        0
Old/New                              0
Duration                             0
Town/City                            0
District                             0
County                               0
PPDCategory Type                     0
Record Status - monthly file only    0
dtype: int64

In [24]:
#Filter properties above Â£500,000
high_value = df[df["Price"] > 500000]
high_value.head()

,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
727,{CD93ED14-1445-4C70-825B-5547CA30AF6F},1375000,1995-10-20 00:00,D,N,F,LONDON,BARNET,GREATER LONDON,A,A
739,{79FAC9EE-84EF-48E1-BA2A-4E12E1413152},900000,1995-11-10 00:00,F,N,L,LONDON,KENSINGTON AND CHELSEA,GREATER LONDON,A,A
912,{A11069A1-82FA-4B2A-9094-873B1AA487D2},693000,1995-06-29 00:00,F,Y,L,LONDON,CITY OF WESTMINSTER,GREATER LONDON,A,A
1785,{200EC963-058D-417E-B0DE-1722A83365A1},600000,1995-06-27 00:00,D,N,L,LONDON,CITY OF WESTMINSTER,GREATER LONDON,A,A
1934,{C9E33A02-CEF7-4183-950A-5C55B54E8620},600000,1995-03-20 00:00,D,N,F,BANBURY,CHERWELL,OXFORDSHIRE,A,A

In [25]:
#Calculate average price
df["Price"].mean()

np.float64(178244.21208765145)

In [26]:
#Group by Property Type and calculate average price
df.groupby("Property Type")["Price"].mean()

Property Type
D    2.500975e+05
F    1.749829e+05
O    1.295774e+06
S    1.489675e+05
T    1.365340e+05
Name: Price, dtype: float64

In [27]:
#Take random sample (if dataset is very large)
sample_df = df.sample(100000)  # Take 1 lakh random rows
sample_df.head()

,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
12694061,{08F5A2BE-B5B2-4CE2-9E69-6811FD1DCDDA},104400,2006-11-03 00:00,F,Y,L,LIVERPOOL,LIVERPOOL,MERSEYSIDE,A,A
14098977,{9EC22781-5A78-4FF5-B6DF-183B7E90E4C7},290000,2007-05-24 00:00,D,N,F,SUTTON COLDFIELD,BIRMINGHAM,WEST MIDLANDS,A,A
19069399,{85C5D2B1-BDE0-4877-BBE1-C1834888B87B},165750,2013-04-05 00:00,F,N,L,LONDON,LEWISHAM,GREATER LONDON,A,A
14854981,{5B57B7A0-B663-4D3F-BD15-71708957A359},90000,2007-06-07 00:00,T,N,L,OLDHAM,OLDHAM,GREATER MANCHESTER,A,A
2488422,{141B58D1-63F5-4E70-B5AA-7798E0C10B07},66000,1997-08-15 00:00,S,N,F,LUTON,LUTON,LUTON,A,A

In [28]:
#Save processed file
sample_df.to_csv("sample_price_paid.csv", index=False)