In [6]:
import pandas as pd

df = pd.read_csv("C:/Users/HP/Downloads/archive (1)/House Price India.csv", index_col=0)

df.head()

,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
id,,,,,,,,,,,,,,,,,,,,,
6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,8,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,8,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,9,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
6762812919,42491,3,2.00,2710,4500,1.5,0,0,4,8,...,1929,0,122006,52.9047,-114.485,2060,4500,1,51,805000
6762813105,42491,3,2.50,2600,4750,1.0,0,0,4,9,...,1951,0,122007,52.9133,-114.590,2380,4750,1,67,790000

In [7]:
df.tail()

,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
id,,,,,,,,,,,,,,,,,,,,,
6762830250,42734,2,1.5,1556,20000,1.0,0,0,4,7,...,1957,0,122066,52.6191,-114.472,2250,17286,3,76,221700
6762830339,42734,3,2.0,1680,7000,1.5,0,0,4,7,...,1968,0,122072,52.5075,-114.393,1540,7480,3,59,219200
6762830618,42734,2,1.0,1070,6120,1.0,0,0,3,6,...,1962,0,122056,52.7289,-114.507,1130,6120,2,64,209000
6762830709,42734,4,1.0,1030,6621,1.0,0,0,4,6,...,1955,0,122042,52.7157,-114.411,1420,6631,3,54,205000
6762831463,42734,3,1.0,900,4770,1.0,0,0,3,6,...,1969,2009,122018,52.5338,-114.552,900,3480,2,55,146000

In [8]:
df.describe()

,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
count,14619.000000,14619.000000,14619.000000,14619.000000,1.461900e+04,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,...,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,14619.000000,1.461900e+04
mean,42604.546412,3.379233,2.129557,2098.156851,1.509369e+04,1.502326,0.007661,0.232848,3.430399,7.682263,...,1970.929817,90.930228,122033.064300,52.792843,-114.403996,1996.641836,12754.003078,2.012244,64.951433,5.388063e+05
std,67.343747,0.938655,0.769955,928.218740,3.792089e+04,0.540241,0.087196,0.765651,0.664047,1.174917,...,29.491743,416.230218,19.081451,0.137525,0.141325,691.078387,26059.234785,0.817312,8.936129,3.672294e+05
min,42491.000000,1.000000,0.500000,370.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,4.000000,...,1900.000000,0.000000,122003.000000,52.385900,-114.709000,460.000000,651.000000,1.000000,50.000000,7.800000e+04
25%,42546.000000,3.000000,1.750000,1440.000000,5.010500e+03,1.000000,0.000000,0.000000,3.000000,7.000000,...,1951.000000,0.000000,122017.000000,52.707600,-114.519000,1490.000000,5097.500000,1.000000,57.000000,3.200000e+05
50%,42600.000000,3.000000,2.250000,1930.000000,7.620000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,...,1975.000000,0.000000,122032.000000,52.806400,-114.421000,1850.000000,7620.000000,2.000000,65.000000,4.500000e+05
75%,42662.000000,4.000000,2.500000,2570.000000,1.080000e+04,2.000000,0.000000,0.000000,4.000000,8.000000,...,1997.000000,0.000000,122048.000000,52.908900,-114.315000,2380.000000,10125.000000,3.000000,73.000000,6.450000e+05
max,42734.000000,33.000000,8.000000,13540.000000,1.074218e+06,3.500000,1.000000,4.000000,5.000000,13.000000,...,2015.000000,2015.000000,122072.000000,53.007600,-113.505000,6110.000000,560617.000000,3.000000,80.000000,7.700000e+06

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14619 entries, 6762810635 to 6762831463
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   14619 non-null  int64
 1   number of bedrooms                     14619 non-null  int64
 2   number of bathrooms                    14619 non-null  float64
 3   living area                            14619 non-null  int64
 4   lot area                               14619 non-null  int64
 5   number of floors                       14619 non-null  float64
 6   waterfront present                     14619 non-null  int64
 7   number of views                        14619 non-null  int64
 8   condition of the house                 14619 non-null  int64
 9   grade of the house                     14619 non-null  int64
 10  Area of the house(excluding basement)  14619 non-null  int64
 11  Area of the basement                   14619 non-null  int64
 12  Built Year                             14619 non-null  int64
 13  Renovation Year                        14619 non-null  int64
 14  Postal Code                            14619 non-null  int64
 15  Lattitude                              14619 non-null  float64
 16  Longitude                              14619 non-null  float64
 17  living_area_renov                      14619 non-null  int64
 18  lot_area_renov                         14619 non-null  int64
 19  Number of schools nearby               14619 non-null  int64
 20  Distance from the airport              14619 non-null  int64
 21  Price                                  14619 non-null  int64
dtypes: float64(4), int64(18)
memory usage: 2.6 MB

In [10]:
df.shape

(14619, 22)