In [1]:
import pandas as pd

file_path = r"C:\Users\HARSHITHA\Downloads\price_paid_records.csv.zip"

# Load only important columns + limit rows
df = pd.read_csv(
    file_path,
    compression="zip",
    usecols=[
        "Price",
        "Date of Transfer",
        "Property Type",
        "Old/New",
        "Duration",
        "Town/City",
        "District",
        "County"
    ],
    dtype={
        "Price": "int32",
        "Property Type": "category",
        "Old/New": "category",
        "Duration": "category",
        "Town/City": "category",
        "District": "category",
        "County": "category"
    }
)

# Convert date column properly
df["Date of Transfer"] = pd.to_datetime(df["Date of Transfer"])

# Check first rows
df.head()

,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County
0,25000,1995-08-18,T,N,F,OLDHAM,OLDHAM,GREATER MANCHESTER
1,42500,1995-08-09,S,N,F,GRAYS,THURROCK,THURROCK
2,45000,1995-06-30,T,N,F,HIGHBRIDGE,SEDGEMOOR,SOMERSET
3,43150,1995-11-24,T,N,F,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE
4,18899,1995-06-23,S,N,F,WAKEFIELD,LEEDS,WEST YORKSHIRE

In [2]:
df["Date of Transfer"] = pd.to_datetime(df["Date of Transfer"])
df["Date of Transfer"].dtype

dtype('<M8[ns]')

In [3]:
df.columns

Index(['Price', 'Date of Transfer', 'Property Type', 'Old/New', 'Duration',
       'Town/City', 'District', 'County'],
      dtype='object')

In [4]:
df.dtypes

Price                        int32
Date of Transfer    datetime64[ns]
Property Type             category
Old/New                   category
Duration                  category
Town/City                 category
District                  category
County                    category
dtype: object

In [5]:
df.isnull().sum()

Price               0
Date of Transfer    0
Property Type       0
Old/New             0
Duration            0
Town/City           0
District            0
County              0
dtype: int64

In [6]:
(df.isnull().mean() * 100).round(2)

Price               0.0
Date of Transfer    0.0
Property Type       0.0
Old/New             0.0
Duration            0.0
Town/City           0.0
District            0.0
County              0.0
dtype: float64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22489348 entries, 0 to 22489347
Data columns (total 8 columns):
 #   Column            Dtype
---  ------            -----
 0   Price             int32
 1   Date of Transfer  datetime64[ns]
 2   Property Type     category
 3   Old/New           category
 4   Duration          category
 5   Town/City         category
 6   District          category
 7   County            category
dtypes: category(6), datetime64[ns](1), int32(1)
memory usage: 450.5 MB

In [8]:
df["Price"].isnull().sum()

np.int64(0)

In [9]:
df["Price"].hasnans

False

In [10]:
null_summary = pd.DataFrame({
    "Null Count": df.isnull().sum(),
    "Null Percentage": (df.isnull().mean() * 100).round(2)
})

null_summary

                  Null Count  Null Percentage
Price                      0              0.0
Date of Transfer           0              0.0
Property Type              0              0.0
Old/New                    0              0.0
Duration                   0              0.0
Town/City                  0              0.0
District                   0              0.0
County                     0              0.0

In [11]:
threshold = len(df) * 0.9
df = df.dropna(thresh=threshold, axis=1)

In [12]:
df.isnull().sum()

Price               0
Date of Transfer    0
Property Type       0
Old/New             0
Duration            0
Town/City           0
District            0
County              0
dtype: int64

In [13]:
df.shape

(22489348, 8)

In [14]:
df.dtypes

Price                        int32
Date of Transfer    datetime64[ns]
Property Type             category
Old/New                   category
Duration                  category
Town/City                 category
District                  category
County                    category
dtype: object