In [1]:
import pandas as pd

df = pd.read_csv("C:/Users/HP/Downloads/archive (1)/House Price India.csv", index_col=0)

In [2]:
#Data Type Overview
df.dtypes

Date                                       int64
number of bedrooms                         int64
number of bathrooms                      float64
living area                                int64
lot area                                   int64
number of floors                         float64
waterfront present                         int64
number of views                            int64
condition of the house                     int64
grade of the house                         int64
Area of the house(excluding basement)      int64
Area of the basement                       int64
Built Year                                 int64
Renovation Year                            int64
Postal Code                                int64
Lattitude                                float64
Longitude                                float64
living_area_renov                          int64
lot_area_renov                             int64
Number of schools nearby                   int64
Distance from the airport                  int64
Price                                      int64
dtype: object

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14619 entries, 6762810635 to 6762831463
Data columns (total 22 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   14619 non-null  int64
 1   number of bedrooms                     14619 non-null  int64
 2   number of bathrooms                    14619 non-null  float64
 3   living area                            14619 non-null  int64
 4   lot area                               14619 non-null  int64
 5   number of floors                       14619 non-null  float64
 6   waterfront present                     14619 non-null  int64
 7   number of views                        14619 non-null  int64
 8   condition of the house                 14619 non-null  int64
 9   grade of the house                     14619 non-null  int64
 10  Area of the house(excluding basement)  14619 non-null  int64
 11  Area of the basement                   14619 non-null  int64
 12  Built Year                             14619 non-null  int64
 13  Renovation Year                        14619 non-null  int64
 14  Postal Code                            14619 non-null  int64
 15  Lattitude                              14619 non-null  float64
 16  Longitude                              14619 non-null  float64
 17  living_area_renov                      14619 non-null  int64
 18  lot_area_renov                         14619 non-null  int64
 19  Number of schools nearby               14619 non-null  int64
 20  Distance from the airport              14619 non-null  int64
 21  Price                                  14619 non-null  int64
dtypes: float64(4), int64(18)
memory usage: 2.6 MB

In [4]:
#Check Missing Values
#Count Missing Values
df.isnull().sum()

Date                                     0
number of bedrooms                       0
number of bathrooms                      0
living area                              0
lot area                                 0
number of floors                         0
waterfront present                       0
number of views                          0
condition of the house                   0
grade of the house                       0
Area of the house(excluding basement)    0
Area of the basement                     0
Built Year                               0
Renovation Year                          0
Postal Code                              0
Lattitude                                0
Longitude                                0
living_area_renov                        0
lot_area_renov                           0
Number of schools nearby                 0
Distance from the airport                0
Price                                    0
dtype: int64

In [5]:
#Total Missing Values
df.isnull().sum().sum()

0