In [2]:
import pandas as pd

df = pd.read_csv("C:/Users/HP/Downloads/archive (1)/House Price India.csv", index_col=0)
df.head()

# Basic Grouping
#Group by Bedrooms → Average Price
df.groupby("number of bedrooms")["Price"].mean()

number of bedrooms
1     3.089638e+05
2     3.985476e+05
3     4.632776e+05
4     6.361988e+05
5     7.737664e+05
6     8.375815e+05
7     1.016544e+06
8     1.208455e+06
9     7.766663e+05
10    8.200000e+05
11    5.200000e+05
33    6.400000e+05
Name: Price, dtype: float64

In [5]:
#Group by Location → Average Price
df.groupby("Postal Code")["Price"].mean()

Postal Code
122003    8.384710e+05
122004    8.398533e+05
122005    6.389622e+05
122006    6.136386e+05
122007    5.728347e+05
              ...
122068    3.153815e+05
122069    4.812247e+05
122070    2.799618e+05
122071    2.348311e+06
122072    2.342158e+05
Name: Price, Length: 70, dtype: float64

In [8]:
#Sorting
#Sort by Price (Ascending)
df.sort_values("Price")

,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
id,,,,,,,,,,,,,,,,,,,,,
6762831616,42495,2,1.00,780,16344,1.0,0,0,1,5,...,1942,0,122056,52.7039,-114.470,1700,10387,2,51,78000
6762831615,42512,1,0.75,430,5050,1.0,0,0,2,4,...,1912,0,122041,52.8799,-114.099,1200,7500,3,71,80000
6762831613,42678,3,1.00,860,10426,1.0,0,0,3,6,...,1954,0,122052,52.7287,-114.531,1140,11250,3,60,82000
6762831612,42497,2,1.00,520,22334,1.0,0,0,2,5,...,1951,0,122056,52.7099,-114.486,1572,10570,2,69,82500
6762831611,42518,2,1.00,900,8580,1.0,0,0,3,5,...,1918,0,122056,52.7027,-114.460,2060,6533,3,60,83000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6762810026,42662,5,5.25,8010,45517,2.0,1,4,3,12,...,1999,0,122010,52.9067,-114.401,3430,26788,2,60,5110000
6762810023,42585,5,5.75,9200,35069,2.0,0,0,3,13,...,2001,0,122071,52.8589,-114.423,3560,24345,1,53,5570000
6762810022,42631,6,7.75,9890,31374,2.0,0,4,3,13,...,2001,0,122071,52.8605,-114.430,4540,42730,2,75,6890000
6762810021,42531,5,4.50,10040,37325,2.0,1,2,3,11,...,1940,2001,122048,52.8800,-114.404,3930,25449,3,67,7060000
6762810020,42655,6,8.00,12050,27600,2.5,0,3,4,13,...,1910,1987,122013,52.8598,-114.513,3940,8800,1,50,7700000