In [1]:
import pandas as pd

df = pd.read_csv("C:/Users/HP/Downloads/archive (1)/House Price India.csv", index_col=0)

In [2]:
#default index check
df.index

Index([6762810635, 6762810998, 6762812605, 6762812919, 6762813105, 6762813157,
       6762813599, 6762813600, 6762814461, 6762814787,
       ...
       6762828349, 6762828783, 6762828856, 6762829600, 6762829669, 6762830250,
       6762830339, 6762830618, 6762830709, 6762831463],
      dtype='int64', name='id', length=14619)

In [8]:
#selecting one column
df.Price

id
6762810635    1400000
6762810998    1200000
6762812605     838000
6762812919     805000
6762813105     790000
               ...
6762830250     221700
6762830339     219200
6762830618     209000
6762830709     205000
6762831463     146000
Name: Price, Length: 14619, dtype: int64

In [11]:
#selecting multiple column
df[["Price", "number of bedrooms", "number of bathrooms"]]

              Price  number of bedrooms  number of bathrooms
id
6762810635  1400000                   4                 2.50
6762810998  1200000                   5                 2.75
6762812605   838000                   4                 2.50
6762812919   805000                   3                 2.00
6762813105   790000                   3                 2.50
...             ...                 ...                  ...
6762830250   221700                   2                 1.50
6762830339   219200                   3                 2.00
6762830618   209000                   2                 1.00
6762830709   205000                   4                 1.00
6762831463   146000                   3                 1.00

[14619 rows x 3 columns]

In [13]:
#conditional selections
df[df["number of bedrooms"] > 3]

,Date,number of bedrooms,number of bathrooms,living area,lot area,number of floors,waterfront present,number of views,condition of the house,grade of the house,...,Built Year,Renovation Year,Postal Code,Lattitude,Longitude,living_area_renov,lot_area_renov,Number of schools nearby,Distance from the airport,Price
id,,,,,,,,,,,,,,,,,,,,,
6762810635,42491,4,2.50,2920,4000,1.5,0,0,5,8,...,1909,0,122004,52.8878,-114.470,2470,4000,2,51,1400000
6762810998,42491,5,2.75,2910,9480,1.5,0,0,3,8,...,1939,0,122004,52.8852,-114.468,2940,6600,1,53,1200000
6762812605,42491,4,2.50,3310,42998,2.0,0,0,3,9,...,2001,0,122005,52.9532,-114.321,3350,42847,3,76,838000
6762813157,42491,5,3.25,3660,11995,2.0,0,2,3,10,...,2006,0,122008,52.7637,-114.050,3320,11241,3,72,785000
6762814461,42491,4,2.25,2200,11250,1.5,0,0,5,7,...,1920,0,122010,52.9145,-114.391,2320,10814,2,53,698000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6762819669,42734,4,2.50,2100,8886,2.0,0,0,4,7,...,1964,0,122030,52.8247,-114.324,1840,9058,3,79,485000
6762821195,42734,4,1.50,1100,3300,1.0,0,0,1,7,...,1919,0,122044,52.8333,-114.485,2020,4000,2,50,441000
6762826539,42734,4,2.75,1580,3770,1.0,0,0,3,7,...,2002,0,122055,52.9668,-114.158,1740,3800,1,51,315000
6762828349,42734,4,2.75,1810,7350,1.0,0,0,4,7,...,1980,0,122065,52.6003,-114.361,1750,7350,1,73,272000
6762830709,42734,4,1.00,1030,6621,1.0,0,0,4,6,...,1955,0,122042,52.7157,-114.411,1420,6631,3,54,205000

In [14]:
#assignning values
#Create New Column (Price Per Sqft)
df["price_per_sqft"] = df["Price"] / df["sqft_living"]
df.head()

KeyError: 'sqft_living'