In [50]:
import pandas as pd

file_path = r"C:\Users\HARSHITHA\Downloads\price_paid_records.csv.zip"

df = pd.read_csv(
    file_path,
    compression="zip",
    usecols=[
        "Price",
        "Date of Transfer",
        "Property Type",
        "Old/New",
        "Duration",
        "Town/City",
        "District",
        "County"
    ]
)

df.head()

,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County
0,25000,1995-08-18 00:00,T,N,F,OLDHAM,OLDHAM,GREATER MANCHESTER
1,42500,1995-08-09 00:00,S,N,F,GRAYS,THURROCK,THURROCK
2,45000,1995-06-30 00:00,T,N,F,HIGHBRIDGE,SEDGEMOOR,SOMERSET
3,43150,1995-11-24 00:00,T,N,F,BEDFORD,NORTH BEDFORDSHIRE,BEDFORDSHIRE
4,18899,1995-06-23 00:00,S,N,F,WAKEFIELD,LEEDS,WEST YORKSHIRE

In [51]:
df.columns

Index(['Price', 'Date of Transfer', 'Property Type', 'Old/New', 'Duration',
       'Town/City', 'District', 'County'],
      dtype='object')

In [52]:
df = df.rename(columns={"Date of Transfer": "Date"})

In [53]:
df.columns

Index(['Price', 'Date', 'Property Type', 'Old/New', 'Duration', 'Town/City',
       'District', 'County'],
      dtype='object')

In [54]:
# Convert to datetime first
df["Date"] = pd.to_datetime(df["Date"])

# Create new columns
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month

# Check columns
df.columns

Index(['Price', 'Date', 'Property Type', 'Old/New', 'Duration', 'Town/City',
       'District', 'County', 'Year', 'Month'],
      dtype='object')

In [55]:
df = df.drop("Date", axis=1)

In [56]:
city_counts = df["Town/City"].value_counts()
top10 = city_counts.head(10).index
df["Town/City"] = df["Town/City"].apply(lambda x: x if x in top10 else "Other")

In [57]:
df["Town/City"].value_counts()

Town/City
Other          18300144
LONDON          1784194
MANCHESTER       366133
BRISTOL          344839
BIRMINGHAM       330358
NOTTINGHAM       292532
LEEDS            252680
LIVERPOOL        223324
SHEFFIELD        212669
LEICESTER        197593
SOUTHAMPTON      184882
Name: count, dtype: int64

In [58]:
df["Age_Duration"] = df["Old/New"] + "_" + df["Duration"]

In [59]:
df["Age_Duration"].head()

0    N_F
1    N_F
2    N_F
3    N_F
4    N_F
Name: Age_Duration, dtype: object

In [60]:
df["Property Type"].head()

0    T
1    S
2    T
3    T
4    S
Name: Property Type, dtype: object

In [61]:
df["Property Type"] = df["Property Type"].replace({
    "D": "Detached",
    "S": "Semi-Detached",
    "T": "Terraced",
    "F": "Flat",
    "O": "Other"
})

In [62]:
df["Property Type"].head()

0         Terraced
1    Semi-Detached
2         Terraced
3         Terraced
4    Semi-Detached
Name: Property Type, dtype: object

In [63]:
county_counts = df["County"].value_counts()
top_counties = county_counts.head(10).index

df["County"] = df["County"].apply(lambda x: x if x in top_counties else "Other")

In [64]:
df["County"].value_counts()

County
Other                 13435428
GREATER LONDON         2993422
GREATER MANCHESTER      985772
WEST MIDLANDS           856803
WEST YORKSHIRE          849862
KENT                    636515
ESSEX                   629488
HAMPSHIRE               593974
SURREY                  516199
LANCASHIRE              503502
HERTFORDSHIRE           488383
Name: count, dtype: int64