In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:/Users/dindu/OneDrive/Desktop/Realty AI/dataset/real_estate_dataset.csv")

In [3]:
df.head()

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield
3,https://www.99acres.com/provident-botanico-sou...,2,Bangalore,2025-02-19,658-1003 sqft,"2, 3 BHK Apartment",0,889000.0,Soukya Road
4,https://www.99acres.com/kvg-superior-kalkere-b...,2,Bangalore,2025-02-19,1179-1449 sqft,"2, 3 BHK Apartment",0,6483000.0,Kalkere

In [4]:
df.shape

(287, 9)

In [5]:
df.columns

Index(['url', 'beds', 'city', 'date', 'size', 'type', 'baths', 'price',
       'neighborhood'],
      dtype='object')

In [6]:
sample = pd.DataFrame({
    "city": ["Hyderabad", "Mumbai"],
    "beds": [2, 3],
    "price": [4500000, 12000000]
})

In [7]:
df.to_csv("real_estate_output.csv", index=False)

In [8]:
price_series = df["price"]
price_series.head()

0     2317000.0
1    12500000.0
2    23200000.0
3      889000.0
4     6483000.0
Name: price, dtype: float64