In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:/Users/dindu/OneDrive/Desktop/Realty AI/dataset/real_estate_dataset.csv")

In [4]:
df.head()

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield
3,https://www.99acres.com/provident-botanico-sou...,2,Bangalore,2025-02-19,658-1003 sqft,"2, 3 BHK Apartment",0,889000.0,Soukya Road
4,https://www.99acres.com/kvg-superior-kalkere-b...,2,Bangalore,2025-02-19,1179-1449 sqft,"2, 3 BHK Apartment",0,6483000.0,Kalkere

In [24]:
df

,url,beds,city,date,size,type,baths,price,neighborhood,source
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani,RealEstate
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road,RealEstate
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield,RealEstate
3,https://www.99acres.com/provident-botanico-sou...,2,Bangalore,2025-02-19,658-1003 sqft,"2, 3 BHK Apartment",0,889000.0,Soukya Road,RealEstate
4,https://www.99acres.com/kvg-superior-kalkere-b...,2,Bangalore,2025-02-19,1179-1449 sqft,"2, 3 BHK Apartment",0,6483000.0,Kalkere,RealEstate
...,...,...,...,...,...,...,...,...,...,...
282,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-01-19,840 sqft,Residential apartment,3,10000000.0,Manjari Khurd,RealEstate
283,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Pune,2025-02-13,690 sqft,Residential apartment,2,6500000.0,Punawale,RealEstate
284,https://www.99acres.com/6-bhk-bedroom-independ...,6,Pune,2025-01-19,840 sqft,Independent House/Villa,6,13500000.0,Katraj,RealEstate
285,https://www.99acres.com/1-bhk-bedroom-apartmen...,1,Pune,2025-02-17,640 sqft,Residential apartment,1,3500000.0,Kirkatwadi,RealEstate
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge,RealEstate

## Native Accessors

In [26]:
df.price

0       2317000.0
1      12500000.0
2      23200000.0
3        889000.0
4       6483000.0
          ...
282    10000000.0
283     6500000.0
284    13500000.0
285     3500000.0
286    12000000.0
Name: price, Length: 287, dtype: float64

In [27]:
df["price"]

0       2317000.0
1      12500000.0
2      23200000.0
3        889000.0
4       6483000.0
          ...
282    10000000.0
283     6500000.0
284    13500000.0
285     3500000.0
286    12000000.0
Name: price, Length: 287, dtype: float64

In [28]:
df["price"][0]

2317000.0

## Indexing in pandas

In [29]:
df.iloc[0]

url             https://www.99acres.com/residential-land-plot-...
beds                                                            0
city                                                    Bangalore
date                                                   2025-02-19
size                                                799-1258 sqft
type                                      Residential land / Plot
baths                                                           0
price                                                   2317000.0
neighborhood                                               Jigani
source                                                 RealEstate
Name: 0, dtype: object

In [30]:
df.iloc[:, 0]

0      https://www.99acres.com/residential-land-plot-...
1      https://www.99acres.com/2-bhk-bedroom-apartmen...
2      https://www.99acres.com/sumadhura-capitol-resi...
3      https://www.99acres.com/provident-botanico-sou...
4      https://www.99acres.com/kvg-superior-kalkere-b...
                             ...
282    https://www.99acres.com/3-bhk-bedroom-apartmen...
283    https://www.99acres.com/2-bhk-bedroom-apartmen...
284    https://www.99acres.com/6-bhk-bedroom-independ...
285    https://www.99acres.com/1-bhk-bedroom-apartmen...
286    https://www.99acres.com/3-bhk-bedroom-apartmen...
Name: url, Length: 287, dtype: object

In [31]:
df.iloc[0:3, 0:4]

,url,beds,city,date
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19

In [33]:
df.iloc[1:3, 0]

1    https://www.99acres.com/2-bhk-bedroom-apartmen...
2    https://www.99acres.com/sumadhura-capitol-resi...
Name: url, dtype: object

In [34]:
df.iloc[[0, 1, 2], 0]

0    https://www.99acres.com/residential-land-plot-...
1    https://www.99acres.com/2-bhk-bedroom-apartmen...
2    https://www.99acres.com/sumadhura-capitol-resi...
Name: url, dtype: object

In [35]:
df.loc[0, "city"]

'Bangalore'

In [36]:
df.loc[0:5, ["city", "beds", "baths", "price"]]

        city  beds  baths       price
0  Bangalore     0      0   2317000.0
1  Bangalore     2      2  12500000.0
2  Bangalore     3      0  23200000.0
3  Bangalore     2      0    889000.0
4  Bangalore     2      0   6483000.0
5  Bangalore     2      0  15000000.0

## Manipulating the index

In [37]:
df_url = df.set_index("url")
df_url.head()

,beds,city,date,size,type,baths,price,neighborhood,source
url,,,,,,,,,
https://www.99acres.com/residential-land-plot-for-sale-in-vaishnavi-urban-county-jigani-bangalore-south-89-sq-yard-to-140-sq-yard-npspid-X80116283,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani,RealEstate
https://www.99acres.com/2-bhk-bedroom-apartment-flat-for-sale-in-prestige-jindal-city-tumkur-road-bangalore-west-1085-sq-ft-spid-F79144279,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road,RealEstate
https://www.99acres.com/sumadhura-capitol-residences-whitefield-bangalore-east-npxid-r433778,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield,RealEstate
https://www.99acres.com/provident-botanico-soukya-road-bangalore-east-npxid-r424433,2,Bangalore,2025-02-19,658-1003 sqft,"2, 3 BHK Apartment",0,889000.0,Soukya Road,RealEstate
https://www.99acres.com/kvg-superior-kalkere-bangalore-south-npxid-r438820,2,Bangalore,2025-02-19,1179-1449 sqft,"2, 3 BHK Apartment",0,6483000.0,Kalkere,RealEstate

In [38]:
df_url.loc[df_url.index[0]]

beds                                  0
city                          Bangalore
date                         2025-02-19
size                      799-1258 sqft
type            Residential land / Plot
baths                                 0
price                         2317000.0
neighborhood                     Jigani
source                       RealEstate
Name: https://www.99acres.com/residential-land-plot-for-sale-in-vaishnavi-urban-county-jigani-bangalore-south-89-sq-yard-to-140-sq-yard-npspid-X80116283, dtype: object

## Conditional selection

In [42]:
df.loc[df["beds"] >= 3]

,url,beds,city,date,size,type,baths,price,neighborhood,source
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield,RealEstate
7,https://www.99acres.com/keya-life-by-the-lake-...,4,Bangalore,2025-02-19,0 sqft,"4, 5 BHK Villa",0,39800000.0,Hebbal,RealEstate
10,https://www.99acres.com/4-bhk-bedroom-apartmen...,4,Gurgaon,2025-02-19,6050 sqft,4 BHK Flat,4,200000000.0,Sector 65,RealEstate
11,https://www.99acres.com/4-bhk-bedroom-apartmen...,4,Gurgaon,2025-02-19,4200 sqft,4 BHK Flat,4,40100000.0,Sector 103,RealEstate
13,https://www.99acres.com/godrej-aristocrat-sect...,3,Gurgaon,2025-02-19T04:38:38.179Z,"967.58 - 1,751.41 sqft",3 BHK Apartment,0,52800000.0,Sector 49,RealEstate
...,...,...,...,...,...,...,...,...,...,...
278,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-18,1510 sqft,Residential apartment,3,16000000.0,Ghorpadi,RealEstate
280,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-05,1150 sqft,Residential apartment,2,9500000.0,Undri,RealEstate
282,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-01-19,840 sqft,Residential apartment,3,10000000.0,Manjari Khurd,RealEstate
284,https://www.99acres.com/6-bhk-bedroom-independ...,6,Pune,2025-01-19,840 sqft,Independent House/Villa,6,13500000.0,Katraj,RealEstate
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge,RealEstate

In [43]:
df.loc[df["city"] == "Hyderabad"]

,url,beds,city,date,size,type,baths,price,neighborhood,source
116,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-02-19,1350 sqft,Residential land / Plot,0,2400000.0,Nawabpet,RealEstate
117,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Hyderabad,2025-02-19,2713 sqft,3 BHK Flat,4,13600000.0,Mokila,RealEstate
118,https://www.99acres.com/bricks-marvella-tellap...,2,Hyderabad,2025-02-19,Varies,"2, 3, 4 BHK Apartment",2,10000000.0,Tellapur,RealEstate
119,https://www.99acres.com/pranathis-kiara-tellap...,2,Hyderabad,2025-02-19,Varies,"2, 3 BHK Apartment",2,9305000.0,Tellapur,RealEstate
120,https://www.99acres.com/ananda-the-legacey-man...,2,Hyderabad,2025-02-19,Varies,"2, 3 BHK Apartment",2,9582000.0,Manikonda,RealEstate
121,https://www.99acres.com/moonglade-apartments-k...,3,Hyderabad,2025-02-19,Varies,"3, 4 BHK Apartment",3,12600000.0,Kokapet,RealEstate
122,https://www.99acres.com/vajra-the-royal-park-b...,2,Hyderabad,2025-02-19,Varies,"2, 3 BHK Apartment",2,6756000.0,Bowrampet,RealEstate
123,https://www.99acres.com/dithya-agarta-kompally...,3,Hyderabad,2025-02-19,Varies,"3, 4 BHK Apartment",3,0.0,Kompally,RealEstate
124,https://www.99acres.com/incor-lake-city-patanc...,1,Hyderabad,2025-02-19,Varies,"1, 2, 3 BHK Apartment",1,8212000.0,Patancheru,RealEstate
125,https://www.99acres.com/nsl-nakshatra-kphb-hyd...,3,Hyderabad,2025-02-19,Varies,"3, 4 BHK Apartment",3,19200000.0,KPHB,RealEstate
248,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-01-19,2160 sqft,Residential land / Plot,0,2000000.0,Mominpet,RealEstate
249,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-01-19,2095 sqft,Residential land / Plot,0,3726000.0,Kothur,RealEstate
250,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-01-19,1350 sqft,Residential land / Plot,0,5400000.0,Nadargul,RealEstate
251,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Hyderabad,2025-01-19,1795 sqft,3 BHK Flat,3,10500000.0,Nagole,RealEstate
252,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Hyderabad,2025-01-19,1965 sqft,3 BHK Flat,4,25300000.0,Kondapur,RealEstate
253,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Hyderabad,2025-01-19,1290 sqft,2 BHK Flat,2,16000000.0,Kondapur,RealEstate
254,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-01-19,3780 sqft,Residential land / Plot,0,58000000.0,Tellapur,RealEstate
255,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-01-19,1800 sqft,Residential land / Plot,0,5200000.0,Bangalore Highway,RealEstate
256,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-01-19,1665 sqft,Residential land / Plot,0,2960000.0,Shankarpally,RealEstate
257,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-01-19,3870 sqft,Residential land / Plot,0,56000000.0,Nallagandla,RealEstate

In [44]:
df.loc[(df["beds"] >= 3) & (df["price"] > 5000000)]

,url,beds,city,date,size,type,baths,price,neighborhood,source
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield,RealEstate
7,https://www.99acres.com/keya-life-by-the-lake-...,4,Bangalore,2025-02-19,0 sqft,"4, 5 BHK Villa",0,39800000.0,Hebbal,RealEstate
10,https://www.99acres.com/4-bhk-bedroom-apartmen...,4,Gurgaon,2025-02-19,6050 sqft,4 BHK Flat,4,200000000.0,Sector 65,RealEstate
11,https://www.99acres.com/4-bhk-bedroom-apartmen...,4,Gurgaon,2025-02-19,4200 sqft,4 BHK Flat,4,40100000.0,Sector 103,RealEstate
13,https://www.99acres.com/godrej-aristocrat-sect...,3,Gurgaon,2025-02-19T04:38:38.179Z,"967.58 - 1,751.41 sqft",3 BHK Apartment,0,52800000.0,Sector 49,RealEstate
...,...,...,...,...,...,...,...,...,...,...
278,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-18,1510 sqft,Residential apartment,3,16000000.0,Ghorpadi,RealEstate
280,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-05,1150 sqft,Residential apartment,2,9500000.0,Undri,RealEstate
282,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-01-19,840 sqft,Residential apartment,3,10000000.0,Manjari Khurd,RealEstate
284,https://www.99acres.com/6-bhk-bedroom-independ...,6,Pune,2025-01-19,840 sqft,Independent House/Villa,6,13500000.0,Katraj,RealEstate
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge,RealEstate

In [45]:
df.loc[df["city"].isin(["Hyderabad", "Mumbai", "Delhi"])]

,url,beds,city,date,size,type,baths,price,neighborhood,source
116,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-02-19,1350 sqft,Residential land / Plot,0,2400000.0,Nawabpet,RealEstate
117,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Hyderabad,2025-02-19,2713 sqft,3 BHK Flat,4,13600000.0,Mokila,RealEstate
118,https://www.99acres.com/bricks-marvella-tellap...,2,Hyderabad,2025-02-19,Varies,"2, 3, 4 BHK Apartment",2,10000000.0,Tellapur,RealEstate
119,https://www.99acres.com/pranathis-kiara-tellap...,2,Hyderabad,2025-02-19,Varies,"2, 3 BHK Apartment",2,9305000.0,Tellapur,RealEstate
120,https://www.99acres.com/ananda-the-legacey-man...,2,Hyderabad,2025-02-19,Varies,"2, 3 BHK Apartment",2,9582000.0,Manikonda,RealEstate
121,https://www.99acres.com/moonglade-apartments-k...,3,Hyderabad,2025-02-19,Varies,"3, 4 BHK Apartment",3,12600000.0,Kokapet,RealEstate
122,https://www.99acres.com/vajra-the-royal-park-b...,2,Hyderabad,2025-02-19,Varies,"2, 3 BHK Apartment",2,6756000.0,Bowrampet,RealEstate
123,https://www.99acres.com/dithya-agarta-kompally...,3,Hyderabad,2025-02-19,Varies,"3, 4 BHK Apartment",3,0.0,Kompally,RealEstate
124,https://www.99acres.com/incor-lake-city-patanc...,1,Hyderabad,2025-02-19,Varies,"1, 2, 3 BHK Apartment",1,8212000.0,Patancheru,RealEstate
125,https://www.99acres.com/nsl-nakshatra-kphb-hyd...,3,Hyderabad,2025-02-19,Varies,"3, 4 BHK Apartment",3,19200000.0,KPHB,RealEstate
156,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Mumbai,2025-02-19,1459 sqft,Flat,4,73000000.0,Santacruz West,RealEstate
158,https://www.99acres.com/godrej-horizon-wadala-...,2,Mumbai,2025-02-19,627 - 1476.92 sqft,Apartment,2,29900000.0,Wadala,RealEstate
159,https://www.99acres.com/l-and-t-island-cove-ma...,2,Mumbai,2025-02-19,694.81 - 1219.77 sqft,Apartment,2,29100000.0,Mahim West,RealEstate
160,https://www.99acres.com/lodha-divino-matunga-s...,2,Mumbai,2025-02-19,713.97 - 1727 sqft,Apartment,2,29800000.0,Matunga,RealEstate
161,https://www.99acres.com/lodha-the-park-worli-s...,2,Mumbai,2025-02-19,839 - 2254 sqft,Apartment,2,48000000.0,Worli,RealEstate
162,https://www.99acres.com/l-and-t-the-gateway-se...,3,Mumbai,2025-02-19,1133.34 - 2251 sqft,Apartment,2,44700000.0,Sewri,RealEstate
163,https://www.99acres.com/lodha-new-cuffe-parade...,1,Mumbai,2025-02-19,350.69 - 2747 sqft,Apartment,1,14400000.0,Wadala,RealEstate
164,https://www.99acres.com/rustomjee-crown-prabha...,3,Mumbai,2025-02-19,1334.74 - 3088 sqft,Apartment,2,95400000.0,Prabhadevi,RealEstate
165,https://www.99acres.com/piramal-mahalaxmi-maha...,2,Mumbai,2025-02-19,713.8 - 1850 sqft,Apartment,2,45700000.0,Mahalaxmi,RealEstate
166,https://www.99acres.com/3-bhk-bedroom-independ...,3,Delhi,2025-02-19,1350 sqft,Independent Builder Floor,3,25500000.0,Paschim Vihar,RealEstate
167,https://www.99acres.com/3-bhk-bedroom-independ...,3,Delhi,2025-02-19,1800 sqft,Independent Builder Floor,2,26500000.0,Surajmal Vihar,RealEstate
168,https://www.99acres.com/sky-high-luxury-homes-...,2,Delhi,2025-02-19,Not specified,Independent Floor,2,8500000.0,Sector 8 Dwarka,RealEstate
169,https://www.99acres.com/bhardwaj-builder-floor...,3,Delhi,2025-02-19,Not specified,Independent Floor,3,0.0,Model Town,RealEstate
170,https://www.99acres.com/dlf-capital-greens-1-a...,2,Delhi,2025-02-19,Not specified,Apartment,2,21000000.0,Moti Nagar,RealEstate
171,https://www.99acres.com/unity-group-the-amaryl...,2,Delhi,2025-02-19,Not specified,Apartment,2,22500000.0,Karol Bagh,RealEstate
172,https://www.99acres.com/3baan-farms-chattarpur...,4,Delhi,2025-02-19,Not specified,Villa,4,90000000.0,Chattarpur,RealEstate
173,https://www.99acres.com/pradeep-luxury-builder...,2,Delhi,2025-02-19,Not specified,Independent Floor,2,13000000.0,Anand Vihar,RealEstate
174,https://www.99acres.com/chandok-apartments-and...,2,Delhi,2025-02-19,Not specified,Apartment,2,11000000.0,Janakpuri,RealEstate
175,https://www.99acres.com/luxury-floors-by-omdev...,3,Delhi,2025-02-19,Not specified,Independent Floor,3,50000000.0,Greater Kailash 2,RealEstate
248,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-01-19,2160 sqft,Residential land / Plot,0,2000000.0,Mominpet,RealEstate
249,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-01-19,2095 sqft,Residential land / Plot,0,3726000.0,Kothur,RealEstate
250,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-01-19,1350 sqft,Residential land / Plot,0,5400000.0,Nadargul,RealEstate
251,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Hyderabad,2025-01-19,1795 sqft,3 BHK Flat,3,10500000.0,Nagole,RealEstate
252,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Hyderabad,2025-01-19,1965 sqft,3 BHK Flat,4,25300000.0,Kondapur,RealEstate
253,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Hyderabad,2025-01-19,1290 sqft,2 BHK Flat,2,16000000.0,Kondapur,RealEstate
254,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-01-19,3780 sqft,Residential land / Plot,0,58000000.0,Tellapur,RealEstate
255,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-01-19,1800 sqft,Residential land / Plot,0,5200000.0,Bangalore Highway,RealEstate
256,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-01-19,1665 sqft,Residential land / Plot,0,2960000.0,Shankarpally,RealEstate
257,https://www.99acres.com/residential-land-plot-...,0,Hyderabad,2025-01-19,3870 sqft,Residential land / Plot,0,56000000.0,Nallagandla,RealEstate
270,https://www.99acres.com/1-bhk-bedroom-independ...,1,Mumbai,2025-02-19,300 sqft,1 Bedroom House,1,15.0,Nalanda Nagar,RealEstate
271,https://www.99acres.com/1-bhk-bedroom-independ...,1,Mumbai,2025-02-19,400 sqft,1 BHK Independent Builder Floor,1,15.0,Badlapur Vangani,RealEstate
272,https://www.99acres.com/studio-apartment-flat-...,1,Mumbai,2025-02-19,200 sqft,Studio Apartments / 1 RK Flats,1,9.0,nallasopara,RealEstate
273,https://www.99acres.com/1-bhk-bedroom-independ...,1,Mumbai,2025-02-19,180 sqft,1 Bedroom House,1,15.0,Santacruz East,RealEstate
274,https://www.99acres.com/1-bhk-bedroom-apartmen...,1,Mumbai,2025-02-19,200 sqft,1 BHK Flat,1,13.0,Malad West,RealEstate
275,https://www.99acres.com/1-bhk-bedroom-independ...,1,Mumbai,2025-02-19,100 sqft,1 BHK Independent Builder Floor,1,13.0,Asalpha,RealEstate
276,https://www.99acres.com/1-bhk-bedroom-independ...,1,Mumbai,2025-02-19,360 sqft,1 BHK Independent Builder Floor,1,11.5,Kandivali East,RealEstate
277,https://www.99acres.com/1-bhk-bedroom-independ...,1,Mumbai,2025-02-19,340 sqft,1 Bedroom House,1,12.0,Kandivali West,RealEstate

In [46]:
df.loc[df["neighborhood"].notnull()]

,url,beds,city,date,size,type,baths,price,neighborhood,source
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani,RealEstate
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road,RealEstate
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield,RealEstate
3,https://www.99acres.com/provident-botanico-sou...,2,Bangalore,2025-02-19,658-1003 sqft,"2, 3 BHK Apartment",0,889000.0,Soukya Road,RealEstate
4,https://www.99acres.com/kvg-superior-kalkere-b...,2,Bangalore,2025-02-19,1179-1449 sqft,"2, 3 BHK Apartment",0,6483000.0,Kalkere,RealEstate
...,...,...,...,...,...,...,...,...,...,...
282,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-01-19,840 sqft,Residential apartment,3,10000000.0,Manjari Khurd,RealEstate
283,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Pune,2025-02-13,690 sqft,Residential apartment,2,6500000.0,Punawale,RealEstate
284,https://www.99acres.com/6-bhk-bedroom-independ...,6,Pune,2025-01-19,840 sqft,Independent House/Villa,6,13500000.0,Katraj,RealEstate
285,https://www.99acres.com/1-bhk-bedroom-apartmen...,1,Pune,2025-02-17,640 sqft,Residential apartment,1,3500000.0,Kirkatwadi,RealEstate
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge,RealEstate

## Assigning data

In [51]:
#constant value
df["dataset_name"] = "real_estate_dataset"
df[["city", "dataset_name"]].head()

        city         dataset_name
0  Bangalore  real_estate_dataset
1  Bangalore  real_estate_dataset
2  Bangalore  real_estate_dataset
3  Bangalore  real_estate_dataset
4  Bangalore  real_estate_dataset

In [52]:
df["index_backwards"] = range(len(df), 0, -1)
df["index_backwards"]

0      287
1      286
2      285
3      284
4      283
      ...
282      5
283      4
284      3
285      2
286      1
Name: index_backwards, Length: 287, dtype: int64