In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:/Users/dindu/OneDrive/Desktop/Realty AI/dataset/real_estate_dataset.csv")

In [4]:
df.head()

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield
3,https://www.99acres.com/provident-botanico-sou...,2,Bangalore,2025-02-19,658-1003 sqft,"2, 3 BHK Apartment",0,889000.0,Soukya Road
4,https://www.99acres.com/kvg-superior-kalkere-b...,2,Bangalore,2025-02-19,1179-1449 sqft,"2, 3 BHK Apartment",0,6483000.0,Kalkere

## Summary Functions

In [6]:
df

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield
3,https://www.99acres.com/provident-botanico-sou...,2,Bangalore,2025-02-19,658-1003 sqft,"2, 3 BHK Apartment",0,889000.0,Soukya Road
4,https://www.99acres.com/kvg-superior-kalkere-b...,2,Bangalore,2025-02-19,1179-1449 sqft,"2, 3 BHK Apartment",0,6483000.0,Kalkere
...,...,...,...,...,...,...,...,...,...
282,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-01-19,840 sqft,Residential apartment,3,10000000.0,Manjari Khurd
283,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Pune,2025-02-13,690 sqft,Residential apartment,2,6500000.0,Punawale
284,https://www.99acres.com/6-bhk-bedroom-independ...,6,Pune,2025-01-19,840 sqft,Independent House/Villa,6,13500000.0,Katraj
285,https://www.99acres.com/1-bhk-bedroom-apartmen...,1,Pune,2025-02-17,640 sqft,Residential apartment,1,3500000.0,Kirkatwadi
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge

In [7]:
df.price.describe()

count    2.870000e+02
mean     1.956434e+07
std      4.461799e+07
min      0.000000e+00
25%      4.738000e+06
50%      1.000000e+07
75%      2.085000e+07
max      6.000000e+08
Name: price, dtype: float64

In [8]:
df.type.describe()

count                         287
unique                         48
top       Residential land / Plot
freq                           47
Name: type, dtype: object

In [9]:
df.price.mean()

19564337.69216028

In [10]:
df.city.value_counts()

city
Kakinada         37
Visakhapatnam    25
Noida            22
Hyderabad        20
Chennai          20
Mumbai           17
Bangalore        10
Agra             10
Jaipur           10
Delhi            10
Gurgaon          10
Lucknow          10
Jalpaiguri       10
Coimbatore       10
Kanyakumari      10
Gandhinagar      10
Bhubaneswar      10
Kochi            10
Vijayawada        9
Pune              9
Patna             2
Navi Mumbai       2
Thane             1
Guntur            1
Vizianagaram      1
Vikarabad         1
Name: count, dtype: int64

In [11]:
df.city.value_counts()

city
Kakinada         37
Visakhapatnam    25
Noida            22
Hyderabad        20
Chennai          20
Mumbai           17
Bangalore        10
Agra             10
Jaipur           10
Delhi            10
Gurgaon          10
Lucknow          10
Jalpaiguri       10
Coimbatore       10
Kanyakumari      10
Gandhinagar      10
Bhubaneswar      10
Kochi            10
Vijayawada        9
Pune              9
Patna             2
Navi Mumbai       2
Thane             1
Guntur            1
Vizianagaram      1
Vikarabad         1
Name: count, dtype: int64

## Maps

In [14]:
beds_mean = df.beds.mean()
beds_mean

2.156794425087108

In [13]:
df["city"].map(lambda x: x.upper())

0      BANGALORE
1      BANGALORE
2      BANGALORE
3      BANGALORE
4      BANGALORE
         ...
282         PUNE
283         PUNE
284         PUNE
285         PUNE
286         PUNE
Name: city, Length: 287, dtype: object

In [15]:
price_mean = df.price.mean()
df.price.map(lambda p: p - price_mean)

0     -1.724734e+07
1     -7.064338e+06
2      3.635662e+06
3     -1.867534e+07
4     -1.308134e+07
           ...
282   -9.564338e+06
283   -1.306434e+07
284   -6.064338e+06
285   -1.606434e+07
286   -7.564338e+06
Name: price, Length: 287, dtype: float64

In [16]:
price_mean = df.price.mean()

def remean_price(row):
    row.price = row.price - price_mean
    return row

df.apply(remean_price, axis="columns").head()

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,-1.724734e+07,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,-7.064338e+06,Tumkur Road
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,3.635662e+06,Whitefield
3,https://www.99acres.com/provident-botanico-sou...,2,Bangalore,2025-02-19,658-1003 sqft,"2, 3 BHK Apartment",0,-1.867534e+07,Soukya Road
4,https://www.99acres.com/kvg-superior-kalkere-b...,2,Bangalore,2025-02-19,1179-1449 sqft,"2, 3 BHK Apartment",0,-1.308134e+07,Kalkere

In [17]:
df.head(1)

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani

In [18]:
price_mean = df.price.mean()
price_mean

19564337.69216028

In [19]:
df.city + " - " + df.type

0      Bangalore - Residential land / Plot
1                   Bangalore - 2 BHK Flat
2           Bangalore - 3, 4 BHK Apartment
3           Bangalore - 2, 3 BHK Apartment
4           Bangalore - 2, 3 BHK Apartment
                      ...
282           Pune - Residential apartment
283           Pune - Residential apartment
284         Pune - Independent House/Villa
285           Pune - Residential apartment
286           Pune - Residential apartment
Length: 287, dtype: object