## Groupwise analysis

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:/Users/dindu/OneDrive/Desktop/Realty AI/dataset/real_estate_dataset.csv")

In [4]:
df.head()

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield
3,https://www.99acres.com/provident-botanico-sou...,2,Bangalore,2025-02-19,658-1003 sqft,"2, 3 BHK Apartment",0,889000.0,Soukya Road
4,https://www.99acres.com/kvg-superior-kalkere-b...,2,Bangalore,2025-02-19,1179-1449 sqft,"2, 3 BHK Apartment",0,6483000.0,Kalkere

In [5]:
df.groupby("city").price.count()

city
Agra             10
Bangalore        10
Bhubaneswar      10
Chennai          20
Coimbatore       10
Delhi            10
Gandhinagar      10
Guntur            1
Gurgaon          10
Hyderabad        20
Jaipur           10
Jalpaiguri       10
Kakinada         37
Kanyakumari      10
Kochi            10
Lucknow          10
Mumbai           17
Navi Mumbai       2
Noida            22
Patna             2
Pune              9
Thane             1
Vijayawada        9
Vikarabad         1
Visakhapatnam    25
Vizianagaram      1
Name: price, dtype: int64

In [6]:
df.groupby("city").price.min()

city
Agra              4000000.00
Bangalore          889000.00
Bhubaneswar       1559000.00
Chennai           1260000.00
Coimbatore         880000.00
Delhi                   0.00
Gandhinagar             0.00
Guntur           10000000.00
Gurgaon          30500000.00
Hyderabad               0.00
Jaipur            4200000.00
Jalpaiguri         500000.00
Kakinada          1064000.00
Kanyakumari       1100000.00
Kochi             1500000.00
Lucknow            750000.00
Mumbai                  9.00
Navi Mumbai             5.15
Noida                7250.00
Patna             1558000.00
Pune              3500000.00
Thane             5000000.00
Vijayawada              0.00
Vikarabad        20000000.00
Visakhapatnam     3000000.00
Vizianagaram     16000000.00
Name: price, dtype: float64

In [7]:
df.groupby("beds").apply(lambda x: x.city.iloc[0])

beds
0      Bangalore
1      Hyderabad
2      Bangalore
3      Bangalore
4      Bangalore
5       Kakinada
6           Pune
7      Vikarabad
9          Noida
10    Jalpaiguri
12      Kakinada
dtype: object

In [10]:
df.groupby("city").apply(lambda x: x.price.iloc[0])

city
Agra             6.000000e+08
Bangalore        2.317000e+06
Bhubaneswar      1.559000e+06
Chennai          8.445000e+06
Coimbatore       1.998000e+06
Delhi            2.550000e+07
Gandhinagar      0.000000e+00
Guntur           1.000000e+07
Gurgaon          2.000000e+08
Hyderabad        2.400000e+06
Jaipur           9.378000e+06
Jalpaiguri       5.000000e+05
Kakinada         1.650000e+07
Kanyakumari      4.000000e+06
Kochi            1.200000e+07
Lucknow          1.099000e+06
Mumbai           7.300000e+07
Navi Mumbai      5.150000e+00
Noida            5.500000e+07
Patna            1.558000e+06
Pune             1.600000e+07
Thane            5.000000e+06
Vijayawada       2.004000e+06
Vikarabad        2.000000e+07
Visakhapatnam    4.676000e+06
Vizianagaram     1.600000e+07
dtype: float64

In [8]:
df.groupby(["city", "beds"]).apply(lambda x: x.loc[x.price.idxmax()])

                                                                  url  beds  \
city          beds
Agra          0     https://www.99acres.com/residential-land-plot-...     0
              2     https://www.99acres.com/2-bhk-bedroom-apartmen...     2
              3     https://www.99acres.com/3-bhk-bedroom-independ...     3
              4     https://www.99acres.com/4-bhk-bedroom-independ...     4
              5     https://www.99acres.com/5-bhk-bedroom-independ...     5
...                                                               ...   ...
Visakhapatnam 0     https://www.99acres.com/other-residential-prop...     0
              2     https://www.99acres.com/2-bhk-bedroom-independ...     2
              3     https://www.99acres.com/rs-aurora-bay-bheemili...     3
              4     https://www.99acres.com/4-bhk-bedroom-independ...     4
Vizianagaram  0     https://www.99acres.com/residential-land-plot-...     0

                             city                      date              size  \
city          beds
Agra          0              Agra                    2w ago        99000 sqft
              2              Agra                   2mo ago          968 sqft
              3              Agra                   2mo ago         2367 sqft
              4              Agra                   3mo ago         1250 sqft
              5              Agra                    3w ago         3753 sqft
...                           ...                       ...               ...
Visakhapatnam 0     Visakhapatnam                   3mo ago       740520 sqft
              2     Visakhapatnam  2025-02-19T04:38:35.432Z         4500 sqft
              3     Visakhapatnam  2025-02-19T04:38:36.102Z  3503 - 6226 sqft
              4     Visakhapatnam  2025-02-19T04:38:35.432Z         2403 sqft
Vizianagaram  0      Vizianagaram  2025-02-19T04:38:35.432Z         7200 sqft

                                       type  baths        price  \
city          beds
Agra          0     Residential land / Plot      0  600000000.0
              2                  2 BHK Flat      2    5200000.0
              3             3 Bedroom House      3   31500000.0
              4             4 Bedroom House      3    5200000.0
              5             5 Bedroom House      2   41700000.0
...                                     ...    ...          ...
Visakhapatnam 0        Residential property      0   40000000.0
              2             2 Bedroom House      2   20000000.0
              3        3, 4, 5, 6 BHK Villa      3   29800000.0
              4             4 Bedroom House      4   19500000.0
Vizianagaram  0     Residential land / Plot      0   16000000.0

                           neighborhood
city          beds
Agra          0             Jeoni Mandi
              2            Shastripuram
              3              Dayal Bagh
              4         Shamshabad Road
              5             Civil Lines
...                                 ...
Visakhapatnam 0             Narsipatnam
              2     Sector 9 MVP Colony
              3                Bheemili
              4                 Kommadi
Vizianagaram  0              Modavalasa

[81 rows x 9 columns]

In [11]:
df.groupby("city").price.agg([len, min, max])

               len          min          max
city
Agra            10   4000000.00  600000000.0
Bangalore       10    889000.00   39800000.0
Bhubaneswar     10   1559000.00   20600000.0
Chennai         20   1260000.00   34000000.0
Coimbatore      10    880000.00   25100000.0
Delhi           10         0.00   90000000.0
Gandhinagar     10         0.00   25400000.0
Guntur           1  10000000.00   10000000.0
Gurgaon         10  30500000.00  249500000.0
Hyderabad       20         0.00   58000000.0
Jaipur          10   4200000.00   28900000.0
Jalpaiguri      10    500000.00   11000000.0
Kakinada        37   1064000.00   42000000.0
Kanyakumari     10   1100000.00   53000000.0
Kochi           10   1500000.00   39600000.0
Lucknow         10    750000.00   45900000.0
Mumbai          17         9.00   95400000.0
Navi Mumbai      2         5.15          9.0
Noida           22      7250.00  270000000.0
Patna            2   1558000.00    5520000.0
Pune             9   3500000.00   16000000.0
Thane            1   5000000.00    5000000.0
Vijayawada       9         0.00   26700000.0
Vikarabad        1  20000000.00   20000000.0
Visakhapatnam   25   3000000.00   40000000.0
Vizianagaram     1  16000000.00   16000000.0

## Multi-indexes

In [12]:
city_beds = df.groupby(["city", "type"]).price.agg([len])
city_beds

                                       len
city          type
Agra          2 BHK Flat                 2
              3 BHK Flat                 2
              3 Bedroom House            1
              4 Bedroom House            1
              5 Bedroom House            1
...                                    ...
Visakhapatnam 3, 4, 5, 6 BHK Villa       1
              4 Bedroom House            2
              Residential land / Plot    9
              Residential property       1
Vizianagaram  Residential land / Plot    1

[126 rows x 1 columns]

In [13]:
mi = city_beds.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [14]:
city_beds.reset_index()

              city                     type  len
0             Agra               2 BHK Flat    2
1             Agra               3 BHK Flat    2
2             Agra          3 Bedroom House    1
3             Agra          4 Bedroom House    1
4             Agra          5 Bedroom House    1
..             ...                      ...  ...
121  Visakhapatnam     3, 4, 5, 6 BHK Villa    1
122  Visakhapatnam          4 Bedroom House    2
123  Visakhapatnam  Residential land / Plot    9
124  Visakhapatnam     Residential property    1
125   Vizianagaram  Residential land / Plot    1

[126 rows x 3 columns]

## Sorting

In [17]:
city_beds = city_beds.reset_index()
city_beds

              city                     type  len
0             Agra               2 BHK Flat    2
1             Agra               3 BHK Flat    2
2             Agra          3 Bedroom House    1
3             Agra          4 Bedroom House    1
4             Agra          5 Bedroom House    1
..             ...                      ...  ...
121  Visakhapatnam     3, 4, 5, 6 BHK Villa    1
122  Visakhapatnam          4 Bedroom House    2
123  Visakhapatnam  Residential land / Plot    9
124  Visakhapatnam     Residential property    1
125   Vizianagaram  Residential land / Plot    1

[126 rows x 3 columns]

In [16]:
city_beds.sort_values(by="len", ascending=False)

                                       len
city          type
Noida         Apartment                 10
Kakinada      Villa                     10
Visakhapatnam Residential land / Plot    9
Kanyakumari   Plot/Land                  9
Kakinada      Flat                       9
...                                    ...
Gandhinagar   5 BHK House                1
              3, 4 BHK Apartment         1
              2 BHK Flat                 1
Delhi         Villa                      1
Vizianagaram  Residential land / Plot    1

[126 rows x 1 columns]

In [18]:
city_beds.sort_index()

              city                     type  len
0             Agra               2 BHK Flat    2
1             Agra               3 BHK Flat    2
2             Agra          3 Bedroom House    1
3             Agra          4 Bedroom House    1
4             Agra          5 Bedroom House    1
..             ...                      ...  ...
121  Visakhapatnam     3, 4, 5, 6 BHK Villa    1
122  Visakhapatnam          4 Bedroom House    2
123  Visakhapatnam  Residential land / Plot    9
124  Visakhapatnam     Residential property    1
125   Vizianagaram  Residential land / Plot    1

[126 rows x 3 columns]

In [19]:
city_beds.sort_values(by=["city", "len"])

              city                     type  len
2             Agra          3 Bedroom House    1
3             Agra          4 Bedroom House    1
4             Agra          5 Bedroom House    1
0             Agra               2 BHK Flat    2
1             Agra               3 BHK Flat    2
..             ...                      ...  ...
119  Visakhapatnam          3 BHK Apartment    2
120  Visakhapatnam               3 BHK Flat    2
122  Visakhapatnam          4 Bedroom House    2
123  Visakhapatnam  Residential land / Plot    9
125   Vizianagaram  Residential land / Plot    1

[126 rows x 3 columns]