## Dtypes

### The data type for a column in a DataFrame or a Series is known as the dtype.

In [4]:
import pandas as pd

df = pd.read_csv(r"C:/Users/dindu/OneDrive/Desktop/Realty AI/dataset/real_estate_dataset.csv")
df.head()

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield
3,https://www.99acres.com/provident-botanico-sou...,2,Bangalore,2025-02-19,658-1003 sqft,"2, 3 BHK Apartment",0,889000.0,Soukya Road
4,https://www.99acres.com/kvg-superior-kalkere-b...,2,Bangalore,2025-02-19,1179-1449 sqft,"2, 3 BHK Apartment",0,6483000.0,Kalkere

In [5]:
df.price.dtype

dtype('float64')

In [6]:
df.dtypes

url              object
beds              int64
city             object
date             object
size             object
type             object
baths             int64
price           float64
neighborhood     object
dtype: object

In [7]:
df.price.astype("float64")

0       2317000.0
1      12500000.0
2      23200000.0
3        889000.0
4       6483000.0
          ...
282    10000000.0
283     6500000.0
284    13500000.0
285     3500000.0
286    12000000.0
Name: price, Length: 287, dtype: float64

In [8]:
df.index.dtype

dtype('int64')

## Missing data

In [9]:
df[pd.isnull(df.neighborhood)]

Empty DataFrame
Columns: [url, beds, city, date, size, type, baths, price, neighborhood]
Index: []

In [10]:
df.neighborhood.fillna("Unknown")

0             Jigani
1        Tumkur Road
2         Whitefield
3        Soukya Road
4            Kalkere
           ...
282    Manjari Khurd
283         Punawale
284           Katraj
285       Kirkatwadi
286        Mahalunge
Name: neighborhood, Length: 287, dtype: object

In [11]:
df.city.replace("Bangalore", "Bengaluru")

0      Bengaluru
1      Bengaluru
2      Bengaluru
3      Bengaluru
4      Bengaluru
         ...
282         Pune
283         Pune
284         Pune
285         Pune
286         Pune
Name: city, Length: 287, dtype: object