In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:/Users/dindu/OneDrive/Desktop/Realty AI/dataset/real_estate_dataset.csv")

In [3]:
df.head()

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield
3,https://www.99acres.com/provident-botanico-sou...,2,Bangalore,2025-02-19,658-1003 sqft,"2, 3 BHK Apartment",0,889000.0,Soukya Road
4,https://www.99acres.com/kvg-superior-kalkere-b...,2,Bangalore,2025-02-19,1179-1449 sqft,"2, 3 BHK Apartment",0,6483000.0,Kalkere

## Renaming

In [5]:
df.rename(columns={"price": "property_price"})

,url,beds,city,date,size,type,baths,property_price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield
3,https://www.99acres.com/provident-botanico-sou...,2,Bangalore,2025-02-19,658-1003 sqft,"2, 3 BHK Apartment",0,889000.0,Soukya Road
4,https://www.99acres.com/kvg-superior-kalkere-b...,2,Bangalore,2025-02-19,1179-1449 sqft,"2, 3 BHK Apartment",0,6483000.0,Kalkere
...,...,...,...,...,...,...,...,...,...
282,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-01-19,840 sqft,Residential apartment,3,10000000.0,Manjari Khurd
283,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Pune,2025-02-13,690 sqft,Residential apartment,2,6500000.0,Punawale
284,https://www.99acres.com/6-bhk-bedroom-independ...,6,Pune,2025-01-19,840 sqft,Independent House/Villa,6,13500000.0,Katraj
285,https://www.99acres.com/1-bhk-bedroom-apartmen...,1,Pune,2025-02-17,640 sqft,Residential apartment,1,3500000.0,Kirkatwadi
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge

In [4]:
df.rename(index={0: "firstEntry", 1: "secondEntry"})

,url,beds,city,date,size,type,baths,price,neighborhood
firstEntry,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
secondEntry,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield
3,https://www.99acres.com/provident-botanico-sou...,2,Bangalore,2025-02-19,658-1003 sqft,"2, 3 BHK Apartment",0,889000.0,Soukya Road
4,https://www.99acres.com/kvg-superior-kalkere-b...,2,Bangalore,2025-02-19,1179-1449 sqft,"2, 3 BHK Apartment",0,6483000.0,Kalkere
...,...,...,...,...,...,...,...,...,...
282,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-01-19,840 sqft,Residential apartment,3,10000000.0,Manjari Khurd
283,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Pune,2025-02-13,690 sqft,Residential apartment,2,6500000.0,Punawale
284,https://www.99acres.com/6-bhk-bedroom-independ...,6,Pune,2025-01-19,840 sqft,Independent House/Villa,6,13500000.0,Katraj
285,https://www.99acres.com/1-bhk-bedroom-apartmen...,1,Pune,2025-02-17,640 sqft,Residential apartment,1,3500000.0,Kirkatwadi
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge

In [6]:
df.rename_axis("properties", axis="rows").rename_axis("fields", axis="columns")

fields,url,beds,city,date,size,type,baths,price,neighborhood
properties,,,,,,,,,
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield
3,https://www.99acres.com/provident-botanico-sou...,2,Bangalore,2025-02-19,658-1003 sqft,"2, 3 BHK Apartment",0,889000.0,Soukya Road
4,https://www.99acres.com/kvg-superior-kalkere-b...,2,Bangalore,2025-02-19,1179-1449 sqft,"2, 3 BHK Apartment",0,6483000.0,Kalkere
...,...,...,...,...,...,...,...,...,...
282,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-01-19,840 sqft,Residential apartment,3,10000000.0,Manjari Khurd
283,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Pune,2025-02-13,690 sqft,Residential apartment,2,6500000.0,Punawale
284,https://www.99acres.com/6-bhk-bedroom-independ...,6,Pune,2025-01-19,840 sqft,Independent House/Villa,6,13500000.0,Katraj
285,https://www.99acres.com/1-bhk-bedroom-apartmen...,1,Pune,2025-02-17,640 sqft,Residential apartment,1,3500000.0,Kirkatwadi
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge

## Combining

In [7]:
df1 = df.iloc[:150]
df2 = df.iloc[150:]

In [8]:
combined = pd.concat([df1, df2])
combined.shape

(287, 9)

In [9]:
left = df.set_index(["city", "neighborhood"])
left.head()

                                                                      url  \
city      neighborhood
Bangalore Jigani        https://www.99acres.com/residential-land-plot-...
          Tumkur Road   https://www.99acres.com/2-bhk-bedroom-apartmen...
          Whitefield    https://www.99acres.com/sumadhura-capitol-resi...
          Soukya Road   https://www.99acres.com/provident-botanico-sou...
          Kalkere       https://www.99acres.com/kvg-superior-kalkere-b...

                        beds        date            size  \
city      neighborhood
Bangalore Jigani           0  2025-02-19   799-1258 sqft
          Tumkur Road      2  2025-02-19       1085 sqft
          Whitefield       3  2025-02-19  1525-2150 sqft
          Soukya Road      2  2025-02-19   658-1003 sqft
          Kalkere          2  2025-02-19  1179-1449 sqft

                                           type  baths       price
city      neighborhood
Bangalore Jigani        Residential land / Plot      0   2317000.0
          Tumkur Road                2 BHK Flat      2  12500000.0
          Whitefield         3, 4 BHK Apartment      0  23200000.0
          Soukya Road        2, 3 BHK Apartment      0    889000.0
          Kalkere            2, 3 BHK Apartment      0   6483000.0

In [10]:
right = df[["city", "type"]].drop_duplicates().set_index("city")
right.head()

                              type
city
Bangalore  Residential land / Plot
Bangalore               2 BHK Flat
Bangalore       3, 4 BHK Apartment
Bangalore       2, 3 BHK Apartment
Bangalore    2, 3, 4 BHK Apartment

In [12]:
joined = df.set_index("city").join(right, rsuffix="_right")
joined.head()

,url,beds,date,size,type,baths,price,neighborhood,type_right
city,,,,,,,,,
Agra,https://www.99acres.com/residential-land-plot-...,0,2w ago,99000 sqft,Residential land / Plot,0,600000000.0,Jeoni Mandi,Residential land / Plot
Agra,https://www.99acres.com/residential-land-plot-...,0,2w ago,99000 sqft,Residential land / Plot,0,600000000.0,Jeoni Mandi,5 Bedroom House
Agra,https://www.99acres.com/residential-land-plot-...,0,2w ago,99000 sqft,Residential land / Plot,0,600000000.0,Jeoni Mandi,3 BHK Flat
Agra,https://www.99acres.com/residential-land-plot-...,0,2w ago,99000 sqft,Residential land / Plot,0,600000000.0,Jeoni Mandi,2 BHK Flat
Agra,https://www.99acres.com/residential-land-plot-...,0,2w ago,99000 sqft,Residential land / Plot,0,600000000.0,Jeoni Mandi,3 Bedroom House

In [11]:
city_info = pd.DataFrame({
    "city": df["city"].unique(),
    "state": ["Unknown"] * df["city"].nunique()
}).set_index("city")

joined = df.set_index("city").join(city_info)
joined.head()

,url,beds,date,size,type,baths,price,neighborhood,state
city,,,,,,,,,
Agra,https://www.99acres.com/residential-land-plot-...,0,2w ago,99000 sqft,Residential land / Plot,0,600000000.0,Jeoni Mandi,Unknown
Agra,https://www.99acres.com/5-bhk-bedroom-independ...,5,3w ago,3753 sqft,5 Bedroom House,2,41700000.0,Civil Lines,Unknown
Agra,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,2mo ago,1883 sqft,3 BHK Flat,3,11000000.0,Taj Nagari,Unknown
Agra,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,2mo ago,968 sqft,2 BHK Flat,2,5200000.0,Shastripuram,Unknown
Agra,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,2mo ago,1705 sqft,3 BHK Flat,3,8200000.0,Dayal Bagh,Unknown