In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("../dataset/dataset.csv")

In [4]:
pd.DataFrame({
    "price": data["price"].head(2).values,
    "area": data["area"].head(2).values
})

        price    area
0  28900000.0  2464.0
1  20000000.0  1920.0

In [5]:
pd.DataFrame({
    "num_bed_rooms": data["num_bed_rooms"].head(2).values,
    "num_bath_rooms": data["num_bath_rooms"].head(2).values
})

   num_bed_rooms  num_bath_rooms
0            3.0             4.0
1            3.0             3.0

In [6]:
pd.DataFrame({
    "price_per_sqft": data["price_per_sqft"].head(2).values,
    "city": data["city"].head(2).values
}, index=data["locality"].head(2).values)

                 price_per_sqft   city
Dhanmondi          11728.896104  Dhaka
Bashundhara R-A    10416.666667  Dhaka

In [7]:
pd.Series(data["price"].head(5).values)

0    28900000.0
1    20000000.0
2    10800000.0
3    10500000.0
4     8000000.0
dtype: float64

In [8]:
pd.Series(
    data["area"].head(3).values,
    index=data["city"].head(3).values,
    name="Area"
)

Dhaka    2464.0
Dhaka    1920.0
Dhaka    1445.0
Name: Area, dtype: float64

In [9]:
data.shape

(18754, 22)

In [10]:
data.head()

,area,building_type,building_nature,num_bath_rooms,num_bed_rooms,price,property_url,purpose,city,locality,...,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count,division,zone,price_per_sqft
0,2464.0,Apartment,Residential,4.0,3.0,28900000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Dhanmondi,...,1,2,1,1,3,3,4,Dhaka,Dhanmondi,11728.896104
1,1920.0,Apartment,Residential,3.0,3.0,20000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Bashundhara R-A,...,1,1,2,1,3,2,3,Dhaka,Bashundhara R/A,10416.666667
2,1445.0,Apartment,Residential,3.0,3.0,10800000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Banasree,...,1,2,2,1,1,3,4,Dhaka,Khilgaon,7474.048443
3,1475.0,Apartment,Residential,3.0,3.0,10500000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Uttara,...,1,2,3,1,3,3,4,Dhaka,Uttara,7118.644068
4,1066.0,Apartment,Residential,2.0,3.0,8000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Sutrapur,...,1,1,2,1,4,3,4,Dhaka,Sutrapur,7504.690432