In [2]:
import pandas as pd

In [4]:
pd.DataFrame({'Y': [5, 2], 'N': [1, 2]})

   Y  N
0  5  1
1  2  2

In [5]:
pd.DataFrame({0:[0,0],1:[0,1]},index=[0,1])

   0  1
0  0  0
1  0  1

In [6]:
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])

a    1
b    2
c    3
d    4
dtype: int64

In [8]:
pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'], name='My Series')

a    1
b    2
c    3
d    4
Name: My Series, dtype: int64

In [9]:
city_df = pd.read_csv('/home/sukesh/Desktop/RealtyAI/B-13-RealtyAI-Smart-Real-Estate-Insight-Platform/dataset/City_time_series.csv')

In [10]:
city_df.shape

(3762566, 81)

In [11]:
city_df.head()

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,1996-04-30,abbottstownadamspa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,108700.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,aberdeenbinghamid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,168400.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,aberdeenharfordmd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81300.0,137900.0,109600.0,108600.0,147900.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,aberdeenmonroems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74500.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,aberdeenmoorenc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,131100.0,NaN,NaN,NaN,NaN,NaN

to_csv("..") to save the dataframe 

the csv file begins with an unnamed column of increasing integers. We want this to be used as the index. Check out the description of the index_col

# Jupyter Notebook: Data Exploration with Pandas

## Overview
This notebook demonstrates basic pandas operations for data exploration and manipulation.

## Setup
Import the pandas library for data analysis tasks.

## Creating DataFrames
Create simple DataFrames with different structures:
- DataFrame with labeled columns and data
- DataFrame with numeric column indices
- Series with default numeric index
- Series with custom string index
- Named Series for better data identification

## Loading Data
Load a time series dataset from a CSV file containing city-level information.

## Data Inspection
Explore the loaded dataset:
- Check the dimensions (shape) of the data
- Preview the first few rows to understand the structure

## Important Notes
When saving a dataframe to CSV using `to_csv("...")`, the resulting file includes an unnamed index column with increasing integers. To use this column as the index when reading the file back, use the `index_col` parameter in `read_csv()`. This ensures proper index restoration and cleaner data representation.