In [5]:
import pandas as pd
reviews = pd.read_csv("C:\\Users\\ruchi\\OneDrive\\Desktop\\data.csv", index_col=0)
pd.set_option('display.max_rows', 5)

In [6]:
reviews

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-07-10 00:00:00,203400.0,4.0,2.0,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
2014-07-10 00:00:00,220600.0,3.0,2.5,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [7]:
reviews.price

date
2014-05-02 00:00:00     313000.0
2014-05-02 00:00:00    2384000.0
                         ...
2014-07-10 00:00:00     203400.0
2014-07-10 00:00:00     220600.0
Name: price, Length: 4600, dtype: float64

In [8]:
reviews['price']

date
2014-05-02 00:00:00     313000.0
2014-05-02 00:00:00    2384000.0
                         ...
2014-07-10 00:00:00     203400.0
2014-07-10 00:00:00     220600.0
Name: price, Length: 4600, dtype: float64

In [17]:
reviews.iloc[0]

price       313000.0
bedrooms         3.0
              ...
statezip    WA 98133
country          USA
Name: 2014-05-02 00:00:00, Length: 17, dtype: object

In [18]:
reviews.iloc[:, 0]

date
2014-05-02 00:00:00     313000.0
2014-05-02 00:00:00    2384000.0
                         ...
2014-07-10 00:00:00     203400.0
2014-07-10 00:00:00     220600.0
Name: price, Length: 4600, dtype: float64

In [19]:
reviews.iloc[:3, 0]

date
2014-05-02 00:00:00     313000.0
2014-05-02 00:00:00    2384000.0
2014-05-02 00:00:00     342000.0
Name: price, dtype: float64

In [20]:
reviews.iloc[1:3, 0]

date
2014-05-02 00:00:00    2384000.0
2014-05-02 00:00:00     342000.0
Name: price, dtype: float64

In [21]:
reviews.iloc[[0, 1, 2], 0]

date
2014-05-02 00:00:00     313000.0
2014-05-02 00:00:00    2384000.0
2014-05-02 00:00:00     342000.0
Name: price, dtype: float64

In [22]:
reviews.iloc[-5:]

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-07-09 00:00:00,308166.666667,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
2014-07-09 00:00:00,534333.333333,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
2014-07-09 00:00:00,416904.166667,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
2014-07-10 00:00:00,203400.000000,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
2014-07-10 00:00:00,220600.000000,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [25]:
reviews.loc[:, ['price', 'bedrooms', 'floors']]

                         price  bedrooms  floors
date
2014-05-02 00:00:00   313000.0       3.0     1.5
2014-05-02 00:00:00  2384000.0       5.0     2.0
...                        ...       ...     ...
2014-07-10 00:00:00   203400.0       4.0     1.0
2014-07-10 00:00:00   220600.0       3.0     2.0

[4600 rows x 3 columns]

In [26]:
reviews.set_index("street")

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,city,statezip,country
street,,,,,,,,,,,,,,,,
18810 Densmore Ave N,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,Shoreline,WA 98133,USA
709 W Blaine St,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,Seattle,WA 98119,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5148 S Creston St,203400.0,4.0,2.0,2090,6630,1.0,0,0,3,1070,1020,1974,0,Seattle,WA 98178,USA
18717 SE 258th St,220600.0,3.0,2.5,1490,8102,2.0,0,0,4,1490,0,1990,0,Covington,WA 98042,USA

In [27]:
reviews.price >= 1000000

date
2014-05-02 00:00:00    False
2014-05-02 00:00:00     True
                       ...
2014-07-10 00:00:00    False
2014-07-10 00:00:00    False
Name: price, Length: 4600, dtype: bool

In [28]:
reviews.loc[reviews.price <= 1000000]

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
2014-05-02 00:00:00,342000.0,3.0,2.0,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-07-10 00:00:00,203400.0,4.0,2.0,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
2014-07-10 00:00:00,220600.0,3.0,2.5,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [29]:
reviews.loc[(reviews.price == 1000000) & (reviews.bedrooms >= 3)]

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-05-15 00:00:00,1000000.0,5.0,4.25,3920,16258,2.0,0,0,3,2900,1020,1990,2009,2548 111th Ave SE,Bellevue,WA 98004,USA
2014-05-22 00:00:00,1000000.0,4.0,3.00,4260,18687,2.0,0,0,3,4260,0,1996,0,2432 267th Ct SE,Sammamish,WA 98075,USA
2014-06-02 00:00:00,1000000.0,3.0,2.50,2730,5832,2.0,0,0,3,2730,0,1998,2006,13428 NE 12th Pl,Bellevue,WA 98005,USA

In [30]:
reviews.loc[(reviews.price == 1000000) | (reviews.bathrooms >= 3)]

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,367500.0,4.0,3.00,3110,7231,2.0,0,0,3,3110,0,1997,0,11224 SE 306th Pl,Auburn,WA 98092,USA
2014-05-02 00:00:00,287200.0,3.0,3.00,1850,19966,1.0,0,0,4,1090,760,1992,0,23017 SE 281st Ct,Maple Valley,WA 98038,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-07-02 00:00:00,0.0,5.0,6.25,8020,21738,2.0,0,0,3,8020,0,2001,0,2 Crescent Key,Bellevue,WA 98006,USA
2014-07-02 00:00:00,245000.0,3.0,3.00,2470,7410,2.0,0,0,5,1860,610,1977,0,8833 Earl Ave NW,Seattle,WA 98117,USA

In [32]:
reviews.loc[reviews.street.isin(['Auburn', 'Maple Valley'])]

Empty DataFrame
Columns: [price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, sqft_above, sqft_basement, yr_built, yr_renovated, street, city, statezip, country]
Index: []

In [33]:
reviews.loc[reviews.price.notnull()]

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-07-10 00:00:00,203400.0,4.0,2.0,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
2014-07-10 00:00:00,220600.0,3.0,2.5,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [34]:
reviews['street'] = 'random'
reviews['street']

date
2014-05-02 00:00:00    random
2014-05-02 00:00:00    random
                        ...
2014-07-10 00:00:00    random
2014-07-10 00:00:00    random
Name: street, Length: 4600, dtype: str

In [35]:
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

date
2014-05-02 00:00:00    4600
2014-05-02 00:00:00    4599
                       ...
2014-07-10 00:00:00       2
2014-07-10 00:00:00       1
Name: index_backwards, Length: 4600, dtype: int64