In [1]:
import pandas as pd
data = pd.read_csv("../dataset/dataset.csv")

In [2]:
data

,area,building_type,building_nature,num_bath_rooms,num_bed_rooms,price,property_url,purpose,city,locality,...,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count,division,zone,price_per_sqft
0,2464.0,Apartment,Residential,4.0,3.0,28900000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Dhanmondi,...,1,2,1,1,3,3,4,Dhaka,Dhanmondi,11728.896104
1,1920.0,Apartment,Residential,3.0,3.0,20000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Bashundhara R-A,...,1,1,2,1,3,2,3,Dhaka,Bashundhara R/A,10416.666667
2,1445.0,Apartment,Residential,3.0,3.0,10800000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Banasree,...,1,2,2,1,1,3,4,Dhaka,Khilgaon,7474.048443
3,1475.0,Apartment,Residential,3.0,3.0,10500000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Uttara,...,1,2,3,1,3,3,4,Dhaka,Uttara,7118.644068
4,1066.0,Apartment,Residential,2.0,3.0,8000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Sutrapur,...,1,1,2,1,4,3,4,Dhaka,Sutrapur,7504.690432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18749,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,3,4,2,13,Dhaka,Bashundhara R/A,9600.000000
18750,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,2,1,1,4,2,1,Dhaka,Bashundhara R/A,9600.000000
18751,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,1,3,3,1,Dhaka,Bashundhara R/A,6000.000000
18752,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,1,1,1,2,1,Dhaka,Bashundhara R/A,6000.000000
18753,1600.0,Office,Commercial,3.0,3.0,2850000.0,https://www.thetolet.com/en/dhaka/adabor/31021...,Rent,Dhaka,Adabor,...,1,2,2,1,1,2,1,Dhaka,Mohammadpur,1781.250000

In [3]:
data.city

0        Dhaka
1        Dhaka
2        Dhaka
3        Dhaka
4        Dhaka
         ...
18749    Dhaka
18750    Dhaka
18751    Dhaka
18752    Dhaka
18753    Dhaka
Name: city, Length: 18754, dtype: str

In [4]:
data["city"]

0        Dhaka
1        Dhaka
2        Dhaka
3        Dhaka
4        Dhaka
         ...
18749    Dhaka
18750    Dhaka
18751    Dhaka
18752    Dhaka
18753    Dhaka
Name: city, Length: 18754, dtype: str

In [5]:
data["city"][0]

'Dhaka'

In [6]:
data.iloc[0]

area                                                                                2464.0
building_type                                                                    Apartment
building_nature                                                                Residential
num_bath_rooms                                                                         4.0
num_bed_rooms                                                                          3.0
price                                                                           28900000.0
property_url                             https://www.bproperty.com/en/property/details-...
purpose                                                                               Sale
city                                                                                 Dhaka
locality                                                                         Dhanmondi
address                                                                            Unknown
id                                                                             bproperty-1
relaxation_amenity_count                                                                 1
security_amenity_count                                                                   2
maintenance_or_cleaning_amenity_count                                                    1
social_amenity_count                                                                     1
expendable_amenity_count                                                                 3
service_staff_amenity_count                                                              3
unclassify_amenity_count                                                                 4
division                                                                             Dhaka
zone                                                                             Dhanmondi
price_per_sqft                                                                11728.896104
Name: 0, dtype: object

In [7]:
data.iloc[:, 0]

0        2464.0
1        1920.0
2        1445.0
3        1475.0
4        1066.0
          ...
18749     375.0
18750     375.0
18751     800.0
18752     800.0
18753    1600.0
Name: area, Length: 18754, dtype: float64

In [8]:
data.iloc[:3, 0]

0    2464.0
1    1920.0
2    1445.0
Name: area, dtype: float64

In [9]:
data.iloc[[0, 1, 2], 0]

0    2464.0
1    1920.0
2    1445.0
Name: area, dtype: float64

In [10]:
data.iloc[-5:]

,area,building_type,building_nature,num_bath_rooms,num_bed_rooms,price,property_url,purpose,city,locality,...,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count,division,zone,price_per_sqft
18749,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,3,4,2,13,Dhaka,Bashundhara R/A,9600.00
18750,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,2,1,1,4,2,1,Dhaka,Bashundhara R/A,9600.00
18751,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,1,3,3,1,Dhaka,Bashundhara R/A,6000.00
18752,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,1,1,1,2,1,Dhaka,Bashundhara R/A,6000.00
18753,1600.0,Office,Commercial,3.0,3.0,2850000.0,https://www.thetolet.com/en/dhaka/adabor/31021...,Rent,Dhaka,Adabor,...,1,2,2,1,1,2,1,Dhaka,Mohammadpur,1781.25

In [11]:
data.loc[0, "city"]

'Dhaka'

In [12]:
data.loc[:, ["building_type", "purpose", "city"]]

      building_type purpose   city
0         Apartment    Sale  Dhaka
1         Apartment    Sale  Dhaka
2         Apartment    Sale  Dhaka
3         Apartment    Sale  Dhaka
4         Apartment    Sale  Dhaka
...             ...     ...    ...
18749     Apartment    Rent  Dhaka
18750     Apartment    Rent  Dhaka
18751     Apartment    Rent  Dhaka
18752     Apartment    Rent  Dhaka
18753        Office    Rent  Dhaka

[18754 rows x 3 columns]

In [16]:
data.set_index("locality")

,area,building_type,building_nature,num_bath_rooms,num_bed_rooms,price,property_url,purpose,city,address,...,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count,division,zone,price_per_sqft
locality,,,,,,,,,,,,,,,,,,,,,
Dhanmondi,2464.0,Apartment,Residential,4.0,3.0,28900000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Unknown,...,1,2,1,1,3,3,4,Dhaka,Dhanmondi,11728.896104
Bashundhara R-A,1920.0,Apartment,Residential,3.0,3.0,20000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Block J,...,1,1,2,1,3,2,3,Dhaka,Bashundhara R/A,10416.666667
Banasree,1445.0,Apartment,Residential,3.0,3.0,10800000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,"Block M, South Banasree Project",...,1,2,2,1,1,3,4,Dhaka,Khilgaon,7474.048443
Uttara,1475.0,Apartment,Residential,3.0,3.0,10500000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Sector 10,...,1,2,3,1,3,3,4,Dhaka,Uttara,7118.644068
Sutrapur,1066.0,Apartment,Residential,2.0,3.0,8000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Narinda,...,1,1,2,1,4,3,4,Dhaka,Sutrapur,7504.690432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Bashundhara R.A,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,"Bashundhara R.A,Dhaka,Bashundhara R.A,Dhaka,JC...",...,1,1,2,3,4,2,13,Dhaka,Bashundhara R/A,9600.000000
Bashundhara R.A,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,"Bashundhara R.A,Dhaka,Bashundhara R.A,Dhaka,:J...",...,1,2,1,1,4,2,1,Dhaka,Bashundhara R/A,9600.000000
Bashundhara R.A,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,"Bashundhara R.A,Dhaka,Bashundhara R.A,Dhaka,JC...",...,1,1,2,1,3,3,1,Dhaka,Bashundhara R/A,6000.000000
Bashundhara R.A,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,"Bashundhara R.A,Dhaka,Bashundhara R.A,Dhaka,Dhaka",...,1,1,1,1,1,2,1,Dhaka,Bashundhara R/A,6000.000000
Adabor,1600.0,Office,Commercial,3.0,3.0,2850000.0,https://www.thetolet.com/en/dhaka/adabor/31021...,Rent,Dhaka,"7,88,Adabor,Dhaka,7,88,Adabor,Dhaka,বাসা ৮৮,রো...",...,1,2,2,1,1,2,1,Dhaka,Mohammadpur,1781.250000

In [17]:
data.city == "Dhaka"

0        True
1        True
2        True
3        True
4        True
         ...
18749    True
18750    True
18751    True
18752    True
18753    True
Name: city, Length: 18754, dtype: bool

In [18]:
data.loc[data.city == "Dhaka"]

,area,building_type,building_nature,num_bath_rooms,num_bed_rooms,price,property_url,purpose,city,locality,...,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count,division,zone,price_per_sqft
0,2464.0,Apartment,Residential,4.0,3.0,28900000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Dhanmondi,...,1,2,1,1,3,3,4,Dhaka,Dhanmondi,11728.896104
1,1920.0,Apartment,Residential,3.0,3.0,20000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Bashundhara R-A,...,1,1,2,1,3,2,3,Dhaka,Bashundhara R/A,10416.666667
2,1445.0,Apartment,Residential,3.0,3.0,10800000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Banasree,...,1,2,2,1,1,3,4,Dhaka,Khilgaon,7474.048443
3,1475.0,Apartment,Residential,3.0,3.0,10500000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Uttara,...,1,2,3,1,3,3,4,Dhaka,Uttara,7118.644068
4,1066.0,Apartment,Residential,2.0,3.0,8000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Sutrapur,...,1,1,2,1,4,3,4,Dhaka,Sutrapur,7504.690432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18749,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,3,4,2,13,Dhaka,Bashundhara R/A,9600.000000
18750,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,2,1,1,4,2,1,Dhaka,Bashundhara R/A,9600.000000
18751,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,1,3,3,1,Dhaka,Bashundhara R/A,6000.000000
18752,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,1,1,1,2,1,Dhaka,Bashundhara R/A,6000.000000
18753,1600.0,Office,Commercial,3.0,3.0,2850000.0,https://www.thetolet.com/en/dhaka/adabor/31021...,Rent,Dhaka,Adabor,...,1,2,2,1,1,2,1,Dhaka,Mohammadpur,1781.250000

In [19]:
data.loc[(data.city == "Dhaka") & (data.price >= 1000000)]

,area,building_type,building_nature,num_bath_rooms,num_bed_rooms,price,property_url,purpose,city,locality,...,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count,division,zone,price_per_sqft
0,2464.0,Apartment,Residential,4.0,3.0,28900000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Dhanmondi,...,1,2,1,1,3,3,4,Dhaka,Dhanmondi,11728.896104
1,1920.0,Apartment,Residential,3.0,3.0,20000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Bashundhara R-A,...,1,1,2,1,3,2,3,Dhaka,Bashundhara R/A,10416.666667
2,1445.0,Apartment,Residential,3.0,3.0,10800000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Banasree,...,1,2,2,1,1,3,4,Dhaka,Khilgaon,7474.048443
3,1475.0,Apartment,Residential,3.0,3.0,10500000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Uttara,...,1,2,3,1,3,3,4,Dhaka,Uttara,7118.644068
4,1066.0,Apartment,Residential,2.0,3.0,8000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Sutrapur,...,1,1,2,1,4,3,4,Dhaka,Sutrapur,7504.690432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18749,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,3,4,2,13,Dhaka,Bashundhara R/A,9600.000000
18750,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,2,1,1,4,2,1,Dhaka,Bashundhara R/A,9600.000000
18751,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,1,3,3,1,Dhaka,Bashundhara R/A,6000.000000
18752,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,1,1,1,2,1,Dhaka,Bashundhara R/A,6000.000000
18753,1600.0,Office,Commercial,3.0,3.0,2850000.0,https://www.thetolet.com/en/dhaka/adabor/31021...,Rent,Dhaka,Adabor,...,1,2,2,1,1,2,1,Dhaka,Mohammadpur,1781.250000

In [20]:
data.loc[(data.city == "Dhaka") | (data.price >= 1000000)]

,area,building_type,building_nature,num_bath_rooms,num_bed_rooms,price,property_url,purpose,city,locality,...,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count,division,zone,price_per_sqft
0,2464.0,Apartment,Residential,4.0,3.0,28900000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Dhanmondi,...,1,2,1,1,3,3,4,Dhaka,Dhanmondi,11728.896104
1,1920.0,Apartment,Residential,3.0,3.0,20000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Bashundhara R-A,...,1,1,2,1,3,2,3,Dhaka,Bashundhara R/A,10416.666667
2,1445.0,Apartment,Residential,3.0,3.0,10800000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Banasree,...,1,2,2,1,1,3,4,Dhaka,Khilgaon,7474.048443
3,1475.0,Apartment,Residential,3.0,3.0,10500000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Uttara,...,1,2,3,1,3,3,4,Dhaka,Uttara,7118.644068
4,1066.0,Apartment,Residential,2.0,3.0,8000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Sutrapur,...,1,1,2,1,4,3,4,Dhaka,Sutrapur,7504.690432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18749,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,3,4,2,13,Dhaka,Bashundhara R/A,9600.000000
18750,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,2,1,1,4,2,1,Dhaka,Bashundhara R/A,9600.000000
18751,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,1,3,3,1,Dhaka,Bashundhara R/A,6000.000000
18752,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,1,1,1,2,1,Dhaka,Bashundhara R/A,6000.000000
18753,1600.0,Office,Commercial,3.0,3.0,2850000.0,https://www.thetolet.com/en/dhaka/adabor/31021...,Rent,Dhaka,Adabor,...,1,2,2,1,1,2,1,Dhaka,Mohammadpur,1781.250000

In [21]:
data.loc[data.city.isin(["Dhaka", "Chattogram"])]

,area,building_type,building_nature,num_bath_rooms,num_bed_rooms,price,property_url,purpose,city,locality,...,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count,division,zone,price_per_sqft
0,2464.0,Apartment,Residential,4.0,3.0,28900000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Dhanmondi,...,1,2,1,1,3,3,4,Dhaka,Dhanmondi,11728.896104
1,1920.0,Apartment,Residential,3.0,3.0,20000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Bashundhara R-A,...,1,1,2,1,3,2,3,Dhaka,Bashundhara R/A,10416.666667
2,1445.0,Apartment,Residential,3.0,3.0,10800000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Banasree,...,1,2,2,1,1,3,4,Dhaka,Khilgaon,7474.048443
3,1475.0,Apartment,Residential,3.0,3.0,10500000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Uttara,...,1,2,3,1,3,3,4,Dhaka,Uttara,7118.644068
4,1066.0,Apartment,Residential,2.0,3.0,8000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Sutrapur,...,1,1,2,1,4,3,4,Dhaka,Sutrapur,7504.690432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18749,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,3,4,2,13,Dhaka,Bashundhara R/A,9600.000000
18750,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,2,1,1,4,2,1,Dhaka,Bashundhara R/A,9600.000000
18751,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,1,3,3,1,Dhaka,Bashundhara R/A,6000.000000
18752,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,1,1,1,2,1,Dhaka,Bashundhara R/A,6000.000000
18753,1600.0,Office,Commercial,3.0,3.0,2850000.0,https://www.thetolet.com/en/dhaka/adabor/31021...,Rent,Dhaka,Adabor,...,1,2,2,1,1,2,1,Dhaka,Mohammadpur,1781.250000