In [2]:
import pandas as pd
city_df = pd.read_csv('/home/sukesh/Desktop/RealtyAI/B-13-RealtyAI-Smart-Real-Estate-Insight-Platform/dataset/City_time_series.csv')

In [3]:
city_df

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,1996-04-30,abbottstownadamspa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,108700.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,aberdeenbinghamid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,168400.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,aberdeenharfordmd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81300.0,137900.0,109600.0,108600.0,147900.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,aberdeenmonroems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74500.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,aberdeenmoorenc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,131100.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3762561,2017-12-31,zirconiahendersonnc,26.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,...,149200.0,NaN,237500.0,237600.0,433800.0,1340.0,1335.0,0.866,NaN,1336.0
3762562,2017-12-31,zolfo_springshardeefl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,67600.0,79000.0,118600.0,NaN,NaN,NaN,NaN,NaN
3762563,2017-12-31,zumbro_fallswabashamn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157500.0,NaN,277000.0,277000.0,NaN,NaN,NaN,NaN,NaN,NaN
3762564,2017-12-31,zumbrotagoodhuemn,15.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,136700.0,NaN,183700.0,183700.0,261300.0,1340.0,1337.0,1.084,NaN,1338.0
3762565,2017-12-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123700.0,NaN,216400.0,216400.0,301500.0,1305.0,1303.0,0.800,NaN,1303.0

In [4]:
city_df.RegionName

0             abbottstownadamspa
1              aberdeenbinghamid
2              aberdeenharfordmd
3               aberdeenmonroems
4                aberdeenmoorenc
                   ...
3762561      zirconiahendersonnc
3762562    zolfo_springshardeefl
3762563    zumbro_fallswabashamn
3762564        zumbrotagoodhuemn
3762565      zuniisle_of_wightva
Name: RegionName, Length: 3762566, dtype: str

In [5]:
city_df['RegionName']

0             abbottstownadamspa
1              aberdeenbinghamid
2              aberdeenharfordmd
3               aberdeenmonroems
4                aberdeenmoorenc
                   ...
3762561      zirconiahendersonnc
3762562    zolfo_springshardeefl
3762563    zumbro_fallswabashamn
3762564        zumbrotagoodhuemn
3762565      zuniisle_of_wightva
Name: RegionName, Length: 3762566, dtype: str

In [6]:
city_df['RegionName'][0]

'abbottstownadamspa'

In [7]:
city_df.iloc[0]

Date                                            1996-04-30
RegionName                              abbottstownadamspa
InventorySeasonallyAdjusted_AllHomes                   NaN
InventoryRaw_AllHomes                                  NaN
MedianListingPricePerSqft_1Bedroom                     NaN
                                               ...
ZRI_AllHomes                                           NaN
ZRI_AllHomesPlusMultifamily                            NaN
ZriPerSqft_AllHomes                                    NaN
Zri_MultiFamilyResidenceRental                         NaN
Zri_SingleFamilyResidenceRental                        NaN
Name: 0, Length: 81, dtype: object

In [11]:
city_df.iloc[:,[0,1,47,62,63,64,65,66,67,68,69,70,71,72]]

,Date,RegionName,MedianRentalPrice_MultiFamilyResidence5PlusUnits,Sale_Counts,Sale_Counts_Seas_Adj,Sale_Prices,ZHVI_1bedroom,ZHVI_2bedroom,ZHVI_3bedroom,ZHVI_4bedroom,ZHVI_5BedroomOrMore,ZHVI_AllHomes,ZHVI_BottomTier,ZHVI_CondoCoop
0,1996-04-30,abbottstownadamspa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,aberdeenbinghamid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,aberdeenharfordmd,NaN,NaN,NaN,NaN,NaN,76000.0,111700.0,141700.0,NaN,109600.0,81300.0,137900.0
3,1996-04-30,aberdeenmonroems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,aberdeenmoorenc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117400.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3762561,2017-12-31,zirconiahendersonnc,NaN,NaN,NaN,NaN,NaN,189600.0,229100.0,NaN,NaN,237500.0,149200.0,NaN
3762562,2017-12-31,zolfo_springshardeefl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67600.0,NaN,NaN
3762563,2017-12-31,zumbro_fallswabashamn,NaN,NaN,NaN,NaN,NaN,NaN,294400.0,NaN,NaN,277000.0,157500.0,NaN
3762564,2017-12-31,zumbrotagoodhuemn,NaN,NaN,NaN,NaN,NaN,NaN,161400.0,NaN,NaN,183700.0,136700.0,NaN
3762565,2017-12-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,129700.0,222300.0,286700.0,NaN,216400.0,123700.0,NaN

In [12]:
city_df.iloc[:3,1]

0    abbottstownadamspa
1     aberdeenbinghamid
2     aberdeenharfordmd
Name: RegionName, dtype: str

In [15]:
city_df.iloc[-1:]

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
3762565,2017-12-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123700.0,NaN,216400.0,216400.0,301500.0,1305.0,1303.0,0.8,NaN,1303.0

In [16]:
city_df.RegionName == 'zuniisle_of_wightva'

0          False
1          False
2          False
3          False
4          False
           ...
3762561    False
3762562    False
3762563    False
3762564    False
3762565     True
Name: RegionName, Length: 3762566, dtype: bool

In [17]:
city_df.loc[city_df.RegionName == 'zuniisle_of_wightva']

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
11427,1996-04-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59200.0,NaN,107900.0,107900.0,152800.0,NaN,NaN,NaN,NaN,NaN
22998,1996-05-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60100.0,NaN,108700.0,108700.0,153300.0,NaN,NaN,NaN,NaN,NaN
34629,1996-06-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61000.0,NaN,109100.0,109100.0,153000.0,NaN,NaN,NaN,NaN,NaN
46265,1996-07-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61600.0,NaN,109200.0,109200.0,152100.0,NaN,NaN,NaN,NaN,NaN
57914,1996-08-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61300.0,NaN,109800.0,109800.0,152100.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3696655,2017-08-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,120400.0,NaN,213400.0,213400.0,296400.0,1276.0,1273.0,0.780,NaN,1273.0
3713156,2017-09-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121600.0,NaN,213700.0,213700.0,297200.0,1284.0,1280.0,0.788,NaN,1280.0
3729642,2017-10-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123000.0,NaN,214400.0,214400.0,301000.0,1294.0,1290.0,0.794,NaN,1290.0
3746114,2017-11-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123600.0,NaN,215400.0,215400.0,302700.0,1299.0,1296.0,0.798,NaN,1296.0
3762565,2017-12-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123700.0,NaN,216400.0,216400.0,301500.0,1305.0,1303.0,0.800,NaN,1303.0

In [23]:
city_df.loc[(city_df.RegionName == 'zuniisle_of_wightva') & (city_df.ZHVI_4bedroom > 300000)]

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
1578692,2006-04-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,143300.0,NaN,233500.0,233500.0,317700.0,NaN,NaN,NaN,NaN,NaN
1592394,2006-05-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,143200.0,NaN,233000.0,233000.0,320200.0,NaN,NaN,NaN,NaN,NaN
1606096,2006-06-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,141900.0,NaN,230300.0,230300.0,319100.0,NaN,NaN,NaN,NaN,NaN
1619798,2006-07-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,141700.0,NaN,226600.0,226600.0,319200.0,NaN,NaN,NaN,NaN,NaN
1633513,2006-08-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,144000.0,NaN,225500.0,225500.0,322300.0,NaN,NaN,NaN,NaN,NaN
1647228,2006-09-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,146400.0,NaN,227500.0,227500.0,326500.0,NaN,NaN,NaN,NaN,NaN
1660943,2006-10-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,147700.0,NaN,230500.0,230500.0,328700.0,NaN,NaN,NaN,NaN,NaN
1674658,2006-11-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,148900.0,NaN,233200.0,233200.0,329500.0,NaN,NaN,NaN,NaN,NaN
1688373,2006-12-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,151000.0,NaN,235000.0,235000.0,331900.0,NaN,NaN,NaN,NaN,NaN
1702088,2007-01-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,153600.0,NaN,237200.0,237200.0,337000.0,NaN,NaN,NaN,NaN,NaN
1715819,2007-02-28,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,156600.0,NaN,240300.0,240300.0,341000.0,NaN,NaN,NaN,NaN,NaN
1729550,2007-03-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,158600.0,NaN,242800.0,242800.0,342200.0,NaN,NaN,NaN,NaN,NaN
1743281,2007-04-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,159800.0,NaN,243200.0,243200.0,342000.0,NaN,NaN,NaN,NaN,NaN
1757012,2007-05-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,162100.0,NaN,244800.0,244800.0,342600.0,NaN,NaN,NaN,NaN,NaN
1770743,2007-06-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,164600.0,NaN,248100.0,248100.0,344600.0,NaN,NaN,NaN,NaN,NaN
1784474,2007-07-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,166200.0,NaN,252500.0,252500.0,345500.0,NaN,NaN,NaN,NaN,NaN
1798233,2007-08-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,167500.0,NaN,254800.0,254800.0,345400.0,NaN,NaN,NaN,NaN,NaN
1811992,2007-09-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,169000.0,NaN,255200.0,255200.0,344600.0,NaN,NaN,NaN,NaN,NaN
1825751,2007-10-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,171800.0,NaN,255900.0,255900.0,345800.0,NaN,NaN,NaN,NaN,NaN
1839510,2007-11-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,177000.0,NaN,259200.0,259200.0,351100.0,NaN,NaN,NaN,NaN,NaN
1853269,2007-12-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,180400.0,NaN,261700.0,261700.0,357300.0,NaN,NaN,NaN,NaN,NaN
1867019,2008-01-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,180600.0,NaN,262900.0,262900.0,358600.0,NaN,NaN,NaN,NaN,NaN
1880781,2008-02-29,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,180400.0,NaN,263700.0,263700.0,362000.0,NaN,NaN,NaN,NaN,NaN
1895005,2008-03-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,181400.0,NaN,264300.0,264300.0,368300.0,NaN,NaN,NaN,NaN,NaN
1909192,2008-04-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,183400.0,NaN,267000.0,267000.0,372400.0,NaN,NaN,NaN,NaN,NaN
1923381,2008-05-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,187200.0,NaN,270200.0,270200.0,373000.0,NaN,NaN,NaN,NaN,NaN
1937606,2008-06-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,189600.0,NaN,269100.0,269100.0,372400.0,NaN,NaN,NaN,NaN,NaN
1951794,2008-07-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,187900.0,NaN,264400.0,264400.0,369100.0,NaN,NaN,NaN,NaN,NaN
1966038,2008-08-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,184200.0,NaN,260100.0,260100.0,363900.0,NaN,NaN,NaN,NaN,NaN
1980318,2008-09-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,182100.0,NaN,256000.0,256000.0,359000.0,NaN,NaN,NaN,NaN,NaN
1994562,2008-10-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,179500.0,NaN,252200.0,252200.0,354100.0,NaN,NaN,NaN,NaN,NaN
2008847,2008-11-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,176200.0,NaN,248700.0,248700.0,347900.0,NaN,NaN,NaN,NaN,NaN
2023133,2008-12-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,173000.0,NaN,245200.0,245200.0,343100.0,NaN,NaN,NaN,NaN,NaN
2037425,2009-01-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,170600.0,NaN,241800.0,241800.0,341000.0,NaN,NaN,NaN,NaN,NaN
2051718,2009-02-28,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,167900.0,NaN,237900.0,237900.0,337500.0,NaN,NaN,NaN,NaN,NaN
2066007,2009-03-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,165000.0,NaN,234000.0,234000.0,330900.0,NaN,NaN,NaN,NaN,NaN
2080298,2009-04-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,162200.0,NaN,229600.0,229600.0,324800.0,NaN,NaN,NaN,NaN,NaN

In [3]:
city_df.loc[(city_df.RegionName == 'zuniisle_of_wightva') | (city_df.ZHVI_4bedroom > 300000)]

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
45,1996-04-30,agoura_hillslos_angelesca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,154900.0,223500.0,255600.0,338100.0,462800.0,NaN,NaN,NaN,NaN,NaN
60,1996-04-30,alamocontra_costaca,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,389000.0,NaN,519000.0,520100.0,1060100.0,NaN,NaN,NaN,NaN,NaN
83,1996-04-30,aldieloudounva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,178200.0,NaN,287100.0,328400.0,NaN,NaN,NaN,NaN,NaN
88,1996-04-30,alexandria_townshiphunterdonnj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,168800.0,NaN,240000.0,240000.0,331700.0,NaN,NaN,NaN,NaN,NaN
114,1996-04-30,allendalebergennj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,208600.0,NaN,290700.0,291000.0,419300.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3762535,2017-12-31,yuba_citysutterca,138.0,126.0,NaN,NaN,173.589194,163.057024,NaN,165.282165,...,227800.0,NaN,283800.0,285500.0,NaN,1462.0,1448.0,0.858,1218.0,1470.0
3762536,2017-12-31,yucaipasan_bernardinoca,135.0,134.0,NaN,227.025618,210.664112,197.667651,196.710230,212.816834,...,284500.0,354800.0,369800.0,371000.0,526100.0,1913.0,1872.0,1.104,1670.0,1885.0
3762541,2017-12-31,zacharyeast_baton_rougela,128.0,118.0,NaN,NaN,NaN,NaN,NaN,130.485998,...,139600.0,NaN,208700.0,208700.0,300300.0,1449.0,1438.0,0.844,NaN,1438.0
3762559,2017-12-31,zionsvilleboonein,163.0,130.0,NaN,NaN,140.005984,138.679847,148.601399,139.947387,...,215600.0,187600.0,359100.0,364500.0,523000.0,2461.0,2388.0,0.924,1442.0,2424.0
3762565,2017-12-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123700.0,NaN,216400.0,216400.0,301500.0,1305.0,1303.0,0.800,NaN,1303.0

In [5]:
city_df.loc[(city_df.RegionName.isin(['zuniisle_of_wightva', 'allendalebergennj']) ) ]

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
114,1996-04-30,allendalebergennj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,208600.0,NaN,290700.0,291000.0,419300.0,NaN,NaN,NaN,NaN,NaN
11427,1996-04-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,59200.0,NaN,107900.0,107900.0,152800.0,NaN,NaN,NaN,NaN,NaN
11544,1996-05-31,allendalebergennj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,212000.0,NaN,293200.0,293300.0,423900.0,NaN,NaN,NaN,NaN,NaN
22998,1996-05-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60100.0,NaN,108700.0,108700.0,153300.0,NaN,NaN,NaN,NaN,NaN
23116,1996-06-30,allendalebergennj,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,217300.0,NaN,297500.0,297500.0,429800.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3729642,2017-10-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123000.0,NaN,214400.0,214400.0,301000.0,1294.0,1290.0,0.794,NaN,1290.0
3729815,2017-11-30,allendalebergennj,37.0,34.0,NaN,NaN,NaN,NaN,NaN,293.297456,...,501900.0,NaN,638700.0,639000.0,941200.0,3229.0,3208.0,1.524,NaN,3216.0
3746114,2017-11-30,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123600.0,NaN,215400.0,215400.0,302700.0,1299.0,1296.0,0.798,NaN,1296.0
3746287,2017-12-31,allendalebergennj,39.0,36.0,NaN,NaN,NaN,NaN,NaN,293.121993,...,502100.0,NaN,636600.0,637000.0,938000.0,3245.0,3224.0,1.536,NaN,3231.0
3762565,2017-12-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123700.0,NaN,216400.0,216400.0,301500.0,1305.0,1303.0,0.800,NaN,1303.0

In [6]:
city_df.loc[city_df.ZHVI_BottomTier.notnull()]

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
2,1996-04-30,aberdeenharfordmd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81300.0,137900.0,109600.0,108600.0,147900.0,NaN,NaN,NaN,NaN,NaN
7,1996-04-30,abingdonharfordmd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91000.0,87600.0,123900.0,125600.0,169700.0,NaN,NaN,NaN,NaN,NaN
10,1996-04-30,abingtonmontgomerypa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102000.0,87800.0,128700.0,130900.0,189400.0,NaN,NaN,NaN,NaN,NaN
11,1996-04-30,abingtonplymouthma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,102300.0,104900.0,127400.0,136200.0,159600.0,NaN,NaN,NaN,NaN,NaN
12,1996-04-30,abramsocontowi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,128000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3762559,2017-12-31,zionsvilleboonein,163.0,130.0,NaN,NaN,140.005984,138.679847,148.601399,139.947387,...,215600.0,187600.0,359100.0,364500.0,523000.0,2461.0,2388.0,0.924,1442.0,2424.0
3762561,2017-12-31,zirconiahendersonnc,26.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,...,149200.0,NaN,237500.0,237600.0,433800.0,1340.0,1335.0,0.866,NaN,1336.0
3762563,2017-12-31,zumbro_fallswabashamn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157500.0,NaN,277000.0,277000.0,NaN,NaN,NaN,NaN,NaN,NaN
3762564,2017-12-31,zumbrotagoodhuemn,15.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,136700.0,NaN,183700.0,183700.0,261300.0,1340.0,1337.0,1.084,NaN,1338.0
3762565,2017-12-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123700.0,NaN,216400.0,216400.0,301500.0,1305.0,1303.0,0.800,NaN,1303.0

In [7]:
city_df['InventorySeasonallyAdjusted_AllHomes'] = '0'

In [8]:
city_df['InventorySeasonallyAdjusted_AllHomes']

0          0
1          0
2          0
3          0
4          0
          ..
3762561    0
3762562    0
3762563    0
3762564    0
3762565    0
Name: InventorySeasonallyAdjusted_AllHomes, Length: 3762566, dtype: str

In [9]:
city_df

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,1996-04-30,abbottstownadamspa,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,108700.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,aberdeenbinghamid,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,168400.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,aberdeenharfordmd,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81300.0,137900.0,109600.0,108600.0,147900.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,aberdeenmonroems,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74500.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,aberdeenmoorenc,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,131100.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3762561,2017-12-31,zirconiahendersonnc,0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,...,149200.0,NaN,237500.0,237600.0,433800.0,1340.0,1335.0,0.866,NaN,1336.0
3762562,2017-12-31,zolfo_springshardeefl,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,67600.0,79000.0,118600.0,NaN,NaN,NaN,NaN,NaN
3762563,2017-12-31,zumbro_fallswabashamn,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157500.0,NaN,277000.0,277000.0,NaN,NaN,NaN,NaN,NaN,NaN
3762564,2017-12-31,zumbrotagoodhuemn,0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,136700.0,NaN,183700.0,183700.0,261300.0,1340.0,1337.0,1.084,NaN,1338.0
3762565,2017-12-31,zuniisle_of_wightva,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123700.0,NaN,216400.0,216400.0,301500.0,1305.0,1303.0,0.800,NaN,1303.0

In [12]:
city_df

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,1996-04-30,abbottstownadamspa,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,108700.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,aberdeenbinghamid,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,168400.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,aberdeenharfordmd,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81300.0,137900.0,109600.0,108600.0,147900.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,aberdeenmonroems,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74500.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,aberdeenmoorenc,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,131100.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3762561,2017-12-31,zirconiahendersonnc,3762562,25.0,NaN,NaN,NaN,NaN,NaN,NaN,...,149200.0,NaN,237500.0,237600.0,433800.0,1340.0,1335.0,0.866,NaN,1336.0
3762562,2017-12-31,zolfo_springshardeefl,3762563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,67600.0,79000.0,118600.0,NaN,NaN,NaN,NaN,NaN
3762563,2017-12-31,zumbro_fallswabashamn,3762564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157500.0,NaN,277000.0,277000.0,NaN,NaN,NaN,NaN,NaN,NaN
3762564,2017-12-31,zumbrotagoodhuemn,3762565,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,136700.0,NaN,183700.0,183700.0,261300.0,1340.0,1337.0,1.084,NaN,1338.0
3762565,2017-12-31,zuniisle_of_wightva,3762566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123700.0,NaN,216400.0,216400.0,301500.0,1305.0,1303.0,0.800,NaN,1303.0

In [13]:
city_df.shape

(3762566, 81)

In [11]:
city_df['InventorySeasonallyAdjusted_AllHomes'] = range(1,len(city_df)+1)