In [1]:
import pandas as pd
data = pd.read_csv("../dataset/dataset.csv")

In [2]:
data

,area,building_type,building_nature,num_bath_rooms,num_bed_rooms,price,property_url,purpose,city,locality,...,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count,division,zone,price_per_sqft
0,2464.0,Apartment,Residential,4.0,3.0,28900000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Dhanmondi,...,1,2,1,1,3,3,4,Dhaka,Dhanmondi,11728.896104
1,1920.0,Apartment,Residential,3.0,3.0,20000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Bashundhara R-A,...,1,1,2,1,3,2,3,Dhaka,Bashundhara R/A,10416.666667
2,1445.0,Apartment,Residential,3.0,3.0,10800000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Banasree,...,1,2,2,1,1,3,4,Dhaka,Khilgaon,7474.048443
3,1475.0,Apartment,Residential,3.0,3.0,10500000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Uttara,...,1,2,3,1,3,3,4,Dhaka,Uttara,7118.644068
4,1066.0,Apartment,Residential,2.0,3.0,8000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Sutrapur,...,1,1,2,1,4,3,4,Dhaka,Sutrapur,7504.690432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18749,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,3,4,2,13,Dhaka,Bashundhara R/A,9600.000000
18750,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,2,1,1,4,2,1,Dhaka,Bashundhara R/A,9600.000000
18751,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,1,3,3,1,Dhaka,Bashundhara R/A,6000.000000
18752,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,1,1,1,2,1,Dhaka,Bashundhara R/A,6000.000000
18753,1600.0,Office,Commercial,3.0,3.0,2850000.0,https://www.thetolet.com/en/dhaka/adabor/31021...,Rent,Dhaka,Adabor,...,1,2,2,1,1,2,1,Dhaka,Mohammadpur,1781.250000

In [3]:
data.price.describe()

count    1.875400e+04
mean     3.118319e+06
std      1.636095e+07
min      1.000000e+00
25%      2.000000e+04
50%      5.000000e+04
75%      5.000000e+06
max      2.076200e+09
Name: price, dtype: float64

In [4]:
data.city.describe()

count     18754
unique       37
top       Dhaka
freq      17124
Name: city, dtype: object

In [5]:
data.price.mean()

np.float64(3118318.977440013)

In [6]:
data.city.unique()

<StringArray>
[           'Dhaka',       'Chattogram',          'Gazipur',
 'Narayanganj City',           'Sylhet',       'Chittagong',
          'Rangpur',         'Dinajpur',         'Barishal',
           'Bogura',         'Rajshahi',           'Khulna',
          'Cumilla',      'Narayanganj',          'Barguna',
        'Manikganj',        'Narsingdi',      'Kishoreganj',
         'Chandpur',         'Habiganj',          'Jashore',
        'Bandarban',          'Sherpur',       'Mymensingh',
        'Gopalganj',          'Naogaon',        'Madaripur',
     'Brahmanbaria',       'Thakurgaon',           'Magura',
          'Tangail',       'Lakshmipur',       'Nilphamari',
        'Gaibandha',        'Sirajganj',          'Kushtia',
       'Shariatpur']
Length: 37, dtype: str

In [7]:
data.city.value_counts()

city
Dhaka               17124
Chattogram            883
Barishal              308
Gazipur               112
Dinajpur               53
Sylhet                 49
Narayanganj            46
Rangpur                44
Rajshahi               41
Khulna                 35
Thakurgaon              7
Bogura                  6
Mymensingh              5
Chittagong              4
Cumilla                 4
Manikganj               3
Chandpur                3
Magura                  3
Barguna                 2
Narsingdi               2
Jashore                 2
Brahmanbaria            2
Nilphamari              2
Narayanganj City        1
Kishoreganj             1
Habiganj                1
Bandarban               1
Sherpur                 1
Gopalganj               1
Naogaon                 1
Madaripur               1
Tangail                 1
Lakshmipur              1
Gaibandha               1
Sirajganj               1
Kushtia                 1
Shariatpur              1
Name: count, dtype: int64

In [8]:
price_mean = data.price.mean()
data.price.map(lambda p: p - price_mean)

0        2.578168e+07
1        1.688168e+07
2        7.681681e+06
3        7.381681e+06
4        4.881681e+06
             ...
18749    4.816810e+05
18750    4.816810e+05
18751    1.681681e+06
18752    1.681681e+06
18753   -2.683190e+05
Name: price, Length: 18754, dtype: float64

In [9]:
def remean_price(row):
    row.price = row.price - price_mean
    return row

In [10]:
data.apply(remean_price, axis="columns")

,area,building_type,building_nature,num_bath_rooms,num_bed_rooms,price,property_url,purpose,city,locality,...,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count,division,zone,price_per_sqft
0,2464.0,Apartment,Residential,4.0,3.0,2.578168e+07,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Dhanmondi,...,1,2,1,1,3,3,4,Dhaka,Dhanmondi,11728.896104
1,1920.0,Apartment,Residential,3.0,3.0,1.688168e+07,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Bashundhara R-A,...,1,1,2,1,3,2,3,Dhaka,Bashundhara R/A,10416.666667
2,1445.0,Apartment,Residential,3.0,3.0,7.681681e+06,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Banasree,...,1,2,2,1,1,3,4,Dhaka,Khilgaon,7474.048443
3,1475.0,Apartment,Residential,3.0,3.0,7.381681e+06,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Uttara,...,1,2,3,1,3,3,4,Dhaka,Uttara,7118.644068
4,1066.0,Apartment,Residential,2.0,3.0,4.881681e+06,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Sutrapur,...,1,1,2,1,4,3,4,Dhaka,Sutrapur,7504.690432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18749,375.0,Apartment,Residential,1.0,1.0,4.816810e+05,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,3,4,2,13,Dhaka,Bashundhara R/A,9600.000000
18750,375.0,Apartment,Residential,1.0,1.0,4.816810e+05,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,2,1,1,4,2,1,Dhaka,Bashundhara R/A,9600.000000
18751,800.0,Apartment,Residential,2.0,2.0,1.681681e+06,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,1,3,3,1,Dhaka,Bashundhara R/A,6000.000000
18752,800.0,Apartment,Residential,2.0,2.0,1.681681e+06,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,1,1,1,2,1,Dhaka,Bashundhara R/A,6000.000000
18753,1600.0,Office,Commercial,3.0,3.0,-2.683190e+05,https://www.thetolet.com/en/dhaka/adabor/31021...,Rent,Dhaka,Adabor,...,1,2,2,1,1,2,1,Dhaka,Mohammadpur,1781.250000

In [11]:
data.head(1)

,area,building_type,building_nature,num_bath_rooms,num_bed_rooms,price,property_url,purpose,city,locality,...,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count,division,zone,price_per_sqft
0,2464.0,Apartment,Residential,4.0,3.0,28900000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Dhanmondi,...,1,2,1,1,3,3,4,Dhaka,Dhanmondi,11728.896104

In [12]:
price_mean = data.price.mean()
data.price - price_mean

0        2.578168e+07
1        1.688168e+07
2        7.681681e+06
3        7.381681e+06
4        4.881681e+06
             ...
18749    4.816810e+05
18750    4.816810e+05
18751    1.681681e+06
18752    1.681681e+06
18753   -2.683190e+05
Name: price, Length: 18754, dtype: float64

In [13]:
data.city + " - " + data.locality

0              Dhaka - Dhanmondi
1        Dhaka - Bashundhara R-A
2               Dhaka - Banasree
3                 Dhaka - Uttara
4               Dhaka - Sutrapur
                  ...
18749    Dhaka - Bashundhara R.A
18750    Dhaka - Bashundhara R.A
18751    Dhaka - Bashundhara R.A
18752    Dhaka - Bashundhara R.A
18753             Dhaka - Adabor
Length: 18754, dtype: str