In [1]:
import pandas as pd
city_df = pd.read_csv('/home/sukesh/Desktop/RealtyAI/B-13-RealtyAI-Smart-Real-Estate-Insight-Platform/dataset/City_time_series.csv')

In [2]:
city_df

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,1996-04-30,abbottstownadamspa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,108700.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,aberdeenbinghamid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,168400.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,aberdeenharfordmd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81300.0,137900.0,109600.0,108600.0,147900.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,aberdeenmonroems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74500.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,aberdeenmoorenc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,131100.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3762561,2017-12-31,zirconiahendersonnc,26.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,...,149200.0,NaN,237500.0,237600.0,433800.0,1340.0,1335.0,0.866,NaN,1336.0
3762562,2017-12-31,zolfo_springshardeefl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,67600.0,79000.0,118600.0,NaN,NaN,NaN,NaN,NaN
3762563,2017-12-31,zumbro_fallswabashamn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157500.0,NaN,277000.0,277000.0,NaN,NaN,NaN,NaN,NaN,NaN
3762564,2017-12-31,zumbrotagoodhuemn,15.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,136700.0,NaN,183700.0,183700.0,261300.0,1340.0,1337.0,1.084,NaN,1338.0
3762565,2017-12-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123700.0,NaN,216400.0,216400.0,301500.0,1305.0,1303.0,0.800,NaN,1303.0

In [3]:
city_df.ZHVI_AllHomes.describe()

count    3.083390e+06
mean     1.896165e+05
std      1.790502e+05
min      1.660000e+04
25%      9.920000e+04
50%      1.425000e+05
75%      2.177000e+05
max      7.257800e+06
Name: ZHVI_AllHomes, dtype: float64

In [4]:
city_df.RegionName.describe()

count                3762566
unique                 16636
top       abbottstownadamspa
freq                     261
Name: RegionName, dtype: object

In [5]:
city_df.ZHVI_TopTier.mean()

np.float64(280208.29094933206)

In [6]:
city_df.RegionName.unique()

<StringArray>
[     'abbottstownadamspa',       'aberdeenbinghamid',
       'aberdeenharfordmd',        'aberdeenmonroems',
         'aberdeenmoorenc',         'abernathyhaletx',
         'abilenetaylortx',       'abingdonharfordmd',
          'abingdonknoxil',    'abingdonwashingtonva',
 ...
      'cavendishwindsorvt',        'hayforktrinityca',
       'ironwoodgogebicmi',    'woodvillewilkinsonms',
          'arleywinstonal',      'crestonesaguacheco',
      'demopolismarengoal',  'elephant_buttesierranm',
        'hamiltonmarional', 'sunburynorthumberlandpa']
Length: 16636, dtype: str

In [7]:
city_df.RegionName.value_counts()

RegionName
abbottstownadamspa           261
aberdeenbinghamid            261
aberdeenharfordmd            261
aberdeenmonroems             261
aberdeenmoorenc              261
                            ...
plainfieldotsegony             5
snoqualmie_passkittitaswa      2
gilbertsvilleotsegony          2
rangerlincolnwv                1
washingtonmcclainok            1
Name: count, Length: 16636, dtype: int64

In [8]:
city_mean = city_df.ZHVI_AllHomes.mean()
city_df.ZHVI_AllHomes.map(lambda x: x - city_mean)

0                    NaN
1                    NaN
2          -80016.501156
3                    NaN
4                    NaN
               ...
3762561     47883.498844
3762562   -122016.501156
3762563     87383.498844
3762564     -5916.501156
3762565     26783.498844
Name: ZHVI_AllHomes, Length: 3762566, dtype: float64

In [ ]:
def zhvi_all(row):
    row.ZHVI_AllHomes = row.ZHVI_AllHomes - zhvi_all
    return row

city_df.apply(zhvi_all, axis='columns')

In [2]:
city_zhvi_all_mean = city_df.ZHVI_AllHomes.mean()
city_df.ZHVI_AllHomes - city_zhvi_all_mean

0                    NaN
1                    NaN
2          -80016.501156
3                    NaN
4                    NaN
               ...
3762561     47883.498844
3762562   -122016.501156
3762563     87383.498844
3762564     -5916.501156
3762565     26783.498844
Name: ZHVI_AllHomes, Length: 3762566, dtype: float64

In [4]:
city_df.RegionName + ' - ' + city_df.ZHVI_AllHomes.astype(str)

0                                       NaN
1                                       NaN
2              aberdeenharfordmd - 109600.0
3                                       NaN
4                                       NaN
                         ...
3762561      zirconiahendersonnc - 237500.0
3762562     zolfo_springshardeefl - 67600.0
3762563    zumbro_fallswabashamn - 277000.0
3762564        zumbrotagoodhuemn - 183700.0
3762565      zuniisle_of_wightva - 216400.0
Length: 3762566, dtype: str

# Real Estate Data Analysis Notebook

## Overview
This notebook analyzes real estate housing data using the Zillow Home Value Index (ZHVI) dataset.

## Data Loading
Loads the City time series dataset containing regional housing data with ZHVI metrics across different tiers.

## Exploratory Data Analysis

### Dataset Structure
Displays the complete dataframe to understand its structure and contents.

### ZHVI All Homes Analysis
Provides statistical summary of the ZHVI_AllHomes column including:
- Count, mean, standard deviation
- Min, 25%, 50%, 75%, max values

### Region Name Analysis
Provides statistical description of the RegionName column to understand regional data distribution.

## Descriptive Statistics

### Top Tier Mean
Calculates the average ZHVI for top-tier properties across all regions.

### Unique Regions
Identifies all unique region names in the dataset.

### Region Value Counts
Shows the frequency distribution of data points across different regions.

## Data Normalization

### All Homes Mean Deviation
Calculates the mean ZHVI for all homes and compares individual values against this mean:
- Uses lambda function to compute deviation from the mean

### Regional Mean Normalization
Computes ZHVI_AllHomes values normalized by subtracting the overall mean, providing a centered distribution for analysis.

## Data Concatenation
Combines region names with their corresponding ZHVI values as strings for reporting purposes.