In [1]:
import pandas as pd
pd.set_option('display.max_rows', 5)
import numpy as np
reviews = pd.read_csv("C:\\Users\\ruchi\\OneDrive\\Desktop\\data.csv", index_col=0)

In [2]:
reviews

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-07-10 00:00:00,203400.0,4.0,2.0,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
2014-07-10 00:00:00,220600.0,3.0,2.5,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [3]:
reviews.price.describe()

count    4.600000e+03
mean     5.519630e+05
             ...
75%      6.549625e+05
max      2.659000e+07
Name: price, Length: 8, dtype: float64

In [4]:
reviews.street.describe()

count                      4600
unique                     4525
top       2520 Mulberry Walk NE
freq                          4
Name: street, dtype: object

In [5]:
reviews.price.mean()

np.float64(551962.9884732141)

In [6]:
reviews.street.unique()

<StringArray>
[    '18810 Densmore Ave N',          '709 W Blaine St',
 '26206-26214 143rd Ave SE',          '857 170th Pl NE',
        '9105 170th Ave NE',           '522 NE 88th St',
        '2616 174th Ave NE',        '23762 SE 253rd Pl',
  '46611-46625 SE 129th St',         '6811 55th Ave NE',
 ...
         '1028 SW 307th St',        '13602 SE 186th Pl',
       '3529 SW Webster St',          '37654 18th Pl S',
       '26306 127th Ave SE',           '501 N 143rd St',
         '14855 SE 10th Pl',         '759 Ilwaco Pl NE',
        '5148 S Creston St',        '18717 SE 258th St']
Length: 4525, dtype: str

In [7]:
reviews.street.value_counts()

street
2520 Mulberry Walk NE    4
2500 Mulberry Walk NE    3
                        ..
5148 S Creston St        1
18717 SE 258th St        1
Name: count, Length: 4525, dtype: int64

In [8]:
review_bedrooms_mean = reviews.bedrooms.mean()
reviews.bedrooms.map(lambda p: p - review_bedrooms_mean)

date
2014-05-02 00:00:00   -0.40087
2014-05-02 00:00:00    1.59913
                        ...
2014-07-10 00:00:00    0.59913
2014-07-10 00:00:00   -0.40087
Name: bedrooms, Length: 4600, dtype: float64

In [10]:
def remean_price(row):
    row.price = row.price - reviews.price.mean()
    return row

reviews.apply(remean_price, axis='columns')

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,-2.389630e+05,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
2014-05-02 00:00:00,1.832037e+06,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-07-10 00:00:00,-3.485630e+05,4.0,2.0,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
2014-07-10 00:00:00,-3.313630e+05,3.0,2.5,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [11]:
reviews.head(1)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA

In [12]:
review_price_mean = reviews.price.mean()
reviews.price - review_price_mean

date
2014-05-02 00:00:00   -2.389630e+05
2014-05-02 00:00:00    1.832037e+06
                           ...
2014-07-10 00:00:00   -3.485630e+05
2014-07-10 00:00:00   -3.313630e+05
Name: price, Length: 4600, dtype: float64

In [16]:
reviews.city + " - " + reviews.country

date
2014-05-02 00:00:00    Shoreline - USA
2014-05-02 00:00:00      Seattle - USA
                            ...
2014-07-10 00:00:00      Seattle - USA
2014-07-10 00:00:00    Covington - USA
Length: 4600, dtype: str