In [1]:
import pandas as pd
data = pd.read_csv("../dataset/dataset.csv")

In [2]:
data.groupby("price").price.count()

price
1.000000e+00    11
3.000000e+00     1
4.000000e+00     1
2.000000e+01     1
2.500000e+01     1
                ..
1.416345e+08     1
1.500000e+08     1
1.699988e+08     1
1.898000e+08     1
2.076200e+09     1
Name: price, Length: 1898, dtype: int64

In [3]:
data.groupby("price").area.min()

price
1.000000e+00         1.0
3.000000e+00         3.0
4.000000e+00      1400.0
2.000000e+01      2400.0
2.500000e+01      1130.0
                  ...
1.416345e+08     13489.0
1.500000e+08     16200.0
1.699988e+08     20250.0
1.898000e+08     26000.0
2.076200e+09    296600.0
Name: area, Length: 1898, dtype: float64

In [4]:
data.groupby("building_type").apply(lambda df: df.locality.iloc[0])

building_type
Apartment    Dhanmondi
Building      Banasree
Duplex       Motijheel
House        Baridhara
Office       Baridhara
Others          Uttara
Shop            Banani
dtype: str

In [5]:
data.groupby(["city", "division"]).apply(lambda df: df.loc[df.price.idxmax()])

,,area,building_type,building_nature,num_bath_rooms,num_bed_rooms,price,property_url,purpose,locality,address,id,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count,zone,price_per_sqft
city,division,,,,,,,,,,,,,,,,,,,,
Bandarban,Chattogram,1384.0,Apartment,Residential,3.0,3.0,5.812800e+06,https://pbazaar.com//en/flat-in-agrabad,Sale,Bandarban Sadar,Bangladesh,pbazaar-8524,1,2,1,1,2,3,3,Sub-district of Bandarban,4200.000000
Barguna,Barisal,775.0,Apartment,Residential,2.0,2.0,2.712500e+06,https://pbazaar.com//en/luxurious-ready-flat-b...,Sale,Barguna Sadar,Bangladesh,pbazaar-6189,1,2,1,1,2,1,2,Sub-district of Barguna,3500.000000
Barishal,Barisal,2700.0,Apartment,Commercial,6.0,6.0,6.000000e+04,https://pbazaar.com//en/space-available-for-re...,Rent,Barishal City,Bangladesh,pbazaar-1674,1,1,1,2,3,2,3,Sub-district of Barishal,22.222222
Bogura,Rajshahi,1320.0,Apartment,Residential,4.0,3.0,4.752000e+06,https://pbazaar.com//en/flat-for-sale-in-bogura,Sale,Bogura Sadar,Bangladesh,pbazaar-6960,1,1,2,1,2,3,4,Sub-district of Bogura,3600.000000
Brahmanbaria,Chattogram,800.0,Apartment,Residential,2.0,2.0,7.300000e+03,https://pbazaar.com//en/2-bedroom-flat-for-ren...,Rent,Brahmanbaria Sadar,Bangladesh,pbazaar-16492,1,1,2,2,4,3,3,Sub-district of Brahmanbaria,9.125000
Chandpur,Chattogram,1470.0,Apartment,Residential,3.0,3.0,5.145000e+06,https://pbazaar.com//en/1470-sft-flat-at-chandpur,Sale,Chandpur Sadar,Bangladesh,pbazaar-8164,1,1,3,1,3,2,1,Sub-district of Chandpur,3500.000000
Chattogram,Chattogram,296600.0,Apartment,Residential,2.0,1.0,2.076200e+09,https://pbazaar.com//en/5-star-hotelcoxs-bazar,Sale,Chattogram City,Bangladesh,pbazaar-5392,4,1,2,1,4,3,4,Chattogram City,7000.000000
Chittagong,Chattogram,2400.0,Apartment,Residential,5.0,4.0,2.000000e+07,https://www.bdstall.com/details/chittagong-pan...,Sale,Panchlaish,Unknown,bdstall-46,1,2,2,1,3,2,3,Sub-district of Chattogram,8333.333333
Cumilla,Chattogram,1400.0,Apartment,Residential,3.0,3.0,5.880000e+06,https://pbazaar.com//en/%E0%A6%9D%E0%A6%89%E0%...,Sale,Cumilla City,Bangladesh,pbazaar-6962,1,1,3,1,4,3,13,Sub-district of Cumilla,4200.000000
Dhaka,Dhaka,26000.0,House,Residential,3.0,3.0,1.898000e+08,https://pbazaar.com//en/apartment-for-sale-in-...,Sale,Uttara West,Bangladesh,pbazaar-6603,1,2,2,1,3,3,4,Uttara,7300.000000
Dinajpur,Rangpur,3600.0,Apartment,Commercial,4.0,4.0,3.600000e+04,https://pbazaar.com//en/to-let-57,Rent,Dinajpur Sadar,Bangladesh,pbazaar-1445,1,2,2,1,1,3,4,Sub-district of Dinajpur,10.000000
Gaibandha,Rangpur,1300.0,Apartment,Residential,2.0,3.0,8.000000e+03,https://pbazaar.com//en/1300-sft-flat-for-rent-6,Rent,Gaibandha Sadar,Bangladesh,pbazaar-16921,1,1,2,1,3,2,3,Sub-district of Gaibandha,6.153846
Gazipur,Dhaka,13200.0,Building,Residential,10.0,25.0,5.000000e+07,https://www.bproperty.com/en/property/details-...,Sale,Gazipur Sadar Upazila,Unknown,bproperty-6363,1,1,1,3,3,2,2,Sub-district of Gazipur,3787.878788
Gopalganj,Dhaka,600.0,Apartment,Residential,2.0,2.0,4.000000e+03,https://pbazaar.com//en/2-bed-room-flat-gopalganj,Rent,Gopalganj Sadar,Bangladesh,pbazaar-11613,1,1,3,1,2,1,7,Sub-district of Gopalganj,6.666667
Habiganj,Sylhet,3000.0,Apartment,Residential,3.0,4.0,1.189800e+07,https://pbazaar.com//en/flat-for-sell-61,Sale,Habiganj Sadar,Bangladesh,pbazaar-8196,4,2,3,1,3,2,3,Sub-district of Habiganj,3966.000000
Jashore,Khulna,1225.0,Apartment,Residential,3.0,3.0,3.430000e+06,https://pbazaar.com//en/flat-for-sale-in-jessore,Sale,Jashore Sadar,Bangladesh,pbazaar-8202,1,2,1,1,2,2,3,Sub-district of Jessore,2800.000000
Khulna,Khulna,1800.0,Apartment,Residential,2.0,3.0,4.654800e+06,https://pbazaar.com//en/1800-sqft-apartment-is...,Sale,Khulna City,Bangladesh,pbazaar-7632,1,2,2,2,4,3,4,Sub-district of Khulna,2586.000000
Kishoreganj,Dhaka,1422.0,Apartment,Residential,3.0,3.0,4.621500e+06,https://pbazaar.com//en/luxurious-apartment-fl...,Sale,Bhairab,Bangladesh,pbazaar-6952,1,3,2,2,4,3,15,Sub-district of Kishoreganj,3250.000000
Kushtia,Khulna,850.0,Apartment,Residential,1.0,2.0,2.700000e+03,https://pbazaar.com//en/850-sft-2-bed-room-fla...,Rent,Kushtia Sadar,Bangladesh,pbazaar-16990,1,3,1,1,1,3,3,Sub-district of Kushtia,3.176471
Lakshmipur,Unknown,1210.0,Apartment,Residential,2.0,3.0,6.500000e+03,https://pbazaar.com//en/3-bed-room-flat-das-pukur,Rent,Lakshmipur Sadar,Bangladesh,pbazaar-16743,2,2,2,2,1,3,3,Sub-district of Lakshmipur,5.371901
Madaripur,Dhaka,1020.0,Apartment,Residential,2.0,3.0,1.400000e+04,https://pbazaar.com//en/3-bedrooms-flat-for-re...,Rent,Madaripur Sadar,Bangladesh,pbazaar-16445,3,1,2,1,4,3,6,Sub-district of Madaripur,13.725490
Magura,Khulna,500.0,Apartment,Residential,2.0,4.0,8.000000e+03,https://pbazaar.com//en/4-bed-room-flat-for-re...,Rent,Magura Sadar,Bangladesh,pbazaar-16735,2,2,2,2,5,3,3,Sub-district of Magura,16.000000
Manikganj,Dhaka,1020.0,Apartment,Residential,2.0,2.0,2.907000e+06,https://pbazaar.com//en/new-luxurious-apartment,Sale,Manikganj Sadar,Bangladesh,pbazaar-6276,1,2,2,2,4,3,3,Sub-district of Manikganj,2850.000000
Mymensingh,Mymensingh,750.0,Apartment,Residential,2.0,2.0,1.000000e+04,https://pbazaar.com//en/flat-rent-mymensingh,Rent,Mymensingh City,Bangladesh,pbazaar-16521,1,1,1,1,2,1,3,Sub-district of Mymensingh,13.333333
Naogaon,Rajshahi,1200.0,Apartment,Residential,2.0,4.0,8.000000e+03,https://pbazaar.com//en/flat-for-rent-in-naste...,Rent,Naogaon Sadar,Bangladesh,pbazaar-13612,1,1,1,1,3,2,4,Sub-district of Naogaon,6.666667
Narayanganj,Dhaka,3200.0,House,Residential,4.0,5.0,2.000000e+07,https://pbazaar.com//en/%E0%A6%AB%E0%A6%B2%E0%...,Sale,Rupganj,Bangladesh,pbazaar-6668,1,1,2,1,4,2,3,Sub-district of Narayanganj,6250.000000
Narayanganj City,Dhaka,1525.0,Apartment,Residential,3.0,3.0,6.800000e+06,https://www.bproperty.com/en/property/details-...,Sale,Shiddhirganj,Mizmizi,bproperty-5126,1,1,2,2,5,2,3,Sub-district of Narayanganj,4459.016393
Narsingdi,Dhaka,1200.0,Apartment,Residential,3.0,3.0,4.020000e+06,https://pbazaar.com//en/ready-flat-for-sale-104,Sale,Narsingdi Sadar,Bangladesh,pbazaar-6657,1,2,1,1,1,3,1,Sub-district of Narsingdi,3350.000000
Nilphamari,Rangpur,700.0,Apartment,Residential,1.0,2.0,2.200000e+03,https://pbazaar.com//en/2-bed-room-flat-nilpha...,Rent,Nilphamari Sadar,Bangladesh,pbazaar-16859,1,2,2,1,3,3,3,Sub-district of Nilphamari,3.142857
Rajshahi,Rajshahi,1500.0,Apartment,Residential,1.0,3.0,8.500500e+06,https://pbazaar.com//en/%E0%A6%AC%E0%A7%9C-%E0...,Sale,Rajshahi City,Bangladesh,pbazaar-5524,1,1,1,1,2,3,5,Sub-district of Rajshahi,5667.000000
Rangpur,Rangpur,1400.0,Apartment,Residential,3.0,3.0,5.320000e+06,https://pbazaar.com//en/apartments-for-sale,Sale,Rangpur City,Bangladesh,pbazaar-6790,1,2,2,2,3,1,4,Sub-district of Rangpur,3800.000000
Shariatpur,Dhaka,600.0,Apartment,Residential,2.0,2.0,1.400000e+04,https://pbazaar.com//en/nice-flat-for-rent-817,Rent,Shariatpur Sadar,Bangladesh,pbazaar-17024,1,2,1,1,1,3,3,Sub-district of Shariatpur,23.333333
Sherpur,Mymensingh,900.0,Apartment,Residential,2.0,3.0,2.430000e+06,https://pbazaar.com//en/flat-21,Sale,Sherpur Sadar,Bangladesh,pbazaar-8535,1,2,1,1,4,3,3,Sub-district of Sherpur,2700.000000
Sirajganj,Rajshahi,1200.0,Apartment,Residential,2.0,2.0,8.000000e+03,https://pbazaar.com//en/2-bed-room-flat-sirajganj,Rent,Sirajganj Sadar,Bangladesh,pbazaar-16985,2,1,2,1,3,2,4,Sub-district of Sirajganj,6.666667
Sylhet,Sylhet,1875.0,Apartment,Residential,3.0,4.0,1.500000e+07,https://pbazaar.com//en/a-luxurious-flat,Sale,Sylhet City,Bangladesh,pbazaar-5844,1,1,3,1,4,1,4,Sylhet City,8000.000000
Tangail,Dhaka,500.0,Apartment,Residential,1.0,1.0,4.000000e+03,https://pbazaar.com//en/small-flat-for-rent-407,Rent,Tangail Sadar,Bangladesh,pbazaar-16734,1,3,1,1,4,3,2,Sub-district of Tangail,8.000000
Thakurgaon,Rangpur,500.0,Apartment,Residential,1.0,2.0,6.000000e+03,https://pbazaar.com//en/2-bed-room-flat-for-re...,Rent,Thakurgaon Sadar,Bangladesh,pbazaar-16576,5,2,1,1,2,1,3,Sub-district of Thakurgaon,12.000000

In [6]:
data.groupby(["city"]).price.agg([len, min, max])

                    len         min           max
city
Bandarban             1   5812800.0  5.812800e+06
Barguna               2     70000.0  2.712500e+06
Barishal            308      1000.0  6.000000e+04
Bogura                6      6500.0  4.752000e+06
Brahmanbaria          2      6000.0  7.300000e+03
Chandpur              3   4725000.0  5.145000e+06
Chattogram          883         1.0  2.076200e+09
Chittagong            4   6500000.0  2.000000e+07
Cumilla               4     12000.0  5.880000e+06
Dhaka             17124         1.0  1.898000e+08
Dinajpur             53      3000.0  3.600000e+04
Gaibandha             1      8000.0  8.000000e+03
Gazipur             112      2800.0  5.000000e+07
Gopalganj             1      4000.0  4.000000e+03
Habiganj              1  11898000.0  1.189800e+07
Jashore               2     10000.0  3.430000e+06
Khulna               35      2700.0  4.654800e+06
Kishoreganj           1   4621500.0  4.621500e+06
Kushtia               1      2700.0  2.700000e+03
Lakshmipur            1      6500.0  6.500000e+03
Madaripur             1     14000.0  1.400000e+04
Magura                3      4000.0  8.000000e+03
Manikganj             3   2807250.0  2.907000e+06
Mymensingh            5      5500.0  1.000000e+04
Naogaon               1      8000.0  8.000000e+03
Narayanganj          46      3500.0  2.000000e+07
Narayanganj City      1   6800000.0  6.800000e+06
Narsingdi             2     11000.0  4.020000e+06
Nilphamari            2      2000.0  2.200000e+03
Rajshahi             41      1000.0  8.500500e+06
Rangpur              44      2600.0  5.320000e+06
Shariatpur            1     14000.0  1.400000e+04
Sherpur               1   2430000.0  2.430000e+06
Sirajganj             1      8000.0  8.000000e+03
Sylhet               49      6000.0  1.500000e+07
Tangail               1      4000.0  4.000000e+03
Thakurgaon            7      1000.0  6.000000e+03

In [7]:
city_properties = data.groupby(["city", "division"]).area.agg([len])
city_properties

                               len
city             division
Bandarban        Chattogram      1
Barguna          Barisal         2
Barishal         Barisal       308
Bogura           Rajshahi        6
Brahmanbaria     Chattogram      2
Chandpur         Chattogram      3
Chattogram       Chattogram    883
Chittagong       Chattogram      4
Cumilla          Chattogram      4
Dhaka            Dhaka       17124
Dinajpur         Rangpur        53
Gaibandha        Rangpur         1
Gazipur          Dhaka         112
Gopalganj        Dhaka           1
Habiganj         Sylhet          1
Jashore          Khulna          2
Khulna           Khulna         35
Kishoreganj      Dhaka           1
Kushtia          Khulna          1
Lakshmipur       Unknown         1
Madaripur        Dhaka           1
Magura           Khulna          3
Manikganj        Dhaka           3
Mymensingh       Mymensingh      5
Naogaon          Rajshahi        1
Narayanganj      Dhaka          46
Narayanganj City Dhaka           1
Narsingdi        Dhaka           2
Nilphamari       Rangpur         2
Rajshahi         Rajshahi       41
Rangpur          Rangpur        44
Shariatpur       Dhaka           1
Sherpur          Mymensingh      1
Sirajganj        Rajshahi        1
Sylhet           Sylhet         49
Tangail          Dhaka           1
Thakurgaon       Rangpur         7

In [8]:
mi = city_properties.index
type(mi)

pandas.MultiIndex

In [9]:
city_properties.reset_index()

                city    division    len
0          Bandarban  Chattogram      1
1            Barguna     Barisal      2
2           Barishal     Barisal    308
3             Bogura    Rajshahi      6
4       Brahmanbaria  Chattogram      2
5           Chandpur  Chattogram      3
6         Chattogram  Chattogram    883
7         Chittagong  Chattogram      4
8            Cumilla  Chattogram      4
9              Dhaka       Dhaka  17124
10          Dinajpur     Rangpur     53
11         Gaibandha     Rangpur      1
12           Gazipur       Dhaka    112
13         Gopalganj       Dhaka      1
14          Habiganj      Sylhet      1
15           Jashore      Khulna      2
16            Khulna      Khulna     35
17       Kishoreganj       Dhaka      1
18           Kushtia      Khulna      1
19        Lakshmipur     Unknown      1
20         Madaripur       Dhaka      1
21            Magura      Khulna      3
22         Manikganj       Dhaka      3
23        Mymensingh  Mymensingh      5
24           Naogaon    Rajshahi      1
25       Narayanganj       Dhaka     46
26  Narayanganj City       Dhaka      1
27         Narsingdi       Dhaka      2
28        Nilphamari     Rangpur      2
29          Rajshahi    Rajshahi     41
30           Rangpur     Rangpur     44
31        Shariatpur       Dhaka      1
32           Sherpur  Mymensingh      1
33         Sirajganj    Rajshahi      1
34            Sylhet      Sylhet     49
35           Tangail       Dhaka      1
36        Thakurgaon     Rangpur      7

In [10]:
city_properties = city_properties.reset_index()
city_properties.sort_values(by="len")

                city    division    len
0          Bandarban  Chattogram      1
14          Habiganj      Sylhet      1
13         Gopalganj       Dhaka      1
11         Gaibandha     Rangpur      1
20         Madaripur       Dhaka      1
19        Lakshmipur     Unknown      1
18           Kushtia      Khulna      1
17       Kishoreganj       Dhaka      1
31        Shariatpur       Dhaka      1
24           Naogaon    Rajshahi      1
26  Narayanganj City       Dhaka      1
32           Sherpur  Mymensingh      1
33         Sirajganj    Rajshahi      1
35           Tangail       Dhaka      1
15           Jashore      Khulna      2
27         Narsingdi       Dhaka      2
4       Brahmanbaria  Chattogram      2
1            Barguna     Barisal      2
28        Nilphamari     Rangpur      2
5           Chandpur  Chattogram      3
21            Magura      Khulna      3
22         Manikganj       Dhaka      3
7         Chittagong  Chattogram      4
8            Cumilla  Chattogram      4
23        Mymensingh  Mymensingh      5
3             Bogura    Rajshahi      6
36        Thakurgaon     Rangpur      7
16            Khulna      Khulna     35
29          Rajshahi    Rajshahi     41
30           Rangpur     Rangpur     44
25       Narayanganj       Dhaka     46
34            Sylhet      Sylhet     49
10          Dinajpur     Rangpur     53
12           Gazipur       Dhaka    112
2           Barishal     Barisal    308
6         Chattogram  Chattogram    883
9              Dhaka       Dhaka  17124

In [11]:
city_properties.sort_values(by="len", ascending=False)

                city    division    len
9              Dhaka       Dhaka  17124
6         Chattogram  Chattogram    883
2           Barishal     Barisal    308
12           Gazipur       Dhaka    112
10          Dinajpur     Rangpur     53
34            Sylhet      Sylhet     49
25       Narayanganj       Dhaka     46
30           Rangpur     Rangpur     44
29          Rajshahi    Rajshahi     41
16            Khulna      Khulna     35
36        Thakurgaon     Rangpur      7
3             Bogura    Rajshahi      6
23        Mymensingh  Mymensingh      5
8            Cumilla  Chattogram      4
7         Chittagong  Chattogram      4
21            Magura      Khulna      3
22         Manikganj       Dhaka      3
5           Chandpur  Chattogram      3
27         Narsingdi       Dhaka      2
1            Barguna     Barisal      2
4       Brahmanbaria  Chattogram      2
15           Jashore      Khulna      2
28        Nilphamari     Rangpur      2
0          Bandarban  Chattogram      1
18           Kushtia      Khulna      1
13         Gopalganj       Dhaka      1
14          Habiganj      Sylhet      1
11         Gaibandha     Rangpur      1
17       Kishoreganj       Dhaka      1
20         Madaripur       Dhaka      1
19        Lakshmipur     Unknown      1
26  Narayanganj City       Dhaka      1
24           Naogaon    Rajshahi      1
32           Sherpur  Mymensingh      1
31        Shariatpur       Dhaka      1
33         Sirajganj    Rajshahi      1
35           Tangail       Dhaka      1

In [12]:
city_properties.sort_index()

                city    division    len
0          Bandarban  Chattogram      1
1            Barguna     Barisal      2
2           Barishal     Barisal    308
3             Bogura    Rajshahi      6
4       Brahmanbaria  Chattogram      2
5           Chandpur  Chattogram      3
6         Chattogram  Chattogram    883
7         Chittagong  Chattogram      4
8            Cumilla  Chattogram      4
9              Dhaka       Dhaka  17124
10          Dinajpur     Rangpur     53
11         Gaibandha     Rangpur      1
12           Gazipur       Dhaka    112
13         Gopalganj       Dhaka      1
14          Habiganj      Sylhet      1
15           Jashore      Khulna      2
16            Khulna      Khulna     35
17       Kishoreganj       Dhaka      1
18           Kushtia      Khulna      1
19        Lakshmipur     Unknown      1
20         Madaripur       Dhaka      1
21            Magura      Khulna      3
22         Manikganj       Dhaka      3
23        Mymensingh  Mymensingh      5
24           Naogaon    Rajshahi      1
25       Narayanganj       Dhaka     46
26  Narayanganj City       Dhaka      1
27         Narsingdi       Dhaka      2
28        Nilphamari     Rangpur      2
29          Rajshahi    Rajshahi     41
30           Rangpur     Rangpur     44
31        Shariatpur       Dhaka      1
32           Sherpur  Mymensingh      1
33         Sirajganj    Rajshahi      1
34            Sylhet      Sylhet     49
35           Tangail       Dhaka      1
36        Thakurgaon     Rangpur      7

In [13]:
city_properties.sort_values(by=["city", "len"])

                city    division    len
0          Bandarban  Chattogram      1
1            Barguna     Barisal      2
2           Barishal     Barisal    308
3             Bogura    Rajshahi      6
4       Brahmanbaria  Chattogram      2
5           Chandpur  Chattogram      3
6         Chattogram  Chattogram    883
7         Chittagong  Chattogram      4
8            Cumilla  Chattogram      4
9              Dhaka       Dhaka  17124
10          Dinajpur     Rangpur     53
11         Gaibandha     Rangpur      1
12           Gazipur       Dhaka    112
13         Gopalganj       Dhaka      1
14          Habiganj      Sylhet      1
15           Jashore      Khulna      2
16            Khulna      Khulna     35
17       Kishoreganj       Dhaka      1
18           Kushtia      Khulna      1
19        Lakshmipur     Unknown      1
20         Madaripur       Dhaka      1
21            Magura      Khulna      3
22         Manikganj       Dhaka      3
23        Mymensingh  Mymensingh      5
24           Naogaon    Rajshahi      1
25       Narayanganj       Dhaka     46
26  Narayanganj City       Dhaka      1
27         Narsingdi       Dhaka      2
28        Nilphamari     Rangpur      2
29          Rajshahi    Rajshahi     41
30           Rangpur     Rangpur     44
31        Shariatpur       Dhaka      1
32           Sherpur  Mymensingh      1
33         Sirajganj    Rajshahi      1
34            Sylhet      Sylhet     49
35           Tangail       Dhaka      1
36        Thakurgaon     Rangpur      7