In [1]:
import pandas as pd
city_df = pd.read_csv('/home/sukesh/Desktop/RealtyAI/B-13-RealtyAI-Smart-Real-Estate-Insight-Platform/dataset/City_time_series.csv',index_col=0)
pd.set_option('display.max_columns', 5)

In [5]:
city_df.groupby('RegionName').RegionName.count()

RegionName
abbevilleabbevillesc      96
abbevillehenryal          96
abbevillelafayettems     251
abbevillevermilionla     167
abbottstownadamspa       261
                        ...
zirconiahendersonnc      261
zolfo_springshardeefl    245
zumbro_fallswabashamn    261
zumbrotagoodhuemn        261
zuniisle_of_wightva      261
Name: RegionName, Length: 16636, dtype: int64

In [4]:
city_df.groupby('RegionName').ZHVI_MiddleTier.min()

RegionName
abbevilleabbevillesc          NaN
abbevillehenryal              NaN
abbevillelafayettems      76700.0
abbevillevermilionla          NaN
abbottstownadamspa        86100.0
                           ...
zirconiahendersonnc      109200.0
zolfo_springshardeefl     39700.0
zumbro_fallswabashamn    118900.0
zumbrotagoodhuemn         78100.0
zuniisle_of_wightva      102300.0
Name: ZHVI_MiddleTier, Length: 16636, dtype: float64

In [6]:
city_df.groupby('RegionName').apply(lambda x: x.ZHVI_MiddleTier.min())

RegionName
abbevilleabbevillesc          NaN
abbevillehenryal              NaN
abbevillelafayettems      76700.0
abbevillevermilionla          NaN
abbottstownadamspa        86100.0
                           ...
zirconiahendersonnc      109200.0
zolfo_springshardeefl     39700.0
zumbro_fallswabashamn    118900.0
zumbrotagoodhuemn         78100.0
zuniisle_of_wightva      102300.0
Length: 16636, dtype: float64

In [7]:
city_df.groupby('RegionName').ZHVI_MiddleTier.agg([len, min, max])

                       len       min       max
RegionName
abbevilleabbevillesc    96       NaN       NaN
abbevillehenryal        96       NaN       NaN
abbevillelafayettems   251       NaN       NaN
abbevillevermilionla   167       NaN       NaN
abbottstownadamspa     261       NaN       NaN
...                    ...       ...       ...
zirconiahendersonnc    261       NaN       NaN
zolfo_springshardeefl  245   39700.0  106300.0
zumbro_fallswabashamn  261       NaN       NaN
zumbrotagoodhuemn      261   78100.0  183700.0
zuniisle_of_wightva    261  102300.0  270200.0

[16636 rows x 3 columns]

In [5]:
var = city_df.groupby(['RegionName','ZHVI_AllHomes']).ZHVI_MiddleTier.agg([len, min, max])
var

                                    len       min       max
RegionName           ZHVI_AllHomes
abbevillelafayettems 76700.0          1   76700.0   76700.0
                     78300.0          1   78300.0   78300.0
                     78400.0          1   78400.0   78400.0
                     78700.0          1   78700.0   78700.0
                     78800.0          1   78800.0   78800.0
...                                 ...       ...       ...
zuniisle_of_wightva  264300.0         1  264300.0  264300.0
                     264400.0         1  264400.0  264400.0
                     267000.0         1  267000.0  267000.0
                     269100.0         1  269100.0  269100.0
                     270200.0         1  270200.0  270200.0

[2475272 rows x 3 columns]

In [6]:
mi = var.index
type(mi)

pandas.MultiIndex

In [7]:
var.reset_index()

                   RegionName  ZHVI_AllHomes  len       min       max
0        abbevillelafayettems        76700.0    1   76700.0   76700.0
1        abbevillelafayettems        78300.0    1   78300.0   78300.0
2        abbevillelafayettems        78400.0    1   78400.0   78400.0
3        abbevillelafayettems        78700.0    1   78700.0   78700.0
4        abbevillelafayettems        78800.0    1   78800.0   78800.0
...                       ...            ...  ...       ...       ...
2475267   zuniisle_of_wightva       264300.0    1  264300.0  264300.0
2475268   zuniisle_of_wightva       264400.0    1  264400.0  264400.0
2475269   zuniisle_of_wightva       267000.0    1  267000.0  267000.0
2475270   zuniisle_of_wightva       269100.0    1  269100.0  269100.0
2475271   zuniisle_of_wightva       270200.0    1  270200.0  270200.0

[2475272 rows x 5 columns]

In [9]:
var.sort_values(by='len', ascending=False)

                                             len       min       max
RegionName                    ZHVI_AllHomes
mountain_homeelmoreid         133500.0        88  133500.0  133500.0
drexelcassmo                  134500.0        85  134500.0  134500.0
winnfieldwinnla               78000.0         83   78000.0   78000.0
kimberlytwin_fallsid          180000.0        83  180000.0  180000.0
winnfieldwinnla               77900.0         83   77900.0   77900.0
...                                          ...       ...       ...
hawaiian_gardenslos_angelesca 259800.0         1  259800.0  259800.0
                              261300.0         1  261300.0  261300.0
                              263700.0         1  263700.0  263700.0
                              270300.0         1  270300.0  270300.0
                              251200.0         1  251200.0  251200.0

[2475272 rows x 3 columns]

In [10]:
var.sort_index()

                                    len       min       max
RegionName           ZHVI_AllHomes
abbevillelafayettems 76700.0          1   76700.0   76700.0
                     78300.0          1   78300.0   78300.0
                     78400.0          1   78400.0   78400.0
                     78700.0          1   78700.0   78700.0
                     78800.0          1   78800.0   78800.0
...                                 ...       ...       ...
zuniisle_of_wightva  264300.0         1  264300.0  264300.0
                     264400.0         1  264400.0  264400.0
                     267000.0         1  267000.0  267000.0
                     269100.0         1  269100.0  269100.0
                     270200.0         1  270200.0  270200.0

[2475272 rows x 3 columns]

In [11]:
var.sort_values(by=['len','RegionName'] )

                                     len       min       max
RegionName            ZHVI_AllHomes
abbevillelafayettems  76700.0          1   76700.0   76700.0
                      78300.0          1   78300.0   78300.0
                      78400.0          1   78400.0   78400.0
                      78700.0          1   78700.0   78700.0
                      78800.0          1   78800.0   78800.0
...                                  ...       ...       ...
kimberlytwin_fallsid  180000.0        83  180000.0  180000.0
winnfieldwinnla       77900.0         83   77900.0   77900.0
                      78000.0         83   78000.0   78000.0
drexelcassmo          134500.0        85  134500.0  134500.0
mountain_homeelmoreid 133500.0        88  133500.0  133500.0

[2475272 rows x 3 columns]