In [1]:
import pandas as pd
reviews = pd.read_csv("C:\\Users\\ruchi\\OneDrive\\Desktop\\data.csv", index_col=0)
pd.set_option('display.max_rows', 5)

In [2]:
reviews.price.dtype

dtype('float64')

In [3]:
reviews.dtypes

price       float64
bedrooms    float64
             ...
statezip        str
country         str
Length: 17, dtype: object

In [4]:
reviews.price.astype('float64')

date
2014-05-02 00:00:00     313000.0
2014-05-02 00:00:00    2384000.0
                         ...
2014-07-10 00:00:00     203400.0
2014-07-10 00:00:00     220600.0
Name: price, Length: 4600, dtype: float64

In [5]:
reviews.index.dtype

In [6]:
reviews[pd.isnull(reviews.country)]

Empty DataFrame
Columns: [price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, sqft_above, sqft_basement, yr_built, yr_renovated, street, city, statezip, country]
Index: []

In [7]:
reviews.bedrooms.fillna(2)

date
2014-05-02 00:00:00    3.0
2014-05-02 00:00:00    5.0
                      ...
2014-07-10 00:00:00    4.0
2014-07-10 00:00:00    3.0
Name: bedrooms, Length: 4600, dtype: float64

In [8]:
reviews.city.replace("Auburn", "newyork")

date
2014-05-02 00:00:00    Shoreline
2014-05-02 00:00:00      Seattle
                         ...
2014-07-10 00:00:00      Seattle
2014-07-10 00:00:00    Covington
Name: city, Length: 4600, dtype: str