In [1]:
import pandas as pd
data = pd.read_csv("../dataset/dataset.csv")

In [2]:
data.price.dtype

dtype('float64')

In [3]:
data.dtypes

area                                     float64
building_type                                str
building_nature                              str
num_bath_rooms                           float64
num_bed_rooms                            float64
price                                    float64
property_url                                 str
purpose                                      str
city                                         str
locality                                     str
address                                      str
id                                           str
relaxation_amenity_count                   int64
security_amenity_count                     int64
maintenance_or_cleaning_amenity_count      int64
social_amenity_count                       int64
expendable_amenity_count                   int64
service_staff_amenity_count                int64
unclassify_amenity_count                   int64
division                                     str
zone                                         str
price_per_sqft                           float64
dtype: object

In [4]:
data.price.astype("float64")

0        28900000.0
1        20000000.0
2        10800000.0
3        10500000.0
4         8000000.0
            ...
18749     3600000.0
18750     3600000.0
18751     4800000.0
18752     4800000.0
18753     2850000.0
Name: price, Length: 18754, dtype: float64

In [5]:
data.index.dtype

dtype('int64')

In [6]:
data[pd.isnull(data.city)]

Empty DataFrame
Columns: [area, building_type, building_nature, num_bath_rooms, num_bed_rooms, price, property_url, purpose, city, locality, address, id, relaxation_amenity_count, security_amenity_count, maintenance_or_cleaning_amenity_count, social_amenity_count, expendable_amenity_count, service_staff_amenity_count, unclassify_amenity_count, division, zone, price_per_sqft]
Index: []

[0 rows x 22 columns]

In [7]:
data.locality.fillna("Unknown")

0              Dhanmondi
1        Bashundhara R-A
2               Banasree
3                 Uttara
4               Sutrapur
              ...
18749    Bashundhara R.A
18750    Bashundhara R.A
18751    Bashundhara R.A
18752    Bashundhara R.A
18753             Adabor
Name: locality, Length: 18754, dtype: str

In [8]:
data.building_type.replace("Apartment", "Flat")

0          Flat
1          Flat
2          Flat
3          Flat
4          Flat
          ...
18749      Flat
18750      Flat
18751      Flat
18752      Flat
18753    Office
Name: building_type, Length: 18754, dtype: str