In [1]:
import pandas as pd
city_df = pd.read_csv('/home/sukesh/Desktop/RealtyAI/B-13-RealtyAI-Smart-Real-Estate-Insight-Platform/dataset/City_time_series.csv')

In [3]:
city_df.RegionName.dtype

In [4]:
city_df.dtypes

Date                                        str
RegionName                                  str
InventorySeasonallyAdjusted_AllHomes    float64
InventoryRaw_AllHomes                   float64
MedianListingPricePerSqft_1Bedroom      float64
                                         ...
ZRI_AllHomes                            float64
ZRI_AllHomesPlusMultifamily             float64
ZriPerSqft_AllHomes                     float64
Zri_MultiFamilyResidenceRental          float64
Zri_SingleFamilyResidenceRental         float64
Length: 81, dtype: object

In [5]:
city_df.InventorySeasonallyAdjusted_AllHomes.dtype

dtype('float64')

In [7]:
city_df.InventorySeasonallyAdjusted_AllHomes.astype('float64')

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
           ...
3762561    26.0
3762562     NaN
3762563     NaN
3762564    15.0
3762565     NaN
Name: InventorySeasonallyAdjusted_AllHomes, Length: 3762566, dtype: float64

In [8]:
city_df[pd.isnull(city_df.InventorySeasonallyAdjusted_AllHomes)]

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,1996-04-30,abbottstownadamspa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,108700.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,aberdeenbinghamid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,168400.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,aberdeenharfordmd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81300.0,137900.0,109600.0,108600.0,147900.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,aberdeenmonroems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74500.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,aberdeenmoorenc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,131100.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3762557,2017-12-31,zioncentrepa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,164900.0,NaN,215400.0,215700.0,292200.0,NaN,NaN,NaN,NaN,NaN
3762560,2017-12-31,zionvillewatauganc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,189200.0,189800.0,281100.0,1242.0,1236.0,0.846,NaN,1237.0
3762562,2017-12-31,zolfo_springshardeefl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,67600.0,79000.0,118600.0,NaN,NaN,NaN,NaN,NaN
3762563,2017-12-31,zumbro_fallswabashamn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157500.0,NaN,277000.0,277000.0,NaN,NaN,NaN,NaN,NaN,NaN
3762565,2017-12-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123700.0,NaN,216400.0,216400.0,301500.0,1305.0,1303.0,0.800,NaN,1303.0

In [10]:
city_df.InventorySeasonallyAdjusted_AllHomes.fillna("unknown")

0          unknown
1          unknown
2          unknown
3          unknown
4          unknown
            ...
3762561       26.0
3762562    unknown
3762563    unknown
3762564       15.0
3762565    unknown
Name: InventorySeasonallyAdjusted_AllHomes, Length: 3762566, dtype: object

In [11]:
city_df.RegionName.replace('abbottstownadamspa', 'abbottstown-adamstown-pa')

0          abbottstown-adamstown-pa
1                 aberdeenbinghamid
2                 aberdeenharfordmd
3                  aberdeenmonroems
4                   aberdeenmoorenc
                     ...
3762561         zirconiahendersonnc
3762562       zolfo_springshardeefl
3762563       zumbro_fallswabashamn
3762564           zumbrotagoodhuemn
3762565         zuniisle_of_wightva
Name: RegionName, Length: 3762566, dtype: str

# Real Estate Data Analysis Workflow

## Overview
This notebook processes and analyzes real estate time series data from the City_time_series.csv file.

## Data Loading
The dataset is loaded into a pandas DataFrame from the CSV file located at `/home/sukesh/Desktop/RealtyAI/B-13-RealtyAI-Smart-Real-Estate-Insight-Platform/dataset/City_time_series.csv`.

## Data Exploration

### Data Types Inspection
- Checked the data type of `RegionName` column
- Reviewed all column data types using `dtypes`
- Examined the data type of `InventorySeasonallyAdjusted_AllHomes` column

### Data Quality Assessment

#### Missing Values
Identified missing values in the `InventorySeasonallyAdjusted_AllHomes` column by filtering null entries.

#### Data Cleaning Tasks

1. **Convert to Numeric Type**: Converted `InventorySeasonallyAdjusted_AllHomes` to float64 for numerical analysis

2. **Handle Missing Values**: Filled null values in `InventorySeasonallyAdjusted_AllHomes` with "unknown" placeholder

3. **Standardize Region Names**: Fixed inconsistent region name formatting by replacing 'abbottstownadamspa' with the properly formatted 'abbottstown-adamstown-pa'

## Next Steps
Further analysis and visualization of the cleaned real estate data can be performed for insights into inventory trends and regional patterns.