In [2]:
import pandas as pd
data = pd.read_csv("../dataset/dataset.csv")

In [3]:
data.rename(columns={"price": "property_price"})

,area,building_type,building_nature,num_bath_rooms,num_bed_rooms,property_price,property_url,purpose,city,locality,...,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count,division,zone,price_per_sqft
0,2464.0,Apartment,Residential,4.0,3.0,28900000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Dhanmondi,...,1,2,1,1,3,3,4,Dhaka,Dhanmondi,11728.896104
1,1920.0,Apartment,Residential,3.0,3.0,20000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Bashundhara R-A,...,1,1,2,1,3,2,3,Dhaka,Bashundhara R/A,10416.666667
2,1445.0,Apartment,Residential,3.0,3.0,10800000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Banasree,...,1,2,2,1,1,3,4,Dhaka,Khilgaon,7474.048443
3,1475.0,Apartment,Residential,3.0,3.0,10500000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Uttara,...,1,2,3,1,3,3,4,Dhaka,Uttara,7118.644068
4,1066.0,Apartment,Residential,2.0,3.0,8000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Sutrapur,...,1,1,2,1,4,3,4,Dhaka,Sutrapur,7504.690432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18749,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,3,4,2,13,Dhaka,Bashundhara R/A,9600.000000
18750,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,2,1,1,4,2,1,Dhaka,Bashundhara R/A,9600.000000
18751,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,1,3,3,1,Dhaka,Bashundhara R/A,6000.000000
18752,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,1,1,1,2,1,Dhaka,Bashundhara R/A,6000.000000
18753,1600.0,Office,Commercial,3.0,3.0,2850000.0,https://www.thetolet.com/en/dhaka/adabor/31021...,Rent,Dhaka,Adabor,...,1,2,2,1,1,2,1,Dhaka,Mohammadpur,1781.250000

In [4]:
data.rename(index={0: "firstEntry", 1: "secondEntry"})

,area,building_type,building_nature,num_bath_rooms,num_bed_rooms,price,property_url,purpose,city,locality,...,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count,division,zone,price_per_sqft
firstEntry,2464.0,Apartment,Residential,4.0,3.0,28900000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Dhanmondi,...,1,2,1,1,3,3,4,Dhaka,Dhanmondi,11728.896104
secondEntry,1920.0,Apartment,Residential,3.0,3.0,20000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Bashundhara R-A,...,1,1,2,1,3,2,3,Dhaka,Bashundhara R/A,10416.666667
2,1445.0,Apartment,Residential,3.0,3.0,10800000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Banasree,...,1,2,2,1,1,3,4,Dhaka,Khilgaon,7474.048443
3,1475.0,Apartment,Residential,3.0,3.0,10500000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Uttara,...,1,2,3,1,3,3,4,Dhaka,Uttara,7118.644068
4,1066.0,Apartment,Residential,2.0,3.0,8000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Sutrapur,...,1,1,2,1,4,3,4,Dhaka,Sutrapur,7504.690432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18749,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,3,4,2,13,Dhaka,Bashundhara R/A,9600.000000
18750,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,2,1,1,4,2,1,Dhaka,Bashundhara R/A,9600.000000
18751,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,1,3,3,1,Dhaka,Bashundhara R/A,6000.000000
18752,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,1,1,1,2,1,Dhaka,Bashundhara R/A,6000.000000
18753,1600.0,Office,Commercial,3.0,3.0,2850000.0,https://www.thetolet.com/en/dhaka/adabor/31021...,Rent,Dhaka,Adabor,...,1,2,2,1,1,2,1,Dhaka,Mohammadpur,1781.250000

In [5]:
data.rename_axis("properties", axis="rows").rename_axis("features", axis="columns")

features,area,building_type,building_nature,num_bath_rooms,num_bed_rooms,price,property_url,purpose,city,locality,...,relaxation_amenity_count,security_amenity_count,maintenance_or_cleaning_amenity_count,social_amenity_count,expendable_amenity_count,service_staff_amenity_count,unclassify_amenity_count,division,zone,price_per_sqft
properties,,,,,,,,,,,,,,,,,,,,,
0,2464.0,Apartment,Residential,4.0,3.0,28900000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Dhanmondi,...,1,2,1,1,3,3,4,Dhaka,Dhanmondi,11728.896104
1,1920.0,Apartment,Residential,3.0,3.0,20000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Bashundhara R-A,...,1,1,2,1,3,2,3,Dhaka,Bashundhara R/A,10416.666667
2,1445.0,Apartment,Residential,3.0,3.0,10800000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Banasree,...,1,2,2,1,1,3,4,Dhaka,Khilgaon,7474.048443
3,1475.0,Apartment,Residential,3.0,3.0,10500000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Uttara,...,1,2,3,1,3,3,4,Dhaka,Uttara,7118.644068
4,1066.0,Apartment,Residential,2.0,3.0,8000000.0,https://www.bproperty.com/en/property/details-...,Sale,Dhaka,Sutrapur,...,1,1,2,1,4,3,4,Dhaka,Sutrapur,7504.690432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18749,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,3,4,2,13,Dhaka,Bashundhara R/A,9600.000000
18750,375.0,Apartment,Residential,1.0,1.0,3600000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,2,1,1,4,2,1,Dhaka,Bashundhara R/A,9600.000000
18751,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,2,1,3,3,1,Dhaka,Bashundhara R/A,6000.000000
18752,800.0,Apartment,Residential,2.0,2.0,4800000.0,https://www.thetolet.com/en/dhaka/bashundhara-...,Rent,Dhaka,Bashundhara R.A,...,1,1,1,1,1,2,1,Dhaka,Bashundhara R/A,6000.000000
18753,1600.0,Office,Commercial,3.0,3.0,2850000.0,https://www.thetolet.com/en/dhaka/adabor/31021...,Rent,Dhaka,Adabor,...,1,2,2,1,1,2,1,Dhaka,Mohammadpur,1781.250000