In [1]:
import pandas as pd
city_df = pd.read_csv('/home/sukesh/Desktop/RealtyAI/B-13-RealtyAI-Smart-Real-Estate-Insight-Platform/dataset/City_time_series.csv')

In [3]:
city_df.rename(columns={'Date': 'Y-M-D'})

,Y-M-D,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
0,1996-04-30,abbottstownadamspa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,108700.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,aberdeenbinghamid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,168400.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,aberdeenharfordmd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81300.0,137900.0,109600.0,108600.0,147900.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,aberdeenmonroems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74500.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,aberdeenmoorenc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,131100.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3762561,2017-12-31,zirconiahendersonnc,26.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,...,149200.0,NaN,237500.0,237600.0,433800.0,1340.0,1335.0,0.866,NaN,1336.0
3762562,2017-12-31,zolfo_springshardeefl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,67600.0,79000.0,118600.0,NaN,NaN,NaN,NaN,NaN
3762563,2017-12-31,zumbro_fallswabashamn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157500.0,NaN,277000.0,277000.0,NaN,NaN,NaN,NaN,NaN,NaN
3762564,2017-12-31,zumbrotagoodhuemn,15.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,136700.0,NaN,183700.0,183700.0,261300.0,1340.0,1337.0,1.084,NaN,1338.0
3762565,2017-12-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123700.0,NaN,216400.0,216400.0,301500.0,1305.0,1303.0,0.800,NaN,1303.0

In [4]:
city_df.rename(index={0: 'first_row', 1: 'second_row'})

,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
first_row,1996-04-30,abbottstownadamspa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,108700.0,NaN,NaN,NaN,NaN,NaN
second_row,1996-04-30,aberdeenbinghamid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,168400.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,aberdeenharfordmd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81300.0,137900.0,109600.0,108600.0,147900.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,aberdeenmonroems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74500.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,aberdeenmoorenc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,131100.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3762561,2017-12-31,zirconiahendersonnc,26.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,...,149200.0,NaN,237500.0,237600.0,433800.0,1340.0,1335.0,0.866,NaN,1336.0
3762562,2017-12-31,zolfo_springshardeefl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,67600.0,79000.0,118600.0,NaN,NaN,NaN,NaN,NaN
3762563,2017-12-31,zumbro_fallswabashamn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157500.0,NaN,277000.0,277000.0,NaN,NaN,NaN,NaN,NaN,NaN
3762564,2017-12-31,zumbrotagoodhuemn,15.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,136700.0,NaN,183700.0,183700.0,261300.0,1340.0,1337.0,1.084,NaN,1338.0
3762565,2017-12-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123700.0,NaN,216400.0,216400.0,301500.0,1305.0,1303.0,0.800,NaN,1303.0

In [5]:
city_df.rename_axis("rows", axis='rows').rename_axis("columns", axis='columns')

columns,Date,RegionName,InventorySeasonallyAdjusted_AllHomes,InventoryRaw_AllHomes,MedianListingPricePerSqft_1Bedroom,MedianListingPricePerSqft_2Bedroom,MedianListingPricePerSqft_3Bedroom,MedianListingPricePerSqft_4Bedroom,MedianListingPricePerSqft_5BedroomOrMore,MedianListingPricePerSqft_AllHomes,...,ZHVI_BottomTier,ZHVI_CondoCoop,ZHVI_MiddleTier,ZHVI_SingleFamilyResidence,ZHVI_TopTier,ZRI_AllHomes,ZRI_AllHomesPlusMultifamily,ZriPerSqft_AllHomes,Zri_MultiFamilyResidenceRental,Zri_SingleFamilyResidenceRental
rows,,,,,,,,,,,,,,,,,,,,,
0,1996-04-30,abbottstownadamspa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,108700.0,NaN,NaN,NaN,NaN,NaN
1,1996-04-30,aberdeenbinghamid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,168400.0,NaN,NaN,NaN,NaN,NaN
2,1996-04-30,aberdeenharfordmd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,81300.0,137900.0,109600.0,108600.0,147900.0,NaN,NaN,NaN,NaN,NaN
3,1996-04-30,aberdeenmonroems,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,74500.0,NaN,NaN,NaN,NaN,NaN
4,1996-04-30,aberdeenmoorenc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,131100.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3762561,2017-12-31,zirconiahendersonnc,26.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,...,149200.0,NaN,237500.0,237600.0,433800.0,1340.0,1335.0,0.866,NaN,1336.0
3762562,2017-12-31,zolfo_springshardeefl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,67600.0,79000.0,118600.0,NaN,NaN,NaN,NaN,NaN
3762563,2017-12-31,zumbro_fallswabashamn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,157500.0,NaN,277000.0,277000.0,NaN,NaN,NaN,NaN,NaN,NaN
3762564,2017-12-31,zumbrotagoodhuemn,15.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,136700.0,NaN,183700.0,183700.0,261300.0,1340.0,1337.0,1.084,NaN,1338.0
3762565,2017-12-31,zuniisle_of_wightva,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,123700.0,NaN,216400.0,216400.0,301500.0,1305.0,1303.0,0.800,NaN,1303.0