In [1]:
import pandas as pd
pd.set_option('display.max_rows', 5)
reviews = pd.read_csv("C:\\Users\\ruchi\\OneDrive\\Desktop\\data.csv", index_col=0)

In [2]:
reviews.rename(columns={'price': 'floors'})

,floors,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-07-10 00:00:00,203400.0,4.0,2.0,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
2014-07-10 00:00:00,220600.0,3.0,2.5,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [3]:
reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
date,,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-07-10 00:00:00,203400.0,4.0,2.0,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
2014-07-10 00:00:00,220600.0,3.0,2.5,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [4]:
reviews.rename_axis("wines", axis='rows').rename_axis("fields", axis='columns')

fields,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
wines,,,,,,,,,,,,,,,,,
2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-07-10 00:00:00,203400.0,4.0,2.0,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
2014-07-10 00:00:00,220600.0,3.0,2.5,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [6]:
canadian_youtube = pd.read_csv("C:\\Users\\ruchi\\OneDrive\\Desktop\\data.csv")
british_youtube = pd.read_csv("C:\\Users\\ruchi\\OneDrive\\Desktop\\data.csv")

pd.concat([canadian_youtube, british_youtube])

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.5,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.5,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4598,2014-07-10 00:00:00,203400.0,4.0,2.0,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4599,2014-07-10 00:00:00,220600.0,3.0,2.5,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [7]:
left = canadian_youtube.set_index(['city', 'street'])
right = british_youtube.set_index(['city', 'street'])

left.join(right, lsuffix='_CAN', rsuffix='_UK')

                                           date_CAN  price_CAN  bedrooms_CAN  \
city      street
Shoreline 18810 Densmore Ave N  2014-05-02 00:00:00   313000.0           3.0
Seattle   709 W Blaine St       2014-05-02 00:00:00  2384000.0           5.0
...                                             ...        ...           ...
          5148 S Creston St     2014-07-10 00:00:00   203400.0           4.0
Covington 18717 SE 258th St     2014-07-10 00:00:00   220600.0           3.0

                                bathrooms_CAN  sqft_living_CAN  sqft_lot_CAN  \
city      street
Shoreline 18810 Densmore Ave N            1.5             1340          7912
Seattle   709 W Blaine St                 2.5             3650          9050
...                                       ...              ...           ...
          5148 S Creston St               2.0             2090          6630
Covington 18717 SE 258th St               2.5             1490          8102

                                floors_CAN  waterfront_CAN  view_CAN  \
city      street
Shoreline 18810 Densmore Ave N         1.5               0         0
Seattle   709 W Blaine St              2.0               0         4
...                                    ...             ...       ...
          5148 S Creston St            1.0               0         0
Covington 18717 SE 258th St            2.0               0         0

                                condition_CAN  ...  floors_UK  waterfront_UK  \
city      street                               ...
Shoreline 18810 Densmore Ave N              3  ...        1.5              0
Seattle   709 W Blaine St                   5  ...        2.0              0
...                                       ...  ...        ...            ...
          5148 S Creston St                 3  ...        1.0              0
Covington 18717 SE 258th St                 4  ...        2.0              0

                                view_UK  condition_UK sqft_above_UK  \
city      street
Shoreline 18810 Densmore Ave N        0             3          1340
Seattle   709 W Blaine St             4             5          3370
...                                 ...           ...           ...
          5148 S Creston St           0             3          1070
Covington 18717 SE 258th St           0             4          1490

                               sqft_basement_UK yr_built_UK  yr_renovated_UK  \
city      street
Shoreline 18810 Densmore Ave N                0        1955             2005
Seattle   709 W Blaine St                   280        1921                0
...                                         ...         ...              ...
          5148 S Creston St                1020        1974                0
Covington 18717 SE 258th St                   0        1990                0

                                statezip_UK  country_UK
city      street
Shoreline 18810 Densmore Ave N     WA 98133         USA
Seattle   709 W Blaine St          WA 98119         USA
...                                     ...         ...
          5148 S Creston St        WA 98178         USA
Covington 18717 SE 258th St        WA 98042         USA

[4756 rows x 32 columns]