In [1]:
import pandas as pd
df=pd.read_csv("chapter4.csv")

In [2]:
df.dtypes

Unnamed: 0         int64
Title             object
Price              int64
Area              object
Category          object
Size              object
Bedrooms           int64
Bathrooms          int64
Price_Category    object
dtype: object

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7791 entries, 0 to 7790
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      7791 non-null   int64
 1   Title           7791 non-null   object
 2   Price           7791 non-null   int64
 3   Area            7791 non-null   object
 4   Category        7791 non-null   object
 5   Size            7791 non-null   object
 6   Bedrooms        7791 non-null   int64
 7   Bathrooms       7791 non-null   int64
 8   Price_Category  7791 non-null   object
dtypes: int64(4), object(5)
memory usage: 547.9+ KB

In [4]:
df.isnull().sum()

Unnamed: 0        0
Title             0
Price             0
Area              0
Category          0
Size              0
Bedrooms          0
Bathrooms         0
Price_Category    0
dtype: int64

In [5]:
df["Price_Category"].unique()

array(['Low', 'Medium', 'High'], dtype=object)

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df["Area"].str.strip()

0               AMPANG
1               AMPANG
2               AMPANG
3               AMPANG
4               AMPANG
             ...
7786    TAMAN MELAWATI
7787    TAMAN MELAWATI
7788    TAMAN MELAWATI
7789    TAMAN MELAWATI
7790    TAMAN MELAWATI
Name: Area, Length: 7791, dtype: object

In [8]:
df["Title"].str.strip()

0       M City Serviced Residence Jalan Ampang 886sf, ...
1       Cheapest fully furnished suria jelatek residen...
2       3bed 2bath Suria Jelatek Condo 5 min to LRT an...
3       [30% Below,1037sf] Direct Subsale not Auction!...
4       HOT area | Tiara Ampang | Near Ampang Point | ...
                              ...
7786    [FIRE SALE]SERINI MELAWATI|STUDIO|FREEHOLD|the...
7787    [Serini Condominium Taman Melawati] NICE VIEW!...
7788    (STRATA!!) Desaku 3 Condominium, Taman Melawat...
7789                                      Serini for sale
7790      Gaya, Studio Unit, near Melawati Mall for sale.
Name: Title, Length: 7791, dtype: object

In [9]:
df["Area"].str.title()

0               Ampang
1               Ampang
2               Ampang
3               Ampang
4               Ampang
             ...
7786    Taman Melawati
7787    Taman Melawati
7788    Taman Melawati
7789    Taman Melawati
7790    Taman Melawati
Name: Area, Length: 7791, dtype: object

In [10]:
df["Size"].str.extract(r"(\d+)").astype(int)

         0
0      886
1      858
2      860
3     1037
4     1650
...    ...
7786   669
7787   836
7788   883
7789   836
7790   490

[7791 rows x 1 columns]

In [11]:
df[df["Size"].str.contains("sq.ft", na=False)]

,Unnamed: 0,Title,Price,Area,Category,Size,Bedrooms,Bathrooms,Price_Category
0,0,"M City Serviced Residence Jalan Ampang 886sf, ...",690000,AMPANG,Apartments,886 sq.ft.,2,2,Low
1,1,Cheapest fully furnished suria jelatek residen...,420000,AMPANG,Apartments,858 sq.ft.,3,2,Low
2,2,3bed 2bath Suria Jelatek Condo 5 min to LRT an...,420000,AMPANG,Apartments,860 sq.ft.,3,2,Low
3,3,"[30% Below,1037sf] Direct Subsale not Auction!...",568444,AMPANG,Apartments,1037 sq.ft.,3,2,Low
4,4,HOT area | Tiara Ampang | Near Ampang Point | ...,618000,AMPANG,Apartments,1650 sq.ft.,4,2,Low
...,...,...,...,...,...,...,...,...,...
7786,7786,[FIRE SALE]SERINI MELAWATI|STUDIO|FREEHOLD|the...,390000,TAMAN MELAWATI,Apartments,669 sq.ft.,2,1,Low
7787,7787,[Serini Condominium Taman Melawati] NICE VIEW!...,585000,TAMAN MELAWATI,Apartments,836 sq.ft.,2,2,Low
7788,7788,"(STRATA!!) Desaku 3 Condominium, Taman Melawat...",310000,TAMAN MELAWATI,Apartments,883 sq.ft.,3,2,Low
7789,7789,Serini for sale,595000,TAMAN MELAWATI,Apartments,836 sq.ft.,2,2,Low
7790,7790,"Gaya, Studio Unit, near Melawati Mall for sale.",360000,TAMAN MELAWATI,Apartments,490 sq.ft.,1,1,Low

In [16]:
df["Size"] = df["Size"].astype(str)
df["Size"] = df["Size"].str.replace(r"[^\d]", "", regex=True)
df["Size"] = df["Size"].astype(int)

In [18]:
df["Size"]

0        886
1        858
2        860
3       1037
4       1650
        ...
7786     669
7787     836
7788     883
7789     836
7790     490
Name: Size, Length: 7791, dtype: int64

In [19]:
df["Size"].dtype

dtype('int64')

In [20]:
df["Price_per_sqft"]=df["Price"]/df["Size"]
print(df[["Price", "Size", "Price_per_sqft"]].head())

    Price  Size  Price_per_sqft
0  690000   886      778.781038
1  420000   858      489.510490
2  420000   860      488.372093
3  568444  1037      548.162006
4  618000  1650      374.545455

In [21]:
df["Price_per_sqft"].round(3)

0       778.781
1       489.510
2       488.372
3       548.162
4       374.545
         ...
7786    582.960
7787    699.761
7788    351.076
7789    711.722
7790    734.694
Name: Price_per_sqft, Length: 7791, dtype: float64

In [22]:
df.to_csv("chapter5.csv", index=False)