In [2]:
import pandas as pd
df=pd.read_csv("chapter1.csv")

In [3]:
df.iloc[0]

Title        M City Serviced Residence Jalan Ampang 886sf, ...
Price                                                   690000
Area                                                    AMPANG
Category                                            Apartments
Size                                                886 sq.ft.
Bedrooms                                            2 Bedrooms
Bathrooms                                          2 Bathrooms
Name: 0, dtype: object

In [4]:
df.iloc[:10]

,Title,Price,Area,Category,Size,Bedrooms,Bathrooms
0,"M City Serviced Residence Jalan Ampang 886sf, ...",690000,AMPANG,Apartments,886 sq.ft.,2 Bedrooms,2 Bathrooms
1,Cheapest fully furnished suria jelatek residen...,420000,AMPANG,Apartments,858 sq.ft.,3 Bedrooms,2 Bathrooms
2,3bed 2bath Suria Jelatek Condo 5 min to LRT an...,420000,AMPANG,Apartments,860 sq.ft.,3 Bedrooms,2 Bathrooms
3,"[30% Below,1037sf] Direct Subsale not Auction!...",568444,AMPANG,Apartments,1037 sq.ft.,3 Bedrooms,2 Bathrooms
4,HOT area | Tiara Ampang | Near Ampang Point | ...,618000,AMPANG,Apartments,1650 sq.ft.,4 Bedrooms,2 Bathrooms
5,HOT area | City Garden Orchid Court | Taman Ni...,428000,AMPANG,Apartments,1250 sq.ft.,4 Bedrooms,2 Bathrooms
6,100%LOAN SemiFurnish 705sf The Elements Condo ...,450000,AMPANG,Apartments,705 sq.ft.,1 Bedroom,1 Bathroom
7,Tiara Duta Condo G Floor 3R2B Taman Dangan Jay...,368000,AMPANG,Apartments,957 sq.ft.,3 Bedrooms,2 Bathrooms
8,Cheapest Suria Jelatek Residence Ampang Hilir ...,525000,AMPANG,Apartments,1420 sq.ft.,3 Bedrooms,2 Bathrooms
9,1865sf LAKE VIEW Impiana On The Waterfront Con...,680000,AMPANG,Apartments,1865 sq.ft.,5 Bedrooms,4 Bathrooms

In [5]:
df.iloc[[0,2,5]]

,Title,Price,Area,Category,Size,Bedrooms,Bathrooms
0,"M City Serviced Residence Jalan Ampang 886sf, ...",690000,AMPANG,Apartments,886 sq.ft.,2 Bedrooms,2 Bathrooms
2,3bed 2bath Suria Jelatek Condo 5 min to LRT an...,420000,AMPANG,Apartments,860 sq.ft.,3 Bedrooms,2 Bathrooms
5,HOT area | City Garden Orchid Court | Taman Ni...,428000,AMPANG,Apartments,1250 sq.ft.,4 Bedrooms,2 Bathrooms

In [6]:
df.loc[[0, 1, 10], ["Title", "Price", "Bedrooms"]]

                                                Title   Price    Bedrooms
0   M City Serviced Residence Jalan Ampang 886sf, ...  690000  2 Bedrooms
1   Cheapest fully furnished suria jelatek residen...  420000  3 Bedrooms
10  FULLY FURNISHED Suria Jelatek Residence Condo ...  420000  3 Bedrooms

In [7]:
df.loc[df.Price > 500000]

,Title,Price,Area,Category,Size,Bedrooms,Bathrooms
0,"M City Serviced Residence Jalan Ampang 886sf, ...",690000,AMPANG,Apartments,886 sq.ft.,2 Bedrooms,2 Bathrooms
3,"[30% Below,1037sf] Direct Subsale not Auction!...",568444,AMPANG,Apartments,1037 sq.ft.,3 Bedrooms,2 Bathrooms
4,HOT area | Tiara Ampang | Near Ampang Point | ...,618000,AMPANG,Apartments,1650 sq.ft.,4 Bedrooms,2 Bathrooms
8,Cheapest Suria Jelatek Residence Ampang Hilir ...,525000,AMPANG,Apartments,1420 sq.ft.,3 Bedrooms,2 Bathrooms
9,1865sf LAKE VIEW Impiana On The Waterfront Con...,680000,AMPANG,Apartments,1865 sq.ft.,5 Bedrooms,4 Bathrooms
...,...,...,...,...,...,...,...
7771,[FOR SALE] THE VEO MELAWATI|FREEHOLD|2 carpark...,1000000,TAMAN MELAWATI,Apartments,1442 sq.ft.,2 Bedrooms,2 Bathrooms
7783,"[RENOVATED] 3 Residen Condominium, Desa Melawa...",580000,TAMAN MELAWATI,Apartments,1209 sq.ft.,3 Bedrooms,2 Bathrooms
7785,[FOR SALE]SERINI MELAWATI|3BED 2BATH|FREEHOLD|...,630000,TAMAN MELAWATI,Apartments,1098 sq.ft.,3 Bedrooms,2 Bathrooms
7787,[Serini Condominium Taman Melawati] NICE VIEW!...,585000,TAMAN MELAWATI,Apartments,836 sq.ft.,2 Bedrooms,2 Bathrooms
7789,Serini for sale,595000,TAMAN MELAWATI,Apartments,836 sq.ft.,2 Bedrooms,2 Bathrooms

In [8]:
df["Bedrooms"].str.replace("Bedrooms","Bedroom")

0       2 Bedroom
1       3 Bedroom
2       3 Bedroom
3       3 Bedroom
4       4 Bedroom
          ...
7786    2 Bedroom
7787    2 Bedroom
7788    3 Bedroom
7789    2 Bedroom
7790    1 Bedroom
Name: Bedrooms, Length: 7791, dtype: object

In [9]:
df["Bedrooms"].str.replace(r"Bedrooms?|Bedroom", "", regex=True).str.strip()

0       2
1       3
2       3
3       3
4       4
       ..
7786    2
7787    2
7788    3
7789    2
7790    1
Name: Bedrooms, Length: 7791, dtype: object

In [10]:
df["Bathrooms"].str.replace(r"Bathrooms?|Bathroom", "", regex=True).str.strip()

0       2
1       2
2       2
3       2
4       2
       ..
7786    1
7787    2
7788    2
7789    2
7790    1
Name: Bathrooms, Length: 7791, dtype: object

In [11]:
df["Bathrooms"]

0       2 Bathrooms
1       2 Bathrooms
2       2 Bathrooms
3       2 Bathrooms
4       2 Bathrooms
           ...
7786     1 Bathroom
7787    2 Bathrooms
7788    2 Bathrooms
7789    2 Bathrooms
7790     1 Bathroom
Name: Bathrooms, Length: 7791, dtype: object

In [12]:
df["Bathrooms"]=df["Bathrooms"].str.replace(r"Bathrooms?|Bathroom", "", regex=True).str.strip()

In [13]:
df["Bathrooms"]

0       2
1       2
2       2
3       2
4       2
       ..
7786    1
7787    2
7788    2
7789    2
7790    1
Name: Bathrooms, Length: 7791, dtype: object

In [14]:
df["Bedrooms"]=df["Bedrooms"].str.replace(r"Bedrooms?|Bedroom", "", regex=True).str.strip()

In [16]:
df["Bedrooms"]

0       2
1       3
2       3
3       3
4       4
       ..
7786    2
7787    2
7788    3
7789    2
7790    1
Name: Bedrooms, Length: 7791, dtype: object

In [23]:
df.loc[df.Area.notnull()]

,Title,Price,Area,Category,Size,Bedrooms,Bathrooms
0,"M City Serviced Residence Jalan Ampang 886sf, ...",690000,AMPANG,Apartments,886 sq.ft.,2,2
1,Cheapest fully furnished suria jelatek residen...,420000,AMPANG,Apartments,858 sq.ft.,3,2
2,3bed 2bath Suria Jelatek Condo 5 min to LRT an...,420000,AMPANG,Apartments,860 sq.ft.,3,2
3,"[30% Below,1037sf] Direct Subsale not Auction!...",568444,AMPANG,Apartments,1037 sq.ft.,3,2
4,HOT area | Tiara Ampang | Near Ampang Point | ...,618000,AMPANG,Apartments,1650 sq.ft.,4,2
...,...,...,...,...,...,...,...
7786,[FIRE SALE]SERINI MELAWATI|STUDIO|FREEHOLD|the...,390000,TAMAN MELAWATI,Apartments,669 sq.ft.,2,1
7787,[Serini Condominium Taman Melawati] NICE VIEW!...,585000,TAMAN MELAWATI,Apartments,836 sq.ft.,2,2
7788,"(STRATA!!) Desaku 3 Condominium, Taman Melawat...",310000,TAMAN MELAWATI,Apartments,883 sq.ft.,3,2
7789,Serini for sale,595000,TAMAN MELAWATI,Apartments,836 sq.ft.,2,2
7790,"Gaya, Studio Unit, near Melawati Mall for sale.",360000,TAMAN MELAWATI,Apartments,490 sq.ft.,1,1

In [24]:
df.iloc[-10:]

,Title,Price,Area,Category,Size,Bedrooms,Bathrooms
7781,[[GROUND FLOOR]] Apartment Pesona Villa Kemens...,360000,TAMAN MELAWATI,Apartments,856 sq.ft.,3,2
7782,"FACING KL, RENO | Saville Melawati Service Res...",450000,TAMAN MELAWATI,Apartments,1007 sq.ft.,3,2
7783,"[RENOVATED] 3 Residen Condominium, Desa Melawa...",580000,TAMAN MELAWATI,Apartments,1209 sq.ft.,3,2
7784,(FREEHOLD) DESAKU 3 CONDOMINI Taman Melawati,310000,TAMAN MELAWATI,Apartments,883 sq.ft.,3,2
7785,[FOR SALE]SERINI MELAWATI|3BED 2BATH|FREEHOLD|...,630000,TAMAN MELAWATI,Apartments,1098 sq.ft.,3,2
7786,[FIRE SALE]SERINI MELAWATI|STUDIO|FREEHOLD|the...,390000,TAMAN MELAWATI,Apartments,669 sq.ft.,2,1
7787,[Serini Condominium Taman Melawati] NICE VIEW!...,585000,TAMAN MELAWATI,Apartments,836 sq.ft.,2,2
7788,"(STRATA!!) Desaku 3 Condominium, Taman Melawat...",310000,TAMAN MELAWATI,Apartments,883 sq.ft.,3,2
7789,Serini for sale,595000,TAMAN MELAWATI,Apartments,836 sq.ft.,2,2
7790,"Gaya, Studio Unit, near Melawati Mall for sale.",360000,TAMAN MELAWATI,Apartments,490 sq.ft.,1,1

In [25]:
df.to_csv("chapter2.csv", index="False")