In [1]:
import pandas as pd
housing = pd.read_csv("C:/Users/munur/Documents/GitHub/B-13-RealtyAI-Smart-Real-Estate-Insight-Platform/datasets/real_estate_dataset.csv")
pd.set_option('display.max_rows', 5)

In [2]:
housing.price.dtype

dtype('float64')

In [3]:
housing.dtypes

url                 str
beds              int64
                 ...
price           float64
neighborhood        str
Length: 9, dtype: object

In [4]:
housing.beds.astype('float64')

0      0.0
1      2.0
      ...
285    1.0
286    3.0
Name: beds, Length: 287, dtype: float64

In [5]:
housing.index.dtype

dtype('int64')

-Missing data

In [7]:
housing[pd.isnull(housing.city)]

Empty DataFrame
Columns: [url, beds, city, date, size, type, baths, price, neighborhood]
Index: []

In [9]:
housing.url.fillna("Unknown")

0      https://www.99acres.com/residential-land-plot-...
1      https://www.99acres.com/2-bhk-bedroom-apartmen...
                             ...
285    https://www.99acres.com/1-bhk-bedroom-apartmen...
286    https://www.99acres.com/3-bhk-bedroom-apartmen...
Name: url, Length: 287, dtype: str

In [10]:
housing.neighborhood.replace("Whitefield", "white")

0           Jigani
1      Tumkur Road
          ...
285     Kirkatwadi
286      Mahalunge
Name: neighborhood, Length: 287, dtype: str