In [5]:
import pandas as pd
housing = pd.read_csv("C:/Users/munur/Documents/GitHub/B-13-RealtyAI-Smart-Real-Estate-Insight-Platform/datasets/real_estate_dataset.csv")
pd.set_option('display.max_rows', 5)

In [6]:
housing

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
...,...,...,...,...,...,...,...,...,...
285,https://www.99acres.com/1-bhk-bedroom-apartmen...,1,Pune,2025-02-17,640 sqft,Residential apartment,1,3500000.0,Kirkatwadi
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge

In [7]:
housing.city

0      Bangalore
1      Bangalore
         ...
285         Pune
286         Pune
Name: city, Length: 287, dtype: str

In [8]:
housing['city'][0]

'Bangalore'

-Indexing in pandas

In [9]:
housing.iloc[0]

url             https://www.99acres.com/residential-land-plot-...
beds                                                            0
                                      ...
price                                                   2317000.0
neighborhood                                               Jigani
Name: 0, Length: 9, dtype: object

In [10]:
housing.iloc[:, 0]

0      https://www.99acres.com/residential-land-plot-...
1      https://www.99acres.com/2-bhk-bedroom-apartmen...
                             ...
285    https://www.99acres.com/1-bhk-bedroom-apartmen...
286    https://www.99acres.com/3-bhk-bedroom-apartmen...
Name: url, Length: 287, dtype: str

In [11]:
housing.iloc[:3, 0]

0    https://www.99acres.com/residential-land-plot-...
1    https://www.99acres.com/2-bhk-bedroom-apartmen...
2    https://www.99acres.com/sumadhura-capitol-resi...
Name: url, dtype: str

In [12]:
housing.iloc[1:3, 0]

1    https://www.99acres.com/2-bhk-bedroom-apartmen...
2    https://www.99acres.com/sumadhura-capitol-resi...
Name: url, dtype: str

In [13]:
housing.iloc[[0, 1, 2], 0]

0    https://www.99acres.com/residential-land-plot-...
1    https://www.99acres.com/2-bhk-bedroom-apartmen...
2    https://www.99acres.com/sumadhura-capitol-resi...
Name: url, dtype: str

In [14]:
housing.iloc[-5:]

,url,beds,city,date,size,type,baths,price,neighborhood
282,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-01-19,840 sqft,Residential apartment,3,10000000.0,Manjari Khurd
283,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Pune,2025-02-13,690 sqft,Residential apartment,2,6500000.0,Punawale
284,https://www.99acres.com/6-bhk-bedroom-independ...,6,Pune,2025-01-19,840 sqft,Independent House/Villa,6,13500000.0,Katraj
285,https://www.99acres.com/1-bhk-bedroom-apartmen...,1,Pune,2025-02-17,640 sqft,Residential apartment,1,3500000.0,Kirkatwadi
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge

-label based selection

In [17]:
housing.loc[0,'city']

'Bangalore'

In [18]:
housing.loc[:, ['city', 'size', 'price']]

          city           size       price
0    Bangalore  799-1258 sqft   2317000.0
1    Bangalore      1085 sqft  12500000.0
..         ...            ...         ...
285       Pune       640 sqft   3500000.0
286       Pune       878 sqft  12000000.0

[287 rows x 3 columns]

-Manipulating the index

In [20]:
housing.set_index("city")

,url,beds,date,size,type,baths,price,neighborhood
city,,,,,,,,
Bangalore,https://www.99acres.com/residential-land-plot-...,0,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
Bangalore,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
...,...,...,...,...,...,...,...,...
Pune,https://www.99acres.com/1-bhk-bedroom-apartmen...,1,2025-02-17,640 sqft,Residential apartment,1,3500000.0,Kirkatwadi
Pune,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge

-conditional selection

In [23]:
housing.city == 'Pune'

0      False
1      False
       ...
285     True
286     True
Name: city, Length: 287, dtype: bool

In [24]:
housing.loc[housing.city=='Pune']

,url,beds,city,date,size,type,baths,price,neighborhood
278,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-18,1510 sqft,Residential apartment,3,16000000.0,Ghorpadi
279,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Pune,2025-01-19,1075 sqft,Residential apartment,2,13000000.0,Sinhgad Road
...,...,...,...,...,...,...,...,...,...
285,https://www.99acres.com/1-bhk-bedroom-apartmen...,1,Pune,2025-02-17,640 sqft,Residential apartment,1,3500000.0,Kirkatwadi
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge

In [ ]:
housing.loc[(housing.city == 'Pune') & (housing.beds >= 3)]

,url,beds,city,date,size,type,baths,price,neighborhood
278,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-18,1510 sqft,Residential apartment,3,16000000.0,Ghorpadi
280,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-05,1150 sqft,Residential apartment,2,9500000.0,Undri
282,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-01-19,840 sqft,Residential apartment,3,10000000.0,Manjari Khurd
284,https://www.99acres.com/6-bhk-bedroom-independ...,6,Pune,2025-01-19,840 sqft,Independent House/Villa,6,13500000.0,Katraj
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge

In [28]:
housing.loc[(housing.city == 'Pune') | (housing.beds >= 3)]

,url,beds,city,date,size,type,baths,price,neighborhood
2,https://www.99acres.com/sumadhura-capitol-resi...,3,Bangalore,2025-02-19,1525-2150 sqft,"3, 4 BHK Apartment",0,23200000.0,Whitefield
7,https://www.99acres.com/keya-life-by-the-lake-...,4,Bangalore,2025-02-19,0 sqft,"4, 5 BHK Villa",0,39800000.0,Hebbal
...,...,...,...,...,...,...,...,...,...
285,https://www.99acres.com/1-bhk-bedroom-apartmen...,1,Pune,2025-02-17,640 sqft,Residential apartment,1,3500000.0,Kirkatwadi
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge

In [31]:
housing.loc[housing.city.isin(['Bangalore', 'Pune'])]

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
...,...,...,...,...,...,...,...,...,...
285,https://www.99acres.com/1-bhk-bedroom-apartmen...,1,Pune,2025-02-17,640 sqft,Residential apartment,1,3500000.0,Kirkatwadi
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge

In [34]:
housing.loc[housing.price.notnull()]

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
...,...,...,...,...,...,...,...,...,...
285,https://www.99acres.com/1-bhk-bedroom-apartmen...,1,Pune,2025-02-17,640 sqft,Residential apartment,1,3500000.0,Kirkatwadi
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge

-Assigning data

In [35]:
housing['critic'] = 'everyone'
housing['critic']

0      everyone
1      everyone
         ...
285    everyone
286    everyone
Name: critic, Length: 287, dtype: str

In [37]:
housing['index_backwards'] = range(len(housing), 0, -1)
housing['index_backwards']

0      287
1      286
      ...
285      2
286      1
Name: index_backwards, Length: 287, dtype: int64