In [3]:
import pandas as pd
pd.set_option('display.max_rows', 5)
import numpy as np
housing = pd.read_csv("C:/Users/munur/Documents/GitHub/B-13-RealtyAI-Smart-Real-Estate-Insight-Platform/datasets/real_estate_dataset.csv")

In [4]:
housing

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,2,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
...,...,...,...,...,...,...,...,...,...
285,https://www.99acres.com/1-bhk-bedroom-apartmen...,1,Pune,2025-02-17,640 sqft,Residential apartment,1,3500000.0,Kirkatwadi
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,3,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge

In [7]:
housing.beds.describe()

count    287.000000
mean       2.156794
            ...
75%        3.000000
max       12.000000
Name: beds, Length: 8, dtype: float64

In [8]:
housing.city.describe()

count          287
unique          26
top       Kakinada
freq            37
Name: city, dtype: object

In [9]:
housing.beds.mean()

np.float64(2.156794425087108)

In [10]:
housing.city.unique()

<StringArray>
[    'Bangalore',       'Gurgaon',      'Kakinada', 'Visakhapatnam',
         'Kochi',         'Noida',   'Bhubaneswar',   'Gandhinagar',
   'Kanyakumari',    'Coimbatore',    'Vijayawada',    'Jalpaiguri',
     'Hyderabad',       'Lucknow',       'Chennai',        'Mumbai',
         'Thane',         'Delhi',        'Jaipur',         'Patna',
          'Agra',        'Guntur',  'Vizianagaram',     'Vikarabad',
   'Navi Mumbai',          'Pune']
Length: 26, dtype: str

In [11]:
housing.city.value_counts()

city
Kakinada         37
Visakhapatnam    25
                 ..
Vizianagaram      1
Vikarabad         1
Name: count, Length: 26, dtype: int64

-Maps

In [12]:
house_beds_mean = housing.beds.mean()
housing.beds.map(lambda p: p - house_beds_mean)

0     -2.156794
1     -0.156794
         ...
285   -1.156794
286    0.843206
Name: beds, Length: 287, dtype: float64

In [13]:
def remean_beds(row):
    row.beds = row.beds - house_beds_mean
    return row

housing.apply(remean_beds, axis='columns')

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,-2.156794,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani
1,https://www.99acres.com/2-bhk-bedroom-apartmen...,-0.156794,Bangalore,2025-02-19,1085 sqft,2 BHK Flat,2,12500000.0,Tumkur Road
...,...,...,...,...,...,...,...,...,...
285,https://www.99acres.com/1-bhk-bedroom-apartmen...,-1.156794,Pune,2025-02-17,640 sqft,Residential apartment,1,3500000.0,Kirkatwadi
286,https://www.99acres.com/3-bhk-bedroom-apartmen...,0.843206,Pune,2025-02-12,878 sqft,Residential apartment,3,12000000.0,Mahalunge

In [14]:
housing.head(1)

,url,beds,city,date,size,type,baths,price,neighborhood
0,https://www.99acres.com/residential-land-plot-...,0,Bangalore,2025-02-19,799-1258 sqft,Residential land / Plot,0,2317000.0,Jigani

In [16]:
house_beds_mean = housing.beds.mean()
housing.beds - house_beds_mean

0     -2.156794
1     -0.156794
         ...
285   -1.156794
286    0.843206
Name: beds, Length: 287, dtype: float64

In [19]:
housing.city + " - " + housing.url

0      Bangalore - https://www.99acres.com/residentia...
1      Bangalore - https://www.99acres.com/2-bhk-bedr...
                             ...
285    Pune - https://www.99acres.com/1-bhk-bedroom-a...
286    Pune - https://www.99acres.com/3-bhk-bedroom-a...
Length: 287, dtype: str